/* МУЗЫКАНТЫ ПЕРЕИМЕНОВАНИЕ */
.p-profiles-favorites .subheadline:nth-child(23) {
  font-size: 0;
}
.p-profiles-favorites .subheadline:nth-child(23)::after {
  content: "МУЗЫКАНТЫ";
  vertical-align: top;
  font-size: 14px;
}
/*
ANIME BAR - (2)
MANGA BAR - (5)
RANOBE BAR - (8)
MALE CHARS BAR - (11)
VA BAR - (14)
DIRECTOR BAR - (17)
MANGAKA BAR - (20)
MUSICIAN BAR - (23)
*/
/* НАСТРОЙКА СПИСКА */
.p-profiles-favorites .cc-favourites:last-child {
  display: flex;
  flex-wrap: wrap;
}
.p-profiles-favorites .cc-favourites:last-child::before {
  content: "ХУДОЖНИКИ";
  order: 1;
  flex: 1 0 100%;
  box-sizing: border-box;
  margin-bottom: 10.5px;
  /* оформление */
    border: none;
    border-radius: 13px;
    box-shadow: 0 2px 6px 2px rgba(0, 0, 0, 0.2);
    background: rgba(var(--block-color), 0.6);
    transition: 0.3s ease, -webkit-0 .3s ease, width 0s, margin 0s, padding 0s, font-size 0s, height 0s, top 0s, left 0s, line-height 0s, min-height 0s;
    font-size: 14px;
    color: rgba(var(--dark-color), 1);
    height: 28px;
    padding: 0 14px 0;
    display: flex;
    line-height: 1.5;
    justify-content: flex-start;
    align-items: center;
    text-align: left;
    position: relative;
    overflow: visible;
    font-family: "Comfortaa";
    font-style: normal;
    font-weight: 700;
    src: local("Comfortaa Bold"), local("Comfortaa-Bold"),
    url(https://fonts.gstatic.com/s/comfortaa/v10/fND5XPYKrF2tQDwwfWZJI5X5f-9o1vgP2EXwfjgl7AY.woff2) format("woff2");
    unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* СПИСОК ЛЮДЕЙ */
.p-profiles-favorites .c-person.entry-2967, /* AMANO */
.p-profiles-favorites .c-person.entry-33589, /* KANEKO */
.p-profiles-favorites .c-person.entry-46007, /* AKIHIKO YOSHIDA */
.p-profiles-favorites .c-person.entry-10875, /* TAKE */
.p-profiles-favorites .c-person.entry-48931, /* PABLO UCHIDA */
.p-profiles-favorites .c-person.entry-6987, /* NAOYUKI KATO */
.p-profiles-favorites .c-person.entry-2220, /* YOSHIKAZU YASUHIKO */
.p-profiles-favorites .c-person.entry-12279, /* SOEJIMA */
.p-profiles-favorites .c-person.entry-6450, /* HIROKAZU */
.p-profiles-favorites .c-person.entry-90613, /* YOJI SHINKAWA */
.p-profiles-favorites .c-person.entry-7314, /* AYAMI KOJIMA */
.p-profiles-favorites .c-person.entry-66224, /* NORIYOSHI ORAI */
.p-profiles-favorites .c-person.entry-3158, /* YOSHIYUKI SADAMOTO */
.p-profiles-favorites .c-person.entry-3445, /* RANGE MURATA */
.p-profiles-favorites .c-person.entry-8594, /* VOFAN */
.p-profiles-favorites .c-person.entry-10145, /* HUKE */
.p-profiles-favorites .c-person.entry-30431, /* MIKI SUGINA */
.p-profiles-favorites .c-person.entry-2832, /* YUSUKE KOZAKI */
.p-profiles-favorites .c-person.entry-1932, /* ITO OGURE */
.p-profiles-favorites .c-person.entry-66223, /* HAJIME SARAYAMA */
.p-profiles-favorites .c-person.entry-8430, /* MITSUMI INOMATA */
.p-profiles-favorites .c-person.entry-24539, /* KINU NISHIMURA */
.p-profiles-favorites .c-person.entry-5724, /* AKIO WATANABE */
.p-profiles-favorites .c-person.entry-5215, /* SHINICHI SAKAMOTO */
.p-profiles-favorites .c-person.entry-2609, /* MASAMUNE SHIROW */
.p-profiles-favorites .c-person.entry-40449, /* MASAKANE YONKURA */
.p-profiles-favorites .c-person.entry-8683, /* MOEBIUS */
.p-profiles-favorites .c-person.entry-3906, /* TAKUMA YOKOTA */
.p-profiles-favorites .c-person.entry-61271, /* TAKOLEGS */
.p-profiles-favorites .c-person.entry-2949, /* KATSUMI ENAMI */
.p-profiles-favorites .c-person.entry-4472, /* NAO EMOTO */
.p-profiles-favorites .c-person.entry-4435, /* KATSUYA TERADA */
.p-profiles-favorites .c-person.entry-14881, /* HIDARI */
.p-profiles-favorites .c-person.entry-36846, /* TADANORI YOKOO */
.p-profiles-favorites .c-person.entry-27517, /* KINAKO */
.p-profiles-favorites .c-person.entry-30313, /* NAMANIKU ATK */
.p-profiles-favorites .c-person.entry-7757, /* HIROKI HARUSE */
.p-profiles-favorites .c-person.entry-5547, /* SHINTARO KAGO */
.p-profiles-favorites .c-person.entry-6953, /* KEITA AMEMIYA*/
.p-profiles-favorites .c-person.entry-2974, /* SHIROW MIWA */
.p-profiles-favorites .c-person.entry-61040, /* YASUSHI NIRASAWA */
.p-profiles-favorites .c-person.entry-2580, /* SHOUU TAJIMA */
.p-profiles-favorites .c-person.entry-2486, /* SHINICHI HIROMOTO */
.p-profiles-favorites .c-person.entry-2843, /* HIROAKI SAMURA */
.p-profiles-favorites .c-person.entry-3249, /* SUZUHITO YASUDA */
.p-profiles-favorites .c-person.entry-12278, /* MUTSUMI SASAKI */
.p-profiles-favorites .c-person.entry-5510, /* PAKO */
.p-profiles-favorites .c-person.entry-39271, /* MAI YONEYAMA */
.p-profiles-favorites .c-person.entry-41591, /* KUSUSAGA RIN */
.p-profiles-favorites .c-person.entry-12587, /* REDJUICE */
.p-profiles-favorites .c-person.entry-24369, /* RYOTA-H */
.p-profiles-favorites .c-person.entry-78784, /* HIROAKI HASHIMOTO */
.p-profiles-favorites .c-person.entry-40293, /* JUN SUEMI */
.p-profiles-favorites .c-person.entry-25277, /* KIM HUYNG-TAE */
.p-profiles-favorites .c-person.entry-6328, /* THORES SHIBAMOTO */
.p-profiles-favorites .c-person.entry-23871, /* CHIKI OOYA */
.p-profiles-favorites .c-person.entry-8705, /* TOMOMI KOBAYASHI */
.p-profiles-favorites .c-person.entry-8331, /* SYD MEAD */
.p-profiles-favorites .c-person.entry-10512, /* AKIRA YASUDA */
.p-profiles-favorites .c-person.entry-39633, /* MARI SHIMAZAKI */
.p-profiles-favorites .c-person.entry-7056, /* ARCO WADA */
.p-profiles-favorites .c-person.entry-25229, /* IKUMI FUKUDA */
.p-profiles-favorites .c-person.entry-8669, /* TAKATO YAMAMOTO */
.p-profiles-favorites .c-person.entry-72580, /* KAZUYA TAKAHASHI */
.p-profiles-favorites .c-person.entry-5987, /* KAZUTAKA MIYATAKE */
.p-profiles-favorites .c-person.entry-43883, /* SAWAKI TAKEYASU */
.p-profiles-favorites .c-person.entry-7449, /* AKIHIRO YAMADA */
.p-profiles-favorites .c-person.entry-2010, /* NOBUTERU YUUKI */
.p-profiles-favorites .c-person.entry-4075, /* YUTAKA IZUBUCHI */
.p-profiles-favorites .c-person.entry-3132, /* MAMORU NAGANO */
.p-profiles-favorites .c-person.entry-18237, /* HISASHI EGUCHI */
.p-profiles-favorites .c-person.entry-2409, /* TAIYOU MATSUMOTO */
.p-profiles-favorites .c-person.entry-6417, /* KUNIO OOKAWARA */
.p-profiles-favorites .c-person.entry-2764, /* SUEHIRO MARUO */
.p-profiles-favorites .c-person.entry-43854 /* YUKIHIRO KAJIMOTO */ {
  order: 1;
}
