/* ANIME*/
/* Steins;Gate */
.tira-page [href*="animes/z9253-"] {
  position: relative;
  border: 2px solid #77b739 !important;
  outline: 2px solid #77b739;
  overflow: hidden;
  box-sizing: border-box;
  top: 1px;
}

.tira-page [href*="animes/z9253-"]:hover {
  position: relative;
  border: 2px solid #77b739 !important;
  outline: 2px solid #77b739;
  overflow: hidden;
  box-sizing: border-box;
  top: 1px;
}

.tira-page [href*="animes/z9253-"]::after {
  content: " ";
  position: absolute !important;
  top: 0.5rem;
  right: 0.4rem;
  height: 30px;
  width: 30px;
  background-image: url('https://i.imgur.com/Ar1hcM8.png');
  background-size: cover;
  font-size: 35px;
  color: white;
  z-index: 1;
}

/* Kimi no Na wa. */
.tira-page [href*="animes/32281-"] {
  position: relative;
  border: 2px solid #1c99d5 !important;
  outline: 2px solid #1c99d5;
  overflow: hidden;
  box-sizing: border-box;
  top: 1px;
}

.tira-page [href*="animes/32281-"]:hover {
  position: relative;
  border: 2px solid #1c99d5 !important;
  outline: 2px solid #1c99d5;
  overflow: hidden;
  box-sizing: border-box;
  top: 1px;
}

.tira-page [href*="animes/32281-"]::after {
  content: " ";
  position: absolute !important;
  top: 0.5rem;
  right: 0.4rem;
  height: 30px;
  width: 30px;
  background-image: url('https://i.imgur.com/LNYOjYP.png');
  background-size: cover;
  font-size: 35px;
  color: white;
  z-index: 1;
}

/* Space☆Dandy 2nd Season */
.tira-page [href*="animes/23327-"] {
  position: relative;
  border: 2px solid #fefd25 !important;
  outline: 2px solid #fefd25;
  overflow: hidden;
  box-sizing: border-box;
  top: 1px;
}

.tira-page [href*="animes/23327-"]:hover {
  position: relative;
  border: 2px solid #fefd25 !important;
  outline: 2px solid #fefd25;
  overflow: hidden;
  box-sizing: border-box;
  top: 1px;
}

.tira-page [href*="animes/23327-"]::after {
  content: " ";
  position: absolute !important;
  top: 0.5rem;
  right: 0.4rem;
  height: 30px;
  width: 30px;
  background-image: url('https://i.imgur.com/mZc0W1d.png');
  background-size: cover;
  font-size: 35px;
  color: white;
  z-index: 1;
}

/* Shin Evangelion Movie: || */
.tira-page [href*="animes/3786-"] {
  position: relative;
  border: 2px solid #d9302c !important;
  outline: 2px solid #d9302c;
  overflow: hidden;
  box-sizing: border-box;
  top: 1px;
}

.tira-page [href*="animes/3786-"]:hover {
  position: relative;
  border: 2px solid #d9302c !important;
  outline: 2px solid #d9302c;
  overflow: hidden;
  box-sizing: border-box;
  top: 1px;
}

.tira-page [href*="animes/3786-"]::after {
  content: " ";
  position: absolute !important;
  top: 0.5rem;
  right: 0.4rem;
  height: 30px;
  width: 30px;
  background-image: url('https://i.imgur.com/poAKULk.png');
  background-size: cover;
  font-size: 35px;
  color: white;
  z-index: 1;
}

/* Sabu to Ichi Torimono Hikae */
.tira-page [href*="animes/5997-"] {
  position: relative;
  border: 2px solid #816249 !important;
  outline: 2px solid #816249;
  overflow: hidden;
  box-sizing: border-box;
  top: 1px;
}

.tira-page [href*="animes/5997-"]:hover {
  position: relative;
  border: 2px solid #816249 !important;
  outline: 2px solid #816249;
  overflow: hidden;
  box-sizing: border-box;
  top: 1px;
}

.tira-page [href*="animes/5997-"]::after {
  content: " ";
  position: absolute !important;
  top: 0.5rem;
  right: 0.4rem;
  height: 30px;
  width: 30px;
  background-image: url('https://i.imgur.com/tf6PmKx.png');
  background-size: cover;
  font-size: 35px;
  color: white;
  z-index: 1;
}

/* Ace no Nerae OVA*/
.tira-page [href*="animes/314-"] {
  position: relative;
  border: 2px solid #B6F142 !important;
  outline: 2px solid #B6F142;
  overflow: hidden;
  box-sizing: border-box;
  top: 1px;
}

.tira-page [href*="animes/314-"]:hover {
  position: relative;
  border: 2px solid #B6F142 !important;
  outline: 2px solid #B6F142;
  overflow: hidden;
  box-sizing: border-box;
  top: 1px;
}

.tira-page [href*="animes/314-"]::after {
  content: " ";
  position: absolute !important;
  top: 0.5rem;
  right: 0.4rem;
  height: 30px;
  width: 30px;
  background-image: url('https://i.imgur.com/8eYiT9L.png');
  background-size: cover;
  font-size: 35px;
  color: white;
  z-index: 1;
}

/* БИБА */
.tira-page [href*="animes/1-"] {
  position: relative;
  border: 3px solid #e32816 !important;
  outline: 2px solid #fde68f;
  overflow: hidden;
  box-sizing: border-box;
  top: 1px;
}

.tira-page [href*="animes/1-"]:hover {
  position: relative;
  border: 3px solid #fde68f !important;
  outline: 2px solid #e32816;
  overflow: hidden;
  box-sizing: border-box;
  top: 1px;
}

.cover[href*="animes/1-"]::after {
  content: " ";
  position: absolute !important;
  top: 0.5rem;
  right: 0.4rem;
  height: 30px;
  width: 30px;
  background-image: url('https://i.imgur.com/mGPE2Ub.png');
  background-size: cover;
  font-size: 35px;
  color: white;
  z-index: 1;
}

/* MANGA*/
/* Barakamon*/
.tira-page [href*="mangas/17051-"] {
  position: relative;
  border: 2px solid #424eb5 !important;
  outline: 2px solid #424eb5;
  overflow: hidden;
  box-sizing: border-box;
  top: 1px;
}

.tira-page [href*="mangas/17051-"]:hover {
  position: relative;
  border: 2px solid #424eb5 !important;
  outline: 2px solid #424eb5;
  overflow: hidden;
  box-sizing: border-box;
  top: 1px;
}

.tira-page [href*="mangas/17051-"]::after {
  content: " ";
  position: absolute !important;
  top: 0.5rem;
  right: 0.4rem;
  height: 30px;
  width: 30px;
  background-image: url('https://i.imgur.com/gAioJhm.png');
  background-size: cover;
  font-size: 35px;
  color: white;
  z-index: 1;
}

/* Mushishi */
.tira-page [href*="mangas/418-"] {
  position: relative;
  border: 2px solid #fcf5e3 !important;
  outline: 2px solid #fcf5e3;
  overflow: hidden;
  box-sizing: border-box;
  top: 1px;
}

.tira-page [href*="mangas/418-"]:hover {
  position: relative;
  border: 2px solid #fcf5e3 !important;
  outline: 2px solid #fcf5e3;
  overflow: hidden;
  box-sizing: border-box;
  top: 1px;
}

.tira-page [href*="mangas/418-"]::after {
  content: " ";
  position: absolute !important;
  top: 0.5rem;
  right: 0.4rem;
  height: 30px;
  width: 30px;
  background-image: url('https://i.imgur.com/rCUfJnS.png');
  background-size: cover;
  font-size: 35px;
  color: white;
  z-index: 1;
}

/* Veil */
.tira-page [href*="mangas/132678-"] {
  position: relative;
  border: 2px solid #fbf66b !important;
  outline: 2px solid #fbf66b;
  overflow: hidden;
  box-sizing: border-box;
  top: 1px;
}

.tira-page [href*="mangas/132678-"]:hover {
  position: relative;
  border: 2px solid #fbf66b !important;
  outline: 2px solid #fbf66b;
  overflow: hidden;
  box-sizing: border-box;
  top: 1px;
}

.tira-page [href*="mangas/132678-"]::after {
  content: " ";
  position: absolute !important;
  top: 0.5rem;
  right: 0.4rem;
  height: 30px;
  width: 30px;
  background-image: url('');
  background-size: cover;
  font-size: 35px;
  color: white;
  z-index: 1;
}

/* Oyasumi Punpun */
.tira-page [href*="mangas/4632-"] {
  position: relative;
  border: 2px solid #ffe040 !important;
  outline: 2px solid #ffe040;
  overflow: hidden;
  box-sizing: border-box;
  top: 1px;
}

.tira-page [href*="mangas/4632-"]:hover {
  position: relative;
  border: 2px solid #ffe040 !important;
  outline: 2px solid #ffe040;
  overflow: hidden;
  box-sizing: border-box;
  top: 1px;
}

.tira-page [href*="mangas/4632-"]::after {
  content: " ";
  position: absolute !important;
  top: 0.5rem;
  right: 0.4rem;
  height: 30px;
  width: 30px;
  background-image: url('https://i.imgur.com/qawCIUY.png');
  background-size: cover;
  font-size: 35px;
  color: white;
  z-index: 1;
}

/* Dandadan*/
.tira-page [href*="mangas/135496-"] {
  position: relative;
  border: 2px solid #e90035 !important;
  outline: 2px solid #e90035;
  overflow: hidden;
  box-sizing: border-box;
  top: 1px;
} 

.tira-page [href*="mangas/135496-"]:hover {
  position: relative;
  border: 2px solid #e90035 !important;
  outline: 2px solid #e90035;
  overflow: hidden;
  box-sizing: border-box;
  top: 1px;
} 

.tira-page [href*="mangas/135496-"]::after {
  content: " ";
  position: absolute !important;
  top: 2.5rem;
  right: 2.5rem;
  height: 30px;
  width: 30px;
  background-image: url('https://i.imgur.com/oI9O2iS.png');
  background-size: cover;
  font-size: 35px;
  color: white;
  z-index: 1;
} 

/* SKALO */
.tira-page [href*="mangas/7375-"] {
  position: relative;
  border: 2px solid #5ad4ff !important;
  outline: 2px solid #5ad4ff;
  overflow: hidden;
  box-sizing: border-box;
  top: 1px;
}

.tira-page [href*="mangas/7375-"]:hover {
  position: relative;
  border: 2px solid #5ad4ff !important;
  outline: 2px solid #5ad4ff;
  overflow: hidden;
  box-sizing: border-box;
  top: 1px;
}

.tira-page [href*="mangas/7375-"]::after {
  content: " ";
  position: absolute !important;
  top: 0.5rem;
  right: 0.4rem;
  height: 30px;
  width: 30px;
  background-image: url('https://i.imgur.com/zzobw2t.png');
  background-size: cover;
  font-size: 35px;
  color: white;
  z-index: 1;
}

/* ЙОЦУБА */
.tira-page [href*="mangas/104-"] {
  position: relative;
  border: 3px solid #11b03c !important;
  outline: 2px solid #fde68f;
  overflow: hidden;
  box-sizing: border-box;
  top: 1px;
}

.tira-page [href*="mangas/104-"]:hover {
  position: relative;
  border: 3px solid #fde68f !important;
  outline: 2px solid #11b03c;
  overflow: hidden;
  box-sizing: border-box;
  top: 1px;
}

.cover[href*="mangas/104-"]::after {
  content: " ";
  position: absolute !important;
  top: 0.5rem;
  right: 0.4rem;
  height: 30px;
  width: 30px;
  background-image: url('https://i.imgur.com/mAhtKAj.png');
  background-size: cover;
  font-size: 35px;
  color: white;
  z-index: 1;
}

/* RANOBE*/
/* Monogatari Series: Second Season */
/* .tira-page [href*="ranobe/z23751-"]::after {
  content: " ";
  position: absolute !important;
  top: 0.5rem;
  right: 0.4rem;
  height: 30px;
  width: 30px;
  background-image: url('https://i.imgur.com/Dy8bpwo.png');
  background-size: cover;
  font-size: 35px;
  color: white;
  z-index: 1;
} */

/* SP AND WLF */
/* .tira-page [href*="ranobe/9115-"]::after {
  content: " ";
  position: absolute !important;
  top: 0.5rem;
  right: 0.4rem;
  height: 30px;
  width: 30px;
  background-image: url('');
  background-size: cover;
  font-size: 35px;
  color: white;
  z-index: 1;
} */

/* RAIDOU */
/* .tira-page [href*="ranobe/76973-"]::after {
  content: " ";
  position: absolute !important;
  top: 0.5rem;
  right: 0.4rem;
  height: 30px;
  width: 30px;
  background-image: url('https://i.imgur.com/D6aGt2a.png');
  background-size: cover;
  font-size: 35px;
  color: white;
  z-index: 1;
} */

/* Mahoutsukai no Yoru */
/* .tira-page [href*="ranobe/26027-"]::after {
  content: " ";
  position: absolute !important;
  top: 0.5rem;
  right: 0.4rem;
  height: 30px;
  width: 30px;
  background-image: url('https://i.imgur.com/L65qj52.png');
  background-size: cover;
  font-size: 35px;
  color: white;
  z-index: 1;
} */

/* SEKAI */
/* .tira-page [href*="ranobe/21115-"]::after {
  content: " ";
  position: absolute !important;
  top: 0.5rem;
  right: 0.4rem;
  height: 30px;
  width: 30px;
  background-image: url('');
  background-size: cover;
  font-size: 35px;
  color: white;
  z-index: 1;
} */

/* LOGH */
/* .tira-page [href*="ranobe/6978-"]::after {
  content: " ";
  position: absolute !important;
  top: 0.5rem;
  right: 0.4rem;
  height: 30px;
  width: 30px;
  background-image: url('');
  background-size: cover;
  font-size: 35px;
  color: white;
  z-index: 1;
} */

/* ЗАРЕГОТЫЧ */
.cover[href*="ranobe/9726-"]::after {
  content: " ";
  position: absolute !important;
  top: 0.5rem;
  right: 0.4rem;
  height: 30px;
  width: 30px;
  background-image: url('https://i.imgur.com/s0dYKyj.png');
  background-size: cover;
  font-size: 35px;
  color: white;
  z-index: 1;
}
