/* БИБА */
.tira-page [href*="animes/1-"] {
  position: relative;
  border: 2px solid #e32816 !important;
  outline: 2px solid #e32816;
  overflow: hidden;
  box-sizing: border-box;
  top: 1px;
}

.tira-page [href*="animes/1-"]:hover {
  position: relative;
  border: 2px solid #e32816 !important;
  outline: 2px solid #e32816;
  overflow: hidden;
  box-sizing: border-box;
  top: 1px;
}

[href*="animes/1-"]::after {
  content: " ";
  position: absolute !important;
  top: 0.5rem;
  right: 0.4rem;
  height: 30px;
  width: 30px;
  background-image: url('https://i.imgur.com/fBQsBDS.png');
  background-size: cover;
  font-size: 35px;
  color: white;
  z-index: 1;
}
/*
.tira-page [href*="animes/1-"]::after {
  content: "☆";
  position: absolute;
  top: -0.5rem;
  right: 0.2rem;
  font-size: 35px;
  color: white;
  z-index: 1;
}

.tira-page [href*="animes/1-"]::before {
  content: "★";
  position: absolute;
  top: -0.5rem;
  right: 0.2rem;
  font-size: 35px;
  color: goldenrod;
  z-index: 1;
}*/

/* ЙОЦУБА */
.tira-page [href*="mangas/104-"] {
  position: relative;
  border: 2px solid #11b03c !important;
  outline: 2px solid #11b03c;
  overflow: hidden;
  box-sizing: border-box;
  top: 1px;
}

.tira-page [href*="mangas/104-"]:hover {
  position: relative;
  border: 2px solid #11b03c !important;
  outline: 2px solid #11b03c;
  overflow: hidden;
  box-sizing: border-box;
  top: 1px;
}

[href*="mangas/104-"]::after {
  content: " ";
  position: absolute !important;
  top: 0.5rem;
  right: 0.4rem;
  height: 30px;
  width: 30px;
  background-image: url('https://i.imgur.com/U5ntgIp.png');
  background-size: cover;
  font-size: 35px;
  color: white;
  z-index: 1;
}


/*
.tira-page [href*="mangas/104-"]::after {
  content: "☆";
  position: absolute;
  top: -0.5rem;
  right: 0.2rem;
  font-size: 35px;
  color: black;
  z-index: 1;
}

.tira-page [href*="mangas/104-"]::before {
  content: "★";
  position: absolute;
  top: -0.5rem;
  right: 0.2rem;
  font-size: 35px;
  color: goldenrod;
  z-index: 1;
}*/

/* ЗАРЕГОТЫЧ */
.tira-page [href*="ranobe/9726-"] {
  position: relative;
  border: 2px solid #11b03c !important;
  outline: 2px solid #11b03c;
  overflow: hidden;
  box-sizing: border-box;
  top: 1px;
}

.tira-page [href*="ranobe/9726-"]:hover {
  position: relative;
  border: 2px solid #11b03c !important;
  outline: 2px solid #11b03c;
  overflow: hidden;
  box-sizing: border-box;
  top: 1px;
}

[href*="ranobe/9726-"]::after {
  content: " ";
  position: absolute !important;
  top: 0.5rem;
  right: 0.4rem;
  height: 30px;
  width: 30px;
  background-image: url('https://i.imgur.com/2RKhmJz.png');
  background-size: cover;
  font-size: 35px;
  color: white;
  z-index: 1;
}
