:root {
  --bg-urls: 
  /* OVERLAY */
    url("https://i.imgur.com/0nQ8t03.png"),
  /* 3RD LAYER - 10-20S */
    url(""),
    url(""),
  /* 2ND LAYER - 90-00S */
    url(""),
    url(""),
  /* 1ST LAYER - SUB 90S */
    url("https://i.ibb.co/jM7XWxd/1-1080.png"),
    url("https://i.ibb.co/jM7XWxd/1-1080.png");
  --bg-sizes:
    100% 100%, 
    cover, 
    cover, 
    cover, 
    cover, 
    cover, 
    cover; 
  --bg-position-strt:
    0 0, 
    0 0, 
    0 0, 
    -160% 0, 
    0 0, 
    -228.5% 0, 
    0 0;
  --bg-position-fin:
    0 0, 
    0 0, 
    0 0, 
    0 0, 
    160% 0, 
    0 0, 
    228.5% 0;
}

body::after {
  content: "";
  position: fixed;
  top: 0;
  left: 50%;
  aspect-ratio: 18/9;
  height: 100vh;
  width: auto;
  transform: translateX(-50%);
  background-color: #aaa;
  background-image: var(--bg-urls);
  background-position: var(--bg-position-strt);
  background-size: var(--bg-sizes);
  animation: bg-anim 130s linear infinite;
}

@keyframes bg-anim {
  from {
    background-position: var(--bg-position-strt);
}
  to {
    background-position: var(--bg-position-fin);
}
