/* ПЕРСЫ */
/* Shinobu Oshino */
.tira-page [href*="characters/23602-"] {
  position: relative;
  border: 2px solid #fbec96 !important;
  outline: 2px solid #fbec96;
  overflow: hidden;
  box-sizing: border-box;
  top: 1px;
}

.tira-page [href*="characters/23602-"]:hover {
  position: relative;
  border: 2px solid #fbec96 !important;
  outline: 2px solid #fbec96;
  overflow: hidden;
  box-sizing: border-box;
  top: 1px;
}

/* Kurisu Makise */
.tira-page [href*="characters/34470-"] {
  position: relative;
  border: 2px solid #E17951 !important;
  outline: 2px solid #E17951;
  overflow: hidden;
  box-sizing: border-box;
  top: 1px;
}

.tira-page [href*="characters/34470-"]:hover {
  position: relative;
  border: 2px solid #E17951 !important;
  outline: 2px solid #E17951;
  overflow: hidden;
  box-sizing: border-box;
  top: 1px;
}

/* Ginko */
.tira-page [href*="characters/425-"] {
  position: relative;
  border: 2px solid #fde68f !important;
  outline: 2px solid #fde68f;
  overflow: hidden;
  box-sizing: border-box;
  top: 1px;
}

.tira-page [href*="characters/425-"]:hover {
  position: relative;
  border: 2px solid #fde68f !important;
  outline: 2px solid #fde68f;
  overflow: hidden;
  box-sizing: border-box;
  top: 1px;
}

/* Deishuu Kaiki */
.tira-page [href*="characters/53641-"] {
  position: relative;
  border: 2px solid #fde68f !important;
  outline: 2px solid #fde68f;
  overflow: hidden;
  box-sizing: border-box;
  top: 1px;
}

.tira-page [href*="characters/53641-"]:hover {
  position: relative;
  border: 2px solid #fde68f !important;
  outline: 2px solid #fde68f;
  overflow: hidden;
  box-sizing: border-box;
  top: 1px;
}

/* Dandy */
.tira-page [href*="characters/91119-"] {
  position: relative;
  border: 2px solid #fde68f !important;
  outline: 2px solid #fde68f;
  overflow: hidden;
  box-sizing: border-box;
  top: 1px;
}

.tira-page [href*="characters/91119-"]:hover {
  position: relative;
  border: 2px solid #fde68f !important;
  outline: 2px solid #fde68f;
  overflow: hidden;
  box-sizing: border-box;
  top: 1px;
}

/* Touko Kuchiki */
.tira-page [href*="characters/29926-"] {
  position: relative;
  border: 2px solid #fde68f !important;
  outline: 2px solid #fde68f;
  overflow: hidden;
  box-sizing: border-box;
  top: 1px;
}

.tira-page [href*="characters/29926-"]:hover {
  position: relative;
  border: 2px solid #fde68f !important;
  outline: 2px solid #fde68f;
  overflow: hidden;
  box-sizing: border-box;
  top: 1px;
}

/* Ayase Kishimoto */
.tira-page [href*="characters/16414-"] {
  position: relative;
  border: 2px solid #fde68f !important;
  outline: 2px solid #fde68f;
  overflow: hidden;
  box-sizing: border-box;
  top: 1px;
}

.tira-page [href*="characters/16414-"]:hover {
  position: relative;
  border: 2px solid #fde68f !important;
  outline: 2px solid #fde68f;
  overflow: hidden;
  box-sizing: border-box;
  top: 1px;
}

/* Robin Nico */
.tira-page [href*="characters/61-"] {
  position: relative;
  border: 2px solid #fde68f !important;
  outline: 2px solid #fde68f;
  overflow: hidden;
  box-sizing: border-box;
  top: 1px;
}

.tira-page [href*="characters/61-"]:hover {
  position: relative;
  border: 2px solid #fde68f !important;
  outline: 2px solid #fde68f;
  overflow: hidden;
  box-sizing: border-box;
  top: 1px;
}

/* Jun Aikawa */
.tira-page [href*="characters/29595-"] {
  position: relative;
  border: 2px solid #FF0000 !important;
  outline: 2px solid #FF0000;
  overflow: hidden;
  box-sizing: border-box;
  top: 1px;
}

.tira-page [href*="characters/29595-"]:hover {
  position: relative;
  border: 2px solid #FF0000 !important;
  outline: 2px solid #FF0000;
  overflow: hidden;
  box-sizing: border-box;
  top: 1px;
}

/* Jinx */
.tira-page [href*="characters/239799-"] {
  position: relative;
  border: 2px solid #fde68f !important;
  outline: 2px solid #fde68f;
  overflow: hidden;
  box-sizing: border-box;
  top: 1px;
}

.tira-page [href*="characters/239799-"]:hover {
  position: relative;
  border: 2px solid #fde68f !important;
  outline: 2px solid #fde68f;
  overflow: hidden;
  box-sizing: border-box;
  top: 1px;
}

/* Mankichi Togawa */
.tira-page [href*="characters/193546-"] {
  position: relative;
  border: 2px solid #fde68f !important;
  outline: 2px solid #fde68f;
  overflow: hidden;
  box-sizing: border-box;
  top: 1px;
}

.tira-page [href*="characters/193546-"]:hover {
  position: relative;
  border: 2px solid #fde68f !important;
  outline: 2px solid #fde68f;
  overflow: hidden;
  box-sizing: border-box;
  top: 1px;
}

/* Momo Ayase */
.tira-page [href*="characters/196898-"] {
  position: relative;
  border: 2px solid #fde68f !important;
  outline: 2px solid #fde68f;
  overflow: hidden;
  box-sizing: border-box;
  top: 1px;
}

.tira-page [href*="characters/196898-"]:hover {
  position: relative;
  border: 2px solid #fde68f !important;
  outline: 2px solid #fde68f;
  overflow: hidden;
  box-sizing: border-box;
  top: 1px;
}

/* Maetel */
.tira-page [href*="characters/6321-"] {
  position: relative;
  border: 2px solid #fde68f !important;
  outline: 2px solid #fde68f;
  overflow: hidden;
  box-sizing: border-box;
  top: 1px;
}

.tira-page [href*="characters/6321-"]:hover {
  position: relative;
  border: 2px solid #fde68f !important;
  outline: 2px solid #fde68f;
  overflow: hidden;
  box-sizing: border-box;
  top: 1px;
}

/* Rei Reiho */
.tira-page [href*="characters/212605-"] {
  position: relative;
  border: 2px solid #fde68f !important;
  outline: 2px solid #fde68f;
  overflow: hidden;
  box-sizing: border-box;
  top: 1px;
}

.tira-page [href*="characters/212605-"]:hover {
  position: relative;
  border: 2px solid #fde68f !important;
  outline: 2px solid #fde68f;
  overflow: hidden;
  box-sizing: border-box;
  top: 1px;
}

/* Kageaki Minato */
.tira-page [href*="characters/91703-"] {
  position: relative;
  border: 2px solid #fe522b !important;
  outline: 2px solid #fe522b;
  overflow: hidden;
  box-sizing: border-box;
  top: 1px;
}

.tira-page [href*="characters/91703-"]:hover {
  position: relative;
  border: 2px solid #fe522b !important;
  outline: 2px solid #fe522b;
  overflow: hidden;
  box-sizing: border-box;
  top: 1px;
}

/* Lightning */
.tira-page [href*="characters/118835-"] {
  position: relative;
  border: 2px solid #fde68f !important;
  outline: 2px solid #fde68f;
  overflow: hidden;
  box-sizing: border-box;
  top: 1px;
}

.tira-page [href*="characters/118835-"]:hover {
  position: relative;
  border: 2px solid #fde68f !important;
  outline: 2px solid #fde68f;
  overflow: hidden;
  box-sizing: border-box;
  top: 1px;
}

/* Aoko Aozaki */
.tira-page [href*="characters/11298-"] {
  position: relative;
  border: 2px solid #fde68f !important;
  outline: 2px solid #fde68f;
  overflow: hidden;
  box-sizing: border-box;
  top: 1px;
}

.tira-page [href*="characters/11298-"]:hover {
  position: relative;
  border: 2px solid #fde68f !important;
  outline: 2px solid #fde68f;
  overflow: hidden;
  box-sizing: border-box;
  top: 1px;
}

/* Hiromi Oka */
.tira-page [href*="characters/10296-"] {
  position: relative;
  border: 2px solid #fde68f !important;
  outline: 2px solid #fde68f;
  overflow: hidden;
  box-sizing: border-box;
  top: 1px;
}

.tira-page [href*="characters/10296-"]:hover {
  position: relative;
  border: 2px solid #fde68f !important;
  outline: 2px solid #fde68f;
  overflow: hidden;
  box-sizing: border-box;
  top: 1px;
}

/* Motoko Kusanagi */
.tira-page [href*="characters/1795-"] {
  position: relative;
  border: 2px solid #fde68f !important;
  outline: 2px solid #fde68f;
  overflow: hidden;
  box-sizing: border-box;
  top: 1px;
}

.tira-page [href*="characters/1795-"]:hover {
  position: relative;
  border: 2px solid #fde68f !important;
  outline: 2px solid #fde68f;
  overflow: hidden;
  box-sizing: border-box;
  top: 1px;
}

/* Non Gou */
.tira-page [href*="characters/12343-"] {
  position: relative;
  border: 2px solid #fde68f !important;
  outline: 2px solid #fde68f;
  overflow: hidden;
  box-sizing: border-box;
  top: 1px;
}

.tira-page [href*="characters/12343-"]:hover {
  position: relative;
  border: 2px solid #fde68f !important;
  outline: 2px solid #fde68f;
  overflow: hidden;
  box-sizing: border-box;
  top: 1px;
}

/* Maya Amano */
.tira-page [href*="characters/126857-"] {
  position: relative;
  border: 2px solid #EBD7DD !important;
  outline: 2px solid #EBD7DD;
  overflow: hidden;
  box-sizing: border-box;
  top: 1px;
}

.tira-page [href*="characters/126857-"]:hover {
  position: relative;
  border: 2px solid #EBD7DD !important;
  outline: 2px solid #EBD7DD;
  overflow: hidden;
  box-sizing: border-box;
  top: 1px;
}

/* Marin Kitagawa */
.tira-page [href*="characters/166439-"] {
  position: relative;
  border: 2px solid #fde68f !important;
  outline: 2px solid #fde68f;
  overflow: hidden;
  box-sizing: border-box;
  top: 1px;
}

.tira-page [href*="characters/166439-"]:hover {
  position: relative;
  border: 2px solid #fde68f !important;
  outline: 2px solid #fde68f;
  overflow: hidden;
  box-sizing: border-box;
  top: 1px;
}

/* Reiko Natsume */
.tira-page [href*="characters/13886-"] {
  position: relative;
  border: 2px solid #fde68f !important;
  outline: 2px solid #fde68f;
  overflow: hidden;
  box-sizing: border-box;
  top: 1px;
}

.tira-page [href*="characters/13886-"]:hover {
  position: relative;
  border: 2px solid #fde68f !important;
  outline: 2px solid #fde68f;
  overflow: hidden;
  box-sizing: border-box;
  top: 1px;
}

/* Takashi Saitou */
.tira-page [href*="characters/153048-"] {
  position: relative;
  border: 2px solid #fde68f !important;
  outline: 2px solid #fde68f;
  overflow: hidden;
  box-sizing: border-box;
  top: 1px;
}

.tira-page [href*="characters/153048-"]:hover {
  position: relative;
  border: 2px solid #fde68f !important;
  outline: 2px solid #fde68f;
  overflow: hidden;
  box-sizing: border-box;
  top: 1px;
}

/* Hitoshiki Zerozaki */
.tira-page [href*="characters/34293-"] {
  position: relative;
  border: 2px solid #DDE5E7 !important;
  outline: 2px solid #DDE5E7;
  overflow: hidden;
  box-sizing: border-box;
  top: 1px;
}

.tira-page [href*="characters/34293-"]:hover {
  position: relative;
  border: 2px solid #DDE5E7 !important;
  outline: 2px solid #DDE5E7;
  overflow: hidden;
  box-sizing: border-box;
  top: 1px;
}

/* Satoru Gojou */
.tira-page [href*="characters/164471-"] {
  position: relative;
  border: 2px solid #fde68f !important;
  outline: 2px solid #fde68f;
  overflow: hidden;
  box-sizing: border-box;
  top: 1px;
}

.tira-page [href*="characters/164471-"]:hover {
  position: relative;
  border: 2px solid #fde68f !important;
  outline: 2px solid #fde68f;
  overflow: hidden;
  box-sizing: border-box;
  top: 1px;
}

/* Yakumo Murai */
.tira-page [href*="characters/202067-"] {
  position: relative;
  border: 2px solid #fde68f !important;
  outline: 2px solid #fde68f;
  overflow: hidden;
  box-sizing: border-box;
  top: 1px;
}

.tira-page [href*="characters/202067-"]:hover {
  position: relative;
  border: 2px solid #fde68f !important;
  outline: 2px solid #fde68f;
  overflow: hidden;
  box-sizing: border-box;
  top: 1px;
}

/* Ichi */
.tira-page [href*="characters/80839-"] {
  position: relative;
  border: 2px solid #fde68f !important;
  outline: 2px solid #fde68f;
  overflow: hidden;
  box-sizing: border-box;
  top: 1px;
}

.tira-page [href*="characters/80839-"]:hover {
  position: relative;
  border: 2px solid #fde68f !important;
  outline: 2px solid #fde68f;
  overflow: hidden;
  box-sizing: border-box;
  top: 1px;
}

/* Caim */
.tira-page [href*="characters/109471-"] {
  position: relative;
  border: 2px solid #FF8B2E !important;
  outline: 2px solid #FF8B2E;
  overflow: hidden;
  box-sizing: border-box;
  top: 1px;
}

.tira-page [href*="characters/109471-"]:hover {
  position: relative;
  border: 2px solid #FF8B2E !important;
  outline: 2px solid #FF8B2E;
  overflow: hidden;
  box-sizing: border-box;
  top: 1px;
}

/* Toshizou Hijikata */
.tira-page [href*="characters/138492-"] {
  position: relative;
  border: 2px solid #fde68f !important;
  outline: 2px solid #fde68f;
  overflow: hidden;
  box-sizing: border-box;
  top: 1px;
}

.tira-page [href*="characters/138492-"]:hover {
  position: relative;
  border: 2px solid #fde68f !important;
  outline: 2px solid #fde68f;
  overflow: hidden;
  box-sizing: border-box;
  top: 1px;
}

/* Tatsuya Suou */
.tira-page [href*="characters/126856-"] {
  position: relative;
  border: 2px solid #fde68f !important;
  outline: 2px solid #fde68f;
  overflow: hidden;
  box-sizing: border-box;
  top: 1px;
}

.tira-page [href*="characters/126856-"]:hover {
  position: relative;
  border: 2px solid #fde68f !important;
  outline: 2px solid #fde68f;
  overflow: hidden;
  box-sizing: border-box;
  top: 1px;
}

/* Jean Otus */
.tira-page [href*="characters/143758-"] {
  position: relative;
  border: 2px solid #fde68f !important;
  outline: 2px solid #fde68f;
  overflow: hidden;
  box-sizing: border-box;
  top: 1px;
}

.tira-page [href*="characters/143758-"]:hover {
  position: relative;
  border: 2px solid #fde68f !important;
  outline: 2px solid #fde68f;
  overflow: hidden;
  box-sizing: border-box;
  top: 1px;
}

/* Buntarou Mori */
.tira-page [href*="characters/35510-"] {
  position: relative;
  border: 2px solid #fde68f !important;
  outline: 2px solid #fde68f;
  overflow: hidden;
  box-sizing: border-box;
  top: 1px;
}

.tira-page [href*="characters/35510-"]:hover {
  position: relative;
  border: 2px solid #fde68f !important;
  outline: 2px solid #fde68f;
  overflow: hidden;
  box-sizing: border-box;
  top: 1px;
}

/* Soujuurou Shizuki */
.tira-page [href*="characters/61129-"] {
  position: relative;
  border: 2px solid #1B5CC5 !important;
  outline: 2px solid #1B5CC5;
  overflow: hidden;
  box-sizing: border-box;
  top: 1px;
}

.tira-page [href*="characters/61129-"]:hover {
  position: relative;
  border: 2px solid #1B5CC5 !important;
  outline: 2px solid #1B5CC5;
  overflow: hidden;
  box-sizing: border-box;
  top: 1px;
}

/* Godot */
.tira-page [href*="characters/17464-"] {
  position: relative;
  border: 2px solid #fde68f !important;
  outline: 2px solid #fde68f;
  overflow: hidden;
  box-sizing: border-box;
  top: 1px;
}

.tira-page [href*="characters/17464-"]:hover {
  position: relative;
  border: 2px solid #fde68f !important;
  outline: 2px solid #fde68f;
  overflow: hidden;
  box-sizing: border-box;
  top: 1px;
}

/* Roger Smith */
.tira-page [href*="characters/2015-"] {
  position: relative;
  border: 2px solid #fde68f !important;
  outline: 2px solid #fde68f;
  overflow: hidden;
  box-sizing: border-box;
  top: 1px;
}

.tira-page [href*="characters/2015-"]:hover {
  position: relative;
  border: 2px solid #fde68f !important;
  outline: 2px solid #fde68f;
  overflow: hidden;
  box-sizing: border-box;
  top: 1px;
}
