/* Биба */
.cover[href*="animes/1-"] .title span {
  display: none !important;
}
.cover[href*="animes/1-"] .title::after {
  content: "Ковбой Бибоп ✷";
  color: #e32816;
}

/* Йоцуба */
.cover[href*="mangas/104-"] .title span {
  display: none !important;
}
.cover[href*="mangas/104-"] .title::after {
  content: "Ёцуба! ✜";
  color: #11b03c;
}

/* Зарегото */
.cover[href*="ranobe/9726-"] .title span {
  display: none !important;
}
.cover[href*="ranobe/9726-"] .title::after {
  content: "Зарегото ❂";
  color: #e2732b;
}

/* Шиина Ринго */
.cover[href*="people/8213-"] .title span {
  display: none !important;
}
.cover[href*="people/8213-"] .title::after {
  content: "Шиина Ринго ★";
  color: #fde68f;
}

/* Марико Гото */
.cover[href*="people/31631-"] .title span {
  display: none !important;
}
.cover[href*="people/31631-"] .title::after {
  content: "Марико Гото ★";
  color: #fde68f;
}

/* Boris */
.cover[href*="people/40186-"] .title {
  font-size: 0 !important;
}

.cover[href*="people/40186-"] .title::after {
  content: "Boris ★";
  color: #fde68f;
  font-size: 13px;
}
.cover[href*="people/40186-"] .title.two_lined::after {
  font-size: 11.5px;
}

/* Ёшитака Амано */
.cover[href*="people/2967-"] .title span {
  display: none !important;
}
.cover[href*="people/2967-"] .title::after {
  content: "Ёшитака Амано ★";
  color: #fde68f;
}

/* ISIN NISIO */
.cover[href*="people/5254-"] .title span {
  display: none !important;
}
.cover[href*="people/5254-"] .title::after {
  content: "NISIOISIN ★";
  color: #fde68f;
}

/* Take */
.cover[href*="people/10875-"] .title {
  font-size: 0 !important;
}

.cover[href*="people/10875-"] .title::after {
  content: "Take ★";
  color: #fde68f;
  font-size: 13px;
}
.cover[href*="people/10875-"] .title.two_lined::after {
  font-size: 11.5px;
}

/* Акиюки Шимбо */
.cover[href*="people/5089-"] .title span {
  display: none !important;
}
.cover[href*="people/5089-"] .title::after {
  content: "Акиюки Шимбо ★";
  color: #fde68f;
}

/* Шиничиро Ватанабе */
.cover[href*="people/2009-"] .title span {
  display: none !important;
}
.cover[href*="people/2009-"] .title::after {
  content: "Шиничиро Ватанабе ★";
  color: #fde68f;
}

/* Сатоши Кон */
.cover[href*="people/4580-"] .title span {
  display: none !important;
}
.cover[href*="people/4580-"] .title::after {
  content: "Сатоши Кон ★";
  color: #fde68f;
}

/* Маая Сакамото */
.cover[href*="people/90-"] .title span {
  display: none !important;
}
.cover[href*="people/90-"] .title::after {
  content: "Маая Сакамото ★";
  color: #fde68f;
}

/* Хироши Камия */
.cover[href*="people/118-"] .title span {
  display: none !important;
}
.cover[href*="people/118-"] .title::after {
  content: "Хироши Камия ★";
  color: #fde68f;
}

/* Коичи Ямадера */
.cover[href*="people/11-"] .title span {
  display: none !important;
}
.cover[href*="people/11-"] .title::after {
  content: "Коичи Ямадера ★";
  color: #fde68f;
}

/* Ошино Шинобу */
.cover[href*="characters/23602-"] .title span {
  display: none !important;
}
.cover[href*="characters/23602-"] .title::after {
  content: "Шинобу Ошино ★";
  color: #fde68f;
}

/* Минато Кагеаки */
.cover[href*="characters/91703-"] .title span {
  display: none !important;
}
.cover[href*="characters/91703-"] .title::after {
  content: "Минато Кагеаки ★";
  color: #fde68f;
}

/* Коичи Ямадера */
.cover[href*="characters/34470-"] .title span {
  display: none !important;
}
.cover[href*="characters/34470-"] .title::after {
  content: "Курису Макисе ★";
  color: #fde68f;
}

/* РЕНЕЙМЫ */
/* АНИМЕ */
/* Сабу и Ичи */
.cover[href*="animes/5997-"] .title span {
  display: none !important;
}
.cover[href*="animes/5997-"] .title::after {
  content: "Сабу и Ичи";
}

/* Бей Эйс! OVA */
.cover[href*="animes/314"] .title span {
  display: none !important;
}
.cover[href*="animes/314"] .title::after {
  content: "Бей эйс! OVA";
}

/* Врата Штейна */
.cover[href*="animes/z9253-"] .title span {
  display: none !important;
}
.cover[href*="animes/z9253-"] .title::after {
  content: "Врата;Штейна";
}

/* Космический Денди 2 */
.cover[href*="animes/23327-"] .title span {
  display: none !important;
}
.cover[href*="animes/23327-"] .title::after {
  content: "Космический☆Денди 2";
}

/* Твоё имя */
.cover[href*="animes/32281-"] .title span {
  display: none !important;
}
.cover[href*="animes/32281-"] .title::after {
  content: "Твоё имя";
}

/* Евангелион 3.0+1.01: Как-то раз */
.cover[href*="animes/3786-"] .title span {
  display: none !important;
}
.cover[href*="animes/3786-"] .title::after {
  content: "Евангелион: 3.0+1.01";
}

/* МАНГА */
/* Ван-Пис */
.cover[href*="mangas/z13-"] .title span {
  display: none !important;
}
.cover[href*="mangas/z13-"] .title::after {
  content: "Ван-Пис";
}

/* Мастер Муши */
.cover[href*="mangas/418-"] .title span {
  display: none !important;
}
.cover[href*="mangas/418-"] .title::after {
  content: "Мастер муши";
}

/* Спокойной ночи, Пунпун */
.cover[href*="mangas/4632-"] .title span {
  display: none !important;
}
.cover[href*="mangas/4632-"] .title::after {
  content: "Спокойной ночи, Пунпун";
}

/* Скалолаз */
.cover[href*="mangas/7375-"] .title span {
  display: none !important;
}
.cover[href*="mangas/7375-"] .title::after {
  content: "Скалолаз";
}

/* Баракамон */
.cover[href*="mangas/17051-"] .title span {
  display: none !important;
}
.cover[href*="mangas/17051-"] .title::after {
  content: "Баракамон";
}

/* Дандадан  */
.cover[href*="mangas/135496-"] .title span {
  display: none !important;
}
.cover[href*="mangas/135496-"] .title::after {
  content: "Дандадан";
}

/* РАНОБЕ */
/* Легенда о героях Галактики  */
.cover[href*="ranobe/6978-"] .title span {
  display: none !important;
}
.cover[href*="ranobe/6978-"] .title::after {
  content: "Легенда о Героях Галактики";
}

/* Наш разрушенный мир */
.cover[href*="ranobe/21115-"] .title span {
  display: none !important;
}
.cover[href*="ranobe/21115-"] .title::after {
  content: "Наш разрушенный мир";
}

/* Волчица и пряности */
.cover[href*="ranobe/9115-"] .title span {
  display: none !important;
}
.cover[href*="ranobe/9115-"] .title::after {
  content: "Волчица и пряности";
}

/* Райдо Кудзуноха против вестника смерти */
.cover[href*="ranobe/76973-"] .title span {
  display: none !important;
}
.cover[href*="ranobe/76973-"] .title::after {
  content: "Райдо Кузуноха против Вестника Смерти";
}

/* Цикл историй: Второй сезон */
.cover[href*="ranobe/z23751-"] .title span {
  display: none !important;
}
.cover[href*="ranobe/z23751-"] .title::after {
  content: "Цикл историй: Второй сезон";
}

/* Ночь Ведьм */
.cover[href*="ranobe/26027-"] .title span {
  display: none !important;
}
.cover[href*="ranobe/26027-"] .title::after {
  content: "Ночь Ведьм";
}

/* Джерард Уэй */
.cover[href*="people/7894"] .title span {
  display: none !important;
}
.cover[href*="people/7894"] .title::after {
  content: "My Chemical Romance";
}
