/* Биба */
.cover[href*="animes/1-"] .title span {
  display: none !important;
}
.cover[href*="animes/1-"] .title::after {
  content: "Ковбой Бибоп ★";
  color: #fde68f;
}

/* Йоцуба */
.cover[href*="mangas/104-"] .title span {
  display: none !important;
}
.cover[href*="mangas/104-"] .title::after {
  content: "Ёцуба! ★";
  color: #fde68f;
}

/* Зарегото */
.cover[href*="ranobe/9726-"] .title span {
  display: none !important;
}
.cover[href*="ranobe/9726-"] .title::after {
  content: "Зарегото ★";
  color: #fde68f;
}

/* Шиина Ринго */
.cover[href*="people/8213-"] .title span {
  display: none !important;
}
.cover[href*="people/8213-"] .title::after {
  content: "Шиина Ринго ★";
  color: #fde68f;
}

/* Марико Гото */
.cover[href*="people/31631-"] .title span {
  display: none !important;
}
.cover[href*="people/31631-"] .title::after {
  content: "Марико Гото ★";
  color: #fde68f;
}

/* Boris */
.cover[href*="people/40186-"] .title {
  font-size: 0 !important;
}

.cover[href*="people/40186-"] .title::after {
  content: "Boris ★";
  color: #fde68f;
  font-size: 13px;
}
.cover[href*="people/40186-"] .title.two_lined::after {
  font-size: 11.5px;
}

/* Ёшитака Амано */
.cover[href*="people/2967-"] .title span {
  display: none !important;
}
.cover[href*="people/2967-"] .title::after {
  content: "Ёшитака Амано ★";
  color: #fde68f;
}

/* ISIN NISIO */
.cover[href*="people/5254-"] .title span {
  display: none !important;
}
.cover[href*="people/5254-"] .title::after {
  content: "NISIOISIN ★";
  color: #fde68f;
}

/* Take */
.cover[href*="people/10875-"] .title {
  font-size: 0 !important;
}

.cover[href*="people/10875-"] .title::after {
  content: "Take ★";
  color: #fde68f;
  font-size: 13px;
}
.cover[href*="people/10875-"] .title.two_lined::after {
  font-size: 11.5px;
}

/* Акиюки Шимбо */
.cover[href*="people/5089-"] .title span {
  display: none !important;
}
.cover[href*="people/5089-"] .title::after {
  content: "Акиюки Шимбо ★";
  color: #fde68f;
}

/* Шиничиро Ватанабе */
.cover[href*="people/2009-"] .title span {
  display: none !important;
}
.cover[href*="people/2009-"] .title::after {
  content: "Шиничиро Ватанабе ★";
  color: #fde68f;
}

/* Сатоши Кон */
.cover[href*="people/4580-"] .title span {
  display: none !important;
}
.cover[href*="people/4580-"] .title::after {
  content: "Сатоши Кон ★";
  color: #fde68f;
}

/* Маая Сакамото */
.cover[href*="people/90-"] .title span {
  display: none !important;
}
.cover[href*="people/90-"] .title::after {
  content: "Маая Сакамото ★";
  color: #fde68f;
}

/* Хироши Камия */
.cover[href*="people/118-"] .title span {
  display: none !important;
}
.cover[href*="people/118-"] .title::after {
  content: "Хироши Камия ★";
  color: #fde68f;
}

/* Коичи Ямадера */
.cover[href*="people/11-"] .title span {
  display: none !important;
}
.cover[href*="people/11-"] .title::after {
  content: "Коичи Ямадера ★";
  color: #fde68f;
}

/* Ошино Шинобу */
.cover[href*="characters/23602-"] .title span {
  display: none !important;
}
.cover[href*="characters/23602-"] .title::after {
  content: "Шинобу Ошино ★";
  color: #fde68f;
}

/* Минато Кагеаки */
.cover[href*="characters/91703-"] .title span {
  display: none !important;
}
.cover[href*="characters/91703-"] .title::after {
  content: "Минато Кагеаки ★";
  color: #fde68f;
}

/* Коичи Ямадера */
.cover[href*="characters/34470-"] .title span {
  display: none !important;
}
.cover[href*="characters/34470-"] .title::after {
  content: "Курису Макисе ★";
  color: #fde68f;
}

/* РЕНЕЙМЫ */
/* Сабу и Ичи */
.cover[href*="animes/5997-"] .title span {
  display: none !important;
}
.cover[href*="animes/5997-"] .title::after {
  content: "Сабу и Ичи";
  color: #d2ccdf;
}

/* Мастер Муши */
.cover[href*="mangas/418-"] .title span {
  display: none !important;
}
.cover[href*="mangas/418-"] .title::after {
  content: "Мастер муши";
  color: #d0dfd1;
}
