/* Биба */
.cover[href*="animes/1-"] .title span {
  display: none !important;
}
.cover[href*="animes/1-"] .title::after {
  content: "Ковбой Бибоп ✶";
  color: #e32816;
}

/* Йоцуба */
.cover[href*="mangas/104-"] .title span {
  display: none !important;
}
.cover[href*="mangas/104-"] .title::after {
  content: "Ёцуба! ✤";
  color: #11b03c;
}

/* Зарегото */
.cover[href*="ranobe/9726-"] .title span {
  display: none !important;
}
.cover[href*="ranobe/9726-"] .title::after {
  content: "Зарегото ❂";
  color: #e2732b;
}

/* Шиина Ринго */
.cover[href*="people/8213-"] .title span {
  display: none !important;
}
.cover[href*="people/8213-"] .title::after {
  content: "Шиина Ринго ★";
  color: #fde68f;
}

/* Марико Гото */
.cover[href*="people/31631-"] .title span {
  display: none !important;
}
.cover[href*="people/31631-"] .title::after {
  content: "Марико Гото ★";
  color: #fde68f;
}

/* Boris */
.cover[href*="people/40186-"] .title {
  font-size: 0 !important;
}

.cover[href*="people/40186-"] .title::after {
  content: "Boris ★";
  color: #fde68f;
  font-size: 13px;
}
.cover[href*="people/40186-"] .title.two_lined::after {
  font-size: 11.5px;
}

/* Ёшитака Амано */
.cover[href*="people/2967-"] .title span {
  display: none !important;
}
.cover[href*="people/2967-"] .title::after {
  content: "Ёшитака Амано ★";
  color: #fde68f;
}

/* ISIN NISIO */
.cover[href*="people/5254-"] .title span {
  display: none !important;
}
.cover[href*="people/5254-"] .title::after {
  content: "NISIOISIN ★";
  color: #fde68f;
}

/* Take */
.cover[href*="people/10875-"] .title {
  font-size: 0 !important;
}

.cover[href*="people/10875-"] .title::after {
  content: "Take ★";
  color: #fde68f;
  font-size: 13px;
}
.cover[href*="people/10875-"] .title.two_lined::after {
  font-size: 11.5px;
}

/* Акиюки Шимбо */
.cover[href*="people/5089-"] .title span {
  display: none !important;
}
.cover[href*="people/5089-"] .title::after {
  content: "Акиюки Шимбо ★";
  color: #fde68f;
}

/* Шиничиро Ватанабе */
.cover[href*="people/2009-"] .title span {
  display: none !important;
}
.cover[href*="people/2009-"] .title::after {
  content: "Шиничиро Ватанабе ★";
  color: #fde68f;
}

/* Сатоши Кон */
.cover[href*="people/4580-"] .title span {
  display: none !important;
}
.cover[href*="people/4580-"] .title::after {
  content: "Сатоши Кон ★";
  color: #fde68f;
}

/* Маая Сакамото */
.cover[href*="people/90-"] .title span {
  display: none !important;
}
.cover[href*="people/90-"] .title::after {
  content: "Маая Сакамото ★";
  color: #fde68f;
}

/* Хироши Камия */
.cover[href*="people/118-"] .title span {
  display: none !important;
}
.cover[href*="people/118-"] .title::after {
  content: "Хироши Камия ★";
  color: #fde68f;
}

/* Коичи Ямадера */
.cover[href*="people/11-"] .title span {
  display: none !important;
}
.cover[href*="people/11-"] .title::after {
  content: "Коичи Ямадера ★";
  color: #fde68f;
}

/* Ошино Шинобу */
.cover[href*="characters/23602-"] .title span {
  display: none !important;
}
.cover[href*="characters/23602-"] .title::after {
  content: "Шинобу Ошино ★";
  color: #fde68f;
}

/* Минато Кагеаки */
.cover[href*="characters/91703-"] .title span {
  display: none !important;
}
.cover[href*="characters/91703-"] .title::after {
  content: "Минато Кагеаки ★";
  color: #fde68f;
}

/* Коичи Ямадера */
.cover[href*="characters/34470-"] .title span {
  display: none !important;
}
.cover[href*="characters/34470-"] .title::after {
  content: "Курису Макисе ★";
  color: #fde68f;
}

/* Джун Айкава */
.cover[href*="characters/29595"] .title span {
  display: none !important;
}
.cover[href*="characters/29595"] .title::after {
  content: "Джун Айкава ★";
  color: #fde68f;
}

/* РЕНЕЙМЫ */
/* АНИМЕ */
/* Сабу и Ичи */
.cover[href*="animes/5997-"] .title span {
  display: none !important;
}
.cover[href*="animes/5997-"] .title::after {
  content: "Сабу и Ичи";
}

/* Бей Эйс! OVA */
.cover[href*="animes/314"] .title span {
  display: none !important;
}
.cover[href*="animes/314"] .title::after {
  content: "Бей эйс! OVA";
}

/* Врата Штейна */
.cover[href*="animes/z9253-"] .title span {
  display: none !important;
}
.cover[href*="animes/z9253-"] .title::after {
  content: "Врата;Штейна";
}

/* Космический Денди 2 */
.cover[href*="animes/23327-"] .title span {
  display: none !important;
}
.cover[href*="animes/23327-"] .title::after {
  content: "Космический☆Денди 2";
}

/* Твоё имя */
.cover[href*="animes/32281-"] .title span {
  display: none !important;
}
.cover[href*="animes/32281-"] .title::after {
  content: "Твоё имя";
}

/* Евангелион 3.0+1.01: Как-то раз */
.cover[href*="animes/3786-"] .title span {
  display: none !important;
}
.cover[href*="animes/3786-"] .title::after {
  content: "Евангелион: 3.0+1.01";
}

/* МАНГА */
/* Ван-Пис */
.cover[href*="mangas/z13-"] .title span {
  display: none !important;
}
.cover[href*="mangas/z13-"] .title::after {
  content: "Ван-Пис";
}

/* Мастер Муши */
.cover[href*="mangas/418-"] .title span {
  display: none !important;
}
.cover[href*="mangas/418-"] .title::after {
  content: "Мастер муши";
}

/* Спокойной ночи, Пунпун */
.cover[href*="mangas/4632-"] .title span {
  display: none !important;
}
.cover[href*="mangas/4632-"] .title::after {
  content: "Спокойной ночи, Пунпун";
}

/* Скалолаз */
.cover[href*="mangas/7375-"] .title span {
  display: none !important;
}
.cover[href*="mangas/7375-"] .title::after {
  content: "Скалолаз";
}

/* Баракамон */
.cover[href*="mangas/17051-"] .title span {
  display: none !important;
}
.cover[href*="mangas/17051-"] .title::after {
  content: "Баракамон";
}

/* Дандадан  */
.cover[href*="mangas/135496-"] .title span {
  display: none !important;
}
.cover[href*="mangas/135496-"] .title::after {
  content: "Дандадан";
}

/* РАНОБЕ */
/* Легенда о героях Галактики  */
.cover[href*="ranobe/6978-"] .title span {
  display: none !important;
}
.cover[href*="ranobe/6978-"] .title::after {
  content: "Легенда о Героях Галактики";
}

/* Наш разрушенный мир */
.cover[href*="ranobe/21115-"] .title span {
  display: none !important;
}
.cover[href*="ranobe/21115-"] .title::after {
  content: "Наш разрушенный мир";
}

/* Волчица и пряности */
.cover[href*="ranobe/9115-"] .title span {
  display: none !important;
}
.cover[href*="ranobe/9115-"] .title::after {
  content: "Волчица и пряности";
}

/* Райдо Кудзуноха против вестника смерти */
.cover[href*="ranobe/76973-"] .title span {
  display: none !important;
}
.cover[href*="ranobe/76973-"] .title::after {
  content: "Райдо Кузуноха против Вестника Смерти";
}

/* Цикл историй: Второй сезон */
.cover[href*="ranobe/z23751-"] .title span {
  display: none !important;
}
.cover[href*="ranobe/z23751-"] .title::after {
  content: "Цикл историй: Второй сезон";
}

/* Ночь Ведьм */
.cover[href*="ranobe/26027-"] .title span {
  display: none !important;
}
.cover[href*="ranobe/26027-"] .title::after {
  content: "Ночь Ведьм";
}

/* Джерард Уэй */
.cover[href*="people/7894"] .title span {
  display: none !important;
}
.cover[href*="people/7894"] .title::after {
  content: "My Chemical Romance";
}

/* Кэйичи Танаами */
.cover[href*="people/28807"] .title span {
  display: none !important;
}
.cover[href*="people/28807"] .title::after {
  content: "Кэйичи Танаами";
}

/* Такаши Мураками */
.cover[href*="people/7963"] .title span {
  display: none !important;
}
.cover[href*="people/7963"] .title::after {
  content: "Такаши Мураками";
}

/* Хироши Нагахама */
.cover[href*="people/4346"] .title span {
  display: none !important;
}
.cover[href*="people/4346"] .title::after {
  content: "Хироши Нагахама";
}

/* Мамору Ошии */
.cover[href*="people/4097"] .title span {
  display: none !important;
}
.cover[href*="people/4097"] .title::after {
  content: "Мамору Ошии";
}

/* Шинго Нацумэ */
.cover[href*="people/28579"] .title span {
  display: none !important;
}
.cover[href*="people/28579"] .title::after {
  content: "Шинго Нацумэ";
}

/* Ами Кошимидзу */
.cover[href*="people/70"] .title span {
  display: none !important;
}
.cover[href*="people/70"] .title::after {
  content: "Ами Кошимидзу";
}

/* Миюки Саваширо */
.cover[href*="people/99"] .title span {
  display: none !important;
}
.cover[href*="people/99"] .title::after {
  content: "Миюки Саваширо";
}

/* Юичи Накамура */
.cover[href*="people/513"] .title span {
  display: none !important;
}
.cover[href*="people/513"] .title::after {
  content: "Юичи Накамура";
}

/* Шиничиро Мики */
.cover[href*="people/22"] .title span {
  display: none !important;
}
.cover[href*="people/22"] .title::after {
  content: "Шиничиро Мики";
}

/* Манкичи Тогава */
.cover[href*="characters/193546"] .title span {
  display: none !important;
}
.cover[href*="characters/193546"] .title::after {
  content: "Манкичи Тогава";
}

/* Сатору Годжо */
.cover[href*="characters/164471"] .title span {
  display: none !important;
}
.cover[href*="characters/164471"] .title::after {
  content: "Сатору Годжо";
}

/* Дейшу Кайки */
.cover[href*="characters/53641"] .title span {
  display: none !important;
}
.cover[href*="characters/53641"] .title::after {
  content: "Дейшу Кайки";
}

/* Тоуко Кучики */
.cover[href*="characters/29926"] .title span {
  display: none !important;
}
.cover[href*="characters/29926"] .title::after {
  content: "Тоуко Кучики";
}

/* Аясэ Кишимото */
.cover[href*="characters/16414"] .title span {
  display: none !important;
}
.cover[href*="characters/16414"] .title::after {
  content: "Аясэ Кишимото";
}

/* Клэр Фаррон */
.cover[href*="characters/118835"] .title span {
  display: none !important;
}
.cover[href*="characters/118835"] .title::after {
  content: "Клэр Фаррон";
}

/* Санпей Ширато */
.cover[href*="people/6586"] .title span {
  display: none !important;
}
.cover[href*="people/6586"] .title::after {
  content: "Санпей Ширато";
}

/* Ёшитоши Абэ */
.cover[href*="people/1991"] .title span {
  display: none !important;
}
.cover[href*="people/1991"] .title::after {
  content: "Ёшитоши Абэ";
}

/* Шотаро Ишиномори */
.cover[href*="people/2478"] .title span {
  display: none !important;
}
.cover[href*="people/2478"] .title::after {
  content: "Шотаро Ишиномори";
}

/* Шигенори Соеджима */
.cover[href*="people/12279"] .title span {
  display: none !important;
}
.cover[href*="people/12279"] .title::after {
  content: "Шигенори Соеджима";
}

/* Ёшикадзу Ясухико */
.cover[href*="people/2220"] .title span {
  display: none !important;
}
.cover[href*="people/2220"] .title::after {
  content: "Ёшикадзу Ясухико";
}

/* Сэйичи Хаяши */
.cover[href*="people/5926"] .title span {
  display: none !important;
}
.cover[href*="people/5926"] .title::after {
  content: "Сэйичи Хаяши";
}

/* Ацуши Канеко */
.cover[href*="people/3628"] .title span {
  display: none !important;
}
.cover[href*="people/3628"] .title::after {
  content: "Ацуши Канеко";
}

/* Ёшиюки Садамото */
.cover[href*="people/3158"] .title span {
  display: none !important;
}
.cover[href*="people/3158"] .title::after {
  content: "Ёшиюки Садамото";
}

/* Шиничи Сакамото */
.cover[href*="people/5215"] .title span {
  display: none !important;
}
.cover[href*="people/5215"] .title::after {
  content: "Шиничи Сакамото";
}

/* Масамунэ Широ */
.cover[href*="people/2609"] .title span {
  display: none !important;
}
.cover[href*="people/2609"] .title::after {
  content: "Масамунэ Широ";
}

/* Кину Нишимура */
.cover[href*="people/24539"] .title span {
  display: none !important;
}
.cover[href*="people/24539"] .title::after {
  content: "Кину Нишимура";
}

/* Широ Мива */
.cover[href*="people/2974"] .title span {
  display: none !important;
}
.cover[href*="people/2974"] .title::after {
  content: "Широ Мива";
}

/* Акихико Ёшида */
.cover[href*="people/46007"] .title span {
  display: none !important;
}
.cover[href*="people/46007"] .title::after {
  content: "Акихико Ёшида";
}

/* Пабло Учида */
.cover[href*="people/48931"] .title span {
  display: none !important;
}
.cover[href*="people/48931"] .title::after {
  content: "Пабло Учида";
}

/* Ичиро Мидзуки */
.cover[href*="people/6024"] .title span {
  display: none !important;
}
.cover[href*="people/6024"] .title::after {
  content: "Ичиро Мидзуки";
}

/* Такеши Накацука */
.cover[href*="people/55462"] .title span {
  display: none !important;
}
.cover[href*="people/55462"] .title::after {
  content: "Такеши Накацука";
}
