/* MALE */
/* Lalo Salamanca */
.b-image[data-attrs *= "https://i.imgur.com/stncFce.png" ] {
  --overlay-image: url("https://i.imgur.com/lJMSuw7.gif");
}

/* Rust Cohle */
.b-image[data-attrs *= "https://i.imgur.com/wRfAU8Z.png" ] {
  --overlay-image: url("https://i.imgur.com/Li9EJl6.gif");
}

/* Leto Atreides */
.b-image[data-attrs *= "https://i.imgur.com/y0QXeGY.png" ] {
  --overlay-image: url("https://i.imgur.com/IXczRUJ.gif");
}

/* Benoit Blanc */
.b-image[data-attrs *= "https://i.imgur.com/mwhiI7p.png" ] {
  --overlay-image: url("https://i.imgur.com/MIlA1Pl.gif");
}

/* Officer K */
.b-image[data-attrs *= "https://i.imgur.com/Qd2DENp.png" ] {
  --overlay-image: url("https://i.imgur.com/KPyKTMg.gif");
}

/* James Howlett */
.b-image[data-attrs *= "https://i.imgur.com/YkjN3ek.png" ] {
  --overlay-image: url("https://i.imgur.com/Apdxll1.gif");
}

/* Seo Tae-Yoon */
.b-image[data-attrs *= "https://i.imgur.com/CJNnlXC.png" ] {
  --overlay-image: url("https://i.imgur.com/oxLTHNG.gif");
}

/* James Bond */
.b-image[data-attrs *= "https://i.imgur.com/6Cf9OY0.png" ] {
  --overlay-image: url("https://i.imgur.com/uw2xAa5.gif");
}

/* Michael Corleone */
.b-image[data-attrs *= "https://i.imgur.com/2oHktnm.png" ] {
  --overlay-image: url("https://i.imgur.com/MzgEaBc.gif");
}

/* Lestat de Lioncourt */
.b-image[data-attrs *= "https://i.imgur.com/DdScXcm.png" ] {
  --overlay-image: url("https://i.imgur.com/nya0M1W.gif");
}

/* John Doe */
.b-image[data-attrs *= "https://i.imgur.com/J012lDz.png" ] {
  --overlay-image: url("https://i.imgur.com/hD6zZKk.gif");
}

/* David Loki */
.b-image[data-attrs *= "https://i.imgur.com/pH7QE8w.png" ] {
  --overlay-image: url("https://i.imgur.com/XX7xNmg.gif");
}

/* Oberyn Martell */
.b-image[data-attrs *= "https://i.imgur.com/mVMVPBi.png" ] {
  --overlay-image: url("https://i.imgur.com/cFEtUhY.gif");
}

/* Killgrave */
.b-image[data-attrs *= "https://i.imgur.com/JmeGCkt.png" ] {
  --overlay-image: url("https://i.imgur.com/4nOb3F5.gif");
}

/* Silco */
.b-image[data-attrs *= "https://i.imgur.com/eYRdsqY.png" ] {
  --overlay-image: url("https://i.imgur.com/HPUj06m.gif");
}

/* Jack Conrad */
.b-image[data-attrs *= "https://i.imgur.com/x6mEJsl.png" ] {
  --overlay-image: url("https://i.imgur.com/xzgyAmK.gif");
}

/* Jack */
.b-image[data-attrs *= "https://i.imgur.com/JPFizI3.png" ] {
  --overlay-image: url("https://i.imgur.com/XWGOg5M.gif");
}

/* Death */
.b-image[data-attrs *= "https://i.imgur.com/fyZ3Q5j.png" ] {
  --overlay-image: url("https://i.imgur.com/OU6c3Qp.gif");
}

/* Soldier Boy */
.b-image[data-attrs *= "https://i.imgur.com/iTI2may.png" ] {
  --overlay-image: url("https://i.imgur.com/T5Wi2JC.gif");
}

/* Tywin Lannister */
.b-image[data-attrs *= "https://i.imgur.com/NQEpFnI.png" ] {
  --overlay-image: url("https://i.imgur.com/qU4V6H6.gif");
}

/* Anton Chigurh */
.b-image[data-attrs *= "https://i.imgur.com/2cZVCsS.png" ] {
  --overlay-image: url("https://i.imgur.com/PltXgch.png");
}

/* Vincent */
.b-image[data-attrs *= "https://i.imgur.com/E8Qwc8x.png" ] {
  --overlay-image: url("https://i.imgur.com/XAWzfj3.gif");
}

/* Thomas Wake */
.b-image[data-attrs *= "https://i.imgur.com/oPCdu6A.png" ] {
  --overlay-image: url("https://i.imgur.com/invG6EN.gif");
}

/* Tangerine */
.b-image[data-attrs *= "https://i.imgur.com/DqTfFV5.png" ] {
  --overlay-image: url("https://i.imgur.com/v9jGLNW.gif");
}

/* Tony Lip */
.b-image[data-attrs *= "https://i.imgur.com/YKtw5OP.png" ] {
  --overlay-image: url("https://i.imgur.com/o7MbjjG.gif");
}

/* Waymond Wang */
.b-image[data-attrs *= "https://i.imgur.com/VT5LTcf.png" ] {
  --overlay-image: url("https://i.imgur.com/nSQQW29.gif");
}

/* Wayne Gale */
.b-image[data-attrs *= "https://i.imgur.com/MX9bWHS.png" ] {
  --overlay-image: url("https://i.imgur.com/5Z4Yafn.gif");
}


/* FEM */
/* Laura Palmer */
.b-image[data-attrs *= "https://i.imgur.com/unRE0nu.png" ] {
  --overlay-image: url("https://i.imgur.com/DnqSPdJ.gif");
}

/* Jane Lane */
.b-image[data-attrs *= "https://i.imgur.com/EseVMtb.png" ] {
  --overlay-image: url("https://i.imgur.com/0KtKREm.gif");
}

/* Jessica Jones */
.b-image[data-attrs *= "https://i.imgur.com/9h23XFw.png" ] {
  --overlay-image: url("https://i.imgur.com/VPtoHUw.gif");
}

/* Jinx */
.b-image[data-attrs *= "https://i.imgur.com/n60A7HB.png" ] {
  --overlay-image: url("https://i.imgur.com/cfe1sod.gif");
}

/* Beth Harmon */
.b-image[data-attrs *= "https://i.imgur.com/q8kaUJO.png" ] {
  --overlay-image: url("https://i.imgur.com/PfcFBg8.gif");
}

/* Enid Sinclair */
.b-image[data-attrs *= "https://i.imgur.com/YV5MIAW.png" ] {
  --overlay-image: url("https://i.imgur.com/SDCUKC7.gif");
}

/* Isabel Lahiri */
.b-image[data-attrs *= "https://i.imgur.com/NwiAMiW.png" ] {
  --overlay-image: url("https://i.imgur.com/gTBKrWY.gif");
}

/* Amy Dunne */
.b-image[data-attrs *= "https://i.imgur.com/ZEtfVQI.png" ] {
  --overlay-image: url("https://i.imgur.com/qkLh5nn.gif");
}

/* Astrid Hofferson */
.b-image[data-attrs *= "https://i.imgur.com/r00680z.png" ] {
  --overlay-image: url("https://i.imgur.com/ytEzw43.gif");
}

/* Audrey Horne */
.b-image[data-attrs *= "https://i.imgur.com/C5lzsMx.png" ] {
  --overlay-image: url("https://i.imgur.com/gaPaYWu.gif");
}

/* Judy Hopps */
.b-image[data-attrs *= "https://i.imgur.com/SbpYUDV.png" ] {
  --overlay-image: url("https://i.imgur.com/rCHmurQ.gif");
}

/* Kim Wexler */
.b-image[data-attrs *= "https://i.imgur.com/Aznq7Va.png" ] {
  --overlay-image: url("https://i.imgur.com/A0RWfu7.gif");
}

/* Kimiko Miyashiro */
.b-image[data-attrs *= "https://i.imgur.com/iGcXvKY.png" ] {
  --overlay-image: url("https://i.imgur.com/0cObv5S.gif");
}

/* Lisbeth Salander */
.b-image[data-attrs *= "https://i.imgur.com/BPH2kOz.png" ] {
  --overlay-image: url("https://i.imgur.com/rho52p9.gif");
}

/* Marge Gunderson */
.b-image[data-attrs *= "https://i.imgur.com/aasM3jQ.png" ] {
  --overlay-image: url("https://i.imgur.com/qgihjPl.gif");
}

/* Margot Mills */
.b-image[data-attrs *= "https://i.imgur.com/9aBgUQ9.png" ] {
  --overlay-image: url("https://i.imgur.com/xTLQQYv.gif");
}

/* Marla Singer */
.b-image[data-attrs *= "https://i.imgur.com/noIzQL1.png" ] {
  --overlay-image: url("https://i.imgur.com/RAYF02I.gif");
}

/* Olga of the Birch Forest */
.b-image[data-attrs *= "https://i.imgur.com/oySVd6t.png" ] {
  --overlay-image: url("https://i.imgur.com/NlglJh4.gif");
}

/* Nawal Marwan */
.b-image[data-attrs *= "https://i.imgur.com/PHzHajB.png" ] {
  --overlay-image: url("https://i.imgur.com/J80hBgL.gif");
}

/* Mathilda Lando */
.b-image[data-attrs *= "https://i.imgur.com/jHJL9n3.png" ] {
  --overlay-image: url("https://i.imgur.com/ZzzfY3r.gif");
}

/* Rita/Camilla Rhodes */
.b-image[data-attrs *= "https://i.imgur.com/Nh0YCER.png" ] {
  --overlay-image: url("https://i.imgur.com/ewX0J3O.gif");
}

/* Beatrix "the Bride" Kiddo */
.b-image[data-attrs *= "https://i.imgur.com/A34iQlO.png" ] {
  --overlay-image: url("https://i.imgur.com/yaCUBtN.gif");
}
