/* Sheena Ringo / Tokyo Jihen */
a[href$="https://i.imgur.com/N3Wq2iU.png"] {
  pointer-events: none;
}

/* Boris */
a[href$="https://i.imgur.com/5KpBa5N.png"] {
  pointer-events: none;
}

/* Mariko Gotō / Midori */
a[href$="https://i.imgur.com/Rq0MdLD.png"] {
  pointer-events: none;
}

/* Yasuyuki Okamura */
a[href$="https://i.imgur.com/pc6nod3.png"] {
  pointer-events: none;
}

/* MIYAVI */
a[href$="https://i.imgur.com/9RNOqo9.png"] {
  pointer-events: none;
}

/* Shikao Suga */
a[href$="https://i.imgur.com/BriuFjs.png"] {
  pointer-events: none;
}

/* ATARASHII GAKKO! */
a[href$="https://i.imgur.com/sjKxG1N.png"] {
  pointer-events: none;
}

/* DAOKO */
a[href$="https://i.imgur.com/7lLnzG2.png"] {
  pointer-events: none;
}

/* BOOM BOOM SATELLITES */
a[href$="https://i.imgur.com/zGOBRmL.png"] {
  pointer-events: none;
}

/* Tricot */
a[href$="https://i.imgur.com/OZCvfM1.png"] {
  pointer-events: none;
}

/* Atsushi Sakurai / BUCK-TICK */
a[href$="https://i.imgur.com/0XouBxK.png"] {
  pointer-events: none;
}

/* Yasushi Ishii */
a[href$="https://i.imgur.com/hYu1zb4.png"] {
  pointer-events: none;
}

/* Fishmans */
a[href$="https://i.imgur.com/rBKFREJ.png"] {
  pointer-events: none;
}

/* Number Girl */
a[href$="https://i.imgur.com/GkYyGi9.png"] {
  pointer-events: none;
}

/* Shinsei Kamattechan */
a[href$="https://i.imgur.com/sY31HvB.png"] {
  pointer-events: none;
}

/* Daiki Tsuneta */
a[href$="https://i.imgur.com/6fqYbsc.png"] {
  pointer-events: none;
}

/* the pillows */
a[href$="https://i.imgur.com/7zJp7h0.png"] {
  pointer-events: none;
}

/* RHYMESTER */
a[href$="https://i.imgur.com/tvnaqol.png"] {
  pointer-events: none;
}

/* toe */
a[href$="https://i.imgur.com/eRJW6VQ.png"] {
  pointer-events: none;
}

/* Eikichi Yazawa */
a[href$="https://i.imgur.com/VSYc21Y.png"] {
  pointer-events: none;
}

/* Yellow Magic Orchestra */
a[href$="https://i.imgur.com/u8GaNmu.png"] {
  pointer-events: none;
}

/* Kazunobu Mineta / GING NANG BOYZ */
a[href$="https://i.imgur.com/3tvkYCW.png"] {
  pointer-events: none;
}

/* Kinoko Teikoku */
a[href$="https://i.imgur.com/0OcxI8s.png"] {
  pointer-events: none;
}

/* Otoboke Beaver */
a[href$="https://i.imgur.com/5byHrCG.png"] {
  pointer-events: none;
}

/* Keigo Oyamada / Cornelius */
a[href$="https://i.imgur.com/Lm22rRZ.png"] {
  pointer-events: none;
}

/*  */
a[href$=""] {
  pointer-events: none;
}
