/* ANIME */

/* Steins;Gate */
[href*="animes/z9253-"] {
  --show-default: 0;
  --custom-image: url(https://i.imgur.com/gyqceIl.png);
}

/* Cowboy Bebop */
[href*="animes/1-"] {
  --show-default: 0;
  --custom-image: url(https://i.imgur.com/uLwmsY9.png);
}

/* Kimi no Na wa. */
[href*="animes/32281-"] {
  --show-default: 0;
  --custom-image: url(https://i.imgur.com/TMD79tj.png);
}

/* Samurai Champloo */
[href*="animes/205-"] {
  --show-default: 0;
  --custom-image: url(https://i.imgur.com/ZnOPpZF.png);
}

/* Space☆Dandy 2nd Season */
[href*="animes/23327-"] {
  --show-default: 0;
  --custom-image: url(https://i.imgur.com/yYi8Fg9.png);
}

/* Evangelion: 3.0+1.0 Thrice Upon a Time */
[href*="animes/3786-"] {
  --show-default: 0;
  --custom-image: url(https://i.imgur.com/pEbVujV.png);
}

/* Sabu to Ichi Torimono Hikae */
[href*="animes/5997-"] {
  --show-default: 0;
  --custom-image: url(https://i.imgur.com/m2EupvF.png);
}

/* Owarimonogatari 2nd Season */
[href*="animes/z35247-"] {
  --show-default: 0;
  --custom-image: url(https://i.imgur.com/eXnHFTJ.png);
}

/* Zankyou no Terror */
[href*="animes/23283-"] {
  --show-default: 0;
  --custom-image: url(https://i.imgur.com/4ccqmRz.png);
}

/* ACCA: 13-ku Kansatsu-ka */
[href*="animes/33337-"] {
  --show-default: 0;
  --custom-image: url(https://i.imgur.com/9uW9JzO.png);
}

/* Darker than Black: Kuro no Keiyakusha */
[href*="animes/z2025-"] {
  --show-default: 0;
  --custom-image: url(https://i.imgur.com/w95ApLZ.png);
}

/* Jujutsu Kaisen */
[href*="animes/40748-"] {
  --show-default: 0;
  --custom-image: url(https://i.imgur.com/xs7Aut4.png);
}

/* Mushishi */
[href*="animes/457-"] {
  --show-default: 0;
  --custom-image: url(https://i.imgur.com/83CTw12.png);
}

/* Otoko Ippiki Gaki Daishou */
[href*="animes/17467-"] {
  --show-default: 0;
  --custom-image: url(https://i.imgur.com/QU6iYpG.png);
}

/* Golden Time */
[href*="animes/z17895-"] {
  --show-default: 0;
  --custom-image: url(https://i.imgur.com/NUDcc8U.png);
}

/* Great Teacher Onizuka */
[href*="animes/245-"] {
  --show-default: 0;
  --custom-image: url(https://i.imgur.com/zNVGkFz.png);
}

/* Kill la Kill */
[href*="animes/z18679-"] {
  --show-default: 0;
  --custom-image: url(https://i.imgur.com/FDhK81K.png);
}

/* Gegege no Kitarou (1968) */
[href*="animes/z5688-"] {
  --show-default: 0;
  --custom-image: url(https://i.imgur.com/zPEi6DF.png);
}

/* FLCL */
[href*="animes/227-"] {
  --show-default: 0;
  --custom-image: url(https://i.imgur.com/lv21aEf.png);
}

/* Code Geass: Hangyaku no Lelouch R2 */
[href*="animes/2904-"] {
  --show-default: 0;
  --custom-image: url(https://i.imgur.com/eFyY80K.png);
}

/* Kyojin no Hoshi */
[href*="animes/5834-"] {
  --show-default: 0;
  --custom-image: url(https://i.imgur.com/PRkzQLT.png);
}

/* Serial Experiments Lain */
[href*="animes/339-"] {
  --show-default: 0;
  --custom-image: url(https://i.imgur.com/T1tKdBZ.png);
}

/* Natsume Yuujinchou */
[href*="animes/4081-"] {
  --show-default: 0;
  --custom-image: url(https://i.imgur.com/j1HWylU.png);
}

/* Koukaku Kidoutai */
[href*="animes/43-"] {
  --show-default: 0;
  --custom-image: url(https://i.imgur.com/S5ksxZs.png);
}

/* Mononoke */
[href*="animes/2246-"] {
  --show-default: 0;
  --custom-image: url(https://i.imgur.com/ksq3IXb.png);
}

/* Paprika */
[href*="animes/1943-"] {
  --show-default: 0;
  --custom-image: url(https://i.imgur.com/uZAJcYa.png);
}

/* Perfect Blue */
[href*="animes/437-"] {
  --show-default: 0;
  --custom-image: url(https://i.imgur.com/UZrXH0V.png);
}

/* Nijuu Mensou no Musume */
[href*="animes/3673-"] {
  --show-default: 0;
  --custom-image: url(https://i.imgur.com/j2PEb8Q.png);
}

/* Psycho-Pass */
[href*="animes/z13601-"] {
  --show-default: 0;
  --custom-image: url(https://i.imgur.com/ZZW96vo.png);
}

/* Sakamoto Desu ga? */
[href*="animes/z32542-"] {
  --show-default: 0;
  --custom-image: url(https://i.imgur.com/s2kJ22c.png);
}

/* Subete ga F ni Naru */
[href*="animes/y28621-"] {
  --show-default: 0;
  --custom-image: url(https://i.imgur.com/1Puzfz3.png);
}

/* Trigun */
[href*="animes/6-"] {
  --show-default: 0;
  --custom-image: url(https://i.imgur.com/yfXfAw0.png);
}

/* Yojouhan Shinwa Taikei */
[href*="animes/7785-"] {
  --show-default: 0;
  --custom-image: url(https://i.imgur.com/wm6WYj9.png);
}

/* Baccano! */
[href*="animes/z2251-"] {
  --show-default: 0;
  --custom-image: url(https://i.imgur.com/cxgISlR.png);
}

/* Animentary: Ketsudan */
[href*="animes/8436-"] {
  --show-default: 0;
  --custom-image: url(https://i.imgur.com/ssjFmZu.png);
}

/* Redline */
[href*="animes/6675-"] {
  --show-default: 0;
  --custom-image: url(https://i.imgur.com/i3gp409.png);
}

/* Ergo Proxy */
[href*="animes/z790-"] {
  --show-default: 0;
  --custom-image: url(https://i.imgur.com/xoScy8l.png);
}

/* Sonny Boy */
[href*="animes/48849-"] {
  --show-default: 0;
  --custom-image: url(https://i.imgur.com/2EC3krq.png);
}

/* Haibane Renmei */
[href*="animes/z387-"] {
  --show-default: 0;
  --custom-image: url(https://i.imgur.com/qtkk7k1.png);
}

/* Ginga Tetsudou 999 */
[href*="animes/1491-"] {
  --show-default: 0;
  --custom-image: url(https://i.imgur.com/wXnbpq1.png);
}

/* MANGA */

/* Barakamon */
[href*="mangas/17051-"] {
  --show-default: 0;
  --custom-image: url(https://i.imgur.com/FyrLZ9r.png);
}

/* JoJo no Kimyou na Bouken Part 6: Stone Ocean */
[href*="mangas/3009-"] {
  --show-default: 0;
  --custom-image: url(https://i.imgur.com/cSdxNet.png);
}

/* Mushishi */
[href*="mangas/418-"] {
  --show-default: 0;
  --custom-image: url(https://i.imgur.com/83CTw12.png);
}

/* One Piece */
[href*="mangas/z13-"] {
  --show-default: 0;
  --custom-image: url(https://i.imgur.com/LPckT3y.png);
}

/* Oyasumi Punpun */
[href*="mangas/4632-"] {
  --show-default: 0;
  --custom-image: url(https://i.imgur.com/7oeb6Wz.png);
}

/* Dandadan */
[href*="mangas/135496-"] {
  --show-default: 0;
  --custom-image: url(https://i.imgur.com/kB54QXN.png);
}

/* Berserk */
[href*="mangas/2-"] {
  --show-default: 0;
  --custom-image: url(https://i.imgur.com/sQzhfei.png);
}

/* Koukaku Kidoutai: Arise - Sleepless Eye */
[href*="mangas/48321-"] {
  --show-default: 0;
  --custom-image: url(https://i.imgur.com/SkXtpZ8.png);
}

/* Omoide Emanon */
[href*="mangas/17465-"] {
  --show-default: 0;
  --custom-image: url(https://i.imgur.com/VmXluvi.png);
}

/* Chainsaw Man */
[href*="mangas/116778-"] {
  --show-default: 0;
  --custom-image: url(https://i.imgur.com/ZCRmLvk.png);
}

/* Spy x Family */
[href*="mangas/119161-"] {
  --show-default: 0;
  --custom-image: url(https://i.imgur.com/xx6dD3Y.png);
}

/* Jumyou wo Kaitotte Moratta. Ichinen ni Tsuki, Ichimanen de. */
[href*="mangas/100448-"] {
  --show-default: 0;
  --custom-image: url(https://i.imgur.com/bzzHYiw.png);
}

/* Gangsta. */
[href*="mangas/24903-"] {
  --show-default: 0;
  --custom-image: url(https://i.imgur.com/aKnxIAw.png);
}

/* Opus */
[href*="mangas/23736-"] {
  --show-default: 0;
  --custom-image: url(https://i.imgur.com/LM65zSh.png);
}

/* Yokohama */
[href*="mangas/4-"] {
  --show-default: 0;
  --custom-image: url(https://i.imgur.com/SzzGUjs.png);
}

/* The Climber */
[href*="mangas/7375-"] {
  --show-default: 0;
  --custom-image: url(https://i.imgur.com/JeUtD7d.png);
}

/* Yofukashi no Uta */
[href*="mangas/121480-"] {
  --show-default: 0;
  --custom-image: url(https://i.imgur.com/Npaags7.png);
}

/* Yotsuba to! */
[href*="mangas/104-"] {
  --show-default: 0;
  --custom-image: url(https://i.imgur.com/lxT2nQl.png);
}

/* Wet Moon */
[href*="mangas/47921-"] {
  --show-default: 0;
  --custom-image: url(https://i.imgur.com/Y9eNKwm.png);
}

/* Bambi */
[href*="mangas/5710-"] {
  --show-default: 0;
  --custom-image: url(https://i.imgur.com/V4DR814.png);
}

/* Onanie Master Kurosawa */
[href*="mangas/8967-"] {
  --show-default: 0;
  --custom-image: url(https://i.imgur.com/ZAJiiRS.png);
}

/* Sayonara Zetsubou Sensei */
[href*="mangas/661-"] {
  --show-default: 0;
  --custom-image: url(https://i.imgur.com/Vdi8aiN.png);
}

/* Look Back */
[href*="mangas/138673-"] {
  --show-default: 0;
  --custom-image: url(https://i.imgur.com/vp34MOH.png);
}

/* Golden Kamuy */
[href*="mangas/85968-"] {
  --show-default: 0;
  --custom-image: url(https://i.imgur.com/28JWHvK.png);
}

/* Shurayuki-hime */
[href*="mangas/1672-"] {
  --show-default: 0;
  --custom-image: url(https://i.imgur.com/D4tYR4v.png);
}

/* Sabu to Ichi Torimono Hikae */
[href*="mangas/12427-"] {
  --show-default: 0;
  --custom-image: url(https://i.imgur.com/C3R5GoE.png);
}

/* Kouya no Shounen Isamu */
[href*="mangas/58449-"] {
  --show-default: 0;
  --custom-image: url(https://i.imgur.com/0MT5fYs.png);
}

/* Adolf ni Tsugu */
[href*="mangas/1695-"] {
  --show-default: 0;
  --custom-image: url(https://i.imgur.com/Zo4mqXT.png);
}

/* Aku no Hana */
[href*="mangas/z24705-"] {
  --show-default: 0;
  --custom-image: url(https://i.imgur.com/CnQpsy0.png);
}

/* RANOBE */

/* Monogatari Series: Second Season */
[href*="ranobe/z23751-"] {
  --show-default: 0;
  --custom-image: url(https://i.imgur.com/1Mif0xo.png);
}

/* Zaregoto Series */
[href*="ranobe/9726-"] {
  --show-default: 0;
  --custom-image: url(https://i.imgur.com/VdCmTmT.png);
}

/* Ookami to Koushinryou */
[href*="ranobe/9115-"] {
  --show-default: 0;
  --custom-image: url(https://i.imgur.com/UYOr1eV.png);
}

/* Devil Summoner: Kuzunoha Raidou vs Shibito Ekishi */
[href*="ranobe/76973-"] {
  --show-default: 0;
  --custom-image: url(https://i.imgur.com/tFPkQrQ.png);
}

/* Mahoutsukai no Yoru */
[href*="ranobe/26027-"] {
  --show-default: 0;
  --custom-image: url(https://i.imgur.com/zp7SQW5.png);
}

/* Sekai Series */
[href*="ranobe/21115-"] {
  --show-default: 0;
  --custom-image: url(https://i.imgur.com/7RKT9M2.png);
}

/* Ginga Eiyuu Densetsu */
[href*="ranobe/6978-"] {
  --show-default: 0;
  --custom-image: url(https://i.imgur.com/KmoYcvl.png);
}

/* MALE CHARS */

/* Seishuu Handa */
[href*="characters/31274-"] {
  --show-default: 0;
  --custom-image: url(https://i.imgur.com/6Ox6YCt.png);
}
[href*="characters/31274-"]:hover {
  --show-default: 0;
  --custom-image: url(https://i.imgur.com/4M3Mknu.gif);
}

/* Ginko */
[href*="characters/425-"] {
  --show-default: 0;
  --custom-image: url(https://i.imgur.com/XLZA3D1.png);
}
[href*="characters/425-"]:hover {
  --show-default: 0;
  --custom-image: url(https://i.imgur.com/Jkwq57z.gif);
}

/* Rintarou Okabe */
[href*="characters/35252-"] {
  --show-default: 0;
  --custom-image: url(https://i.imgur.com/TG8mhLw.png);
}
[href*="characters/35252-"]:hover {
  --show-default: 0;
  --custom-image: url(https://i.imgur.com/aQiGcjt.gif);
}

/* Favaro Leone */
[href*="characters/111779-"] {
  --show-default: 0;
  --custom-image: url(https://i.imgur.com/AJpmxHx.jpg);
}
[href*="characters/111779-"]:hover {
  --show-default: 0;
  --custom-image: url(https://i.imgur.com/EzCBui4.gif);
}

/* Byakuya Togami */
[href*="characters/65541-"] {
  --show-default: 0;
  --custom-image: url(https://i.imgur.com/gJHxREx.png);
}
[href*="characters/65541-"]:hover {
  --show-default: 0;
  --custom-image: url(https://i.imgur.com/51j58x1.gif);
}

/* Shiroe */
[href*="characters/81367-"] {
  --show-default: 0;
  --custom-image: url(https://i.imgur.com/bJYCDIS.png);
}
[href*="characters/81367-"]:hover {
  --show-default: 0;
  --custom-image: url(https://i.imgur.com/P5pWXZG.gif);
}

/* Spike Spiegel */
[href*="characters/1-"] {
  --show-default: 0;
  --custom-image: url(https://i.imgur.com/qOpiG03.png);
}
[href*="characters/1-"]:hover {
  --show-default: 0;
  --custom-image: url(https://i.imgur.com/mtVQMnx.gif);
}

/* Kiritsugu Emiya */
[href*="characters/10010-"] {
  --show-default: 0;
  --custom-image: url(https://i.imgur.com/TpnKfp1.jpg);
}
[href*="characters/10010-"]:hover {
  --show-default: 0;
  --custom-image: url(https://i.imgur.com/2BobuxP.gif);
}

/* Dandy */
[href*="characters/91119-"] {
  --show-default: 0;
  --custom-image: url(https://i.imgur.com/7F64jqI.png);
}
[href*="characters/91119-"]:hover {
  --show-default: 0;
  --custom-image: url(https://i.imgur.com/Q0KyBNS.gif);
}

/* Bonbello */
[href*="characters/176815-"] {
  --show-default: 0;
  --custom-image: url(https://i.imgur.com/TwcmiBE.png);
}
[href*="characters/176815-"]:hover {
  --show-default: 0;
  --custom-image: url(https://i.imgur.com/Dt0sOzE.png);
}

/* Brook */
[href*="characters/5627-"] {
  --show-default: 0;
  --custom-image: url(https://i.imgur.com/KHULdV8.png);
}
[href*="characters/5627-"]:hover {
  --show-default: 0;
  --custom-image: url(https://i.imgur.com/Phj5ssm.gif);
}

/* Satoru Gojou */
[href*="characters/164471-"] {
  --show-default: 0;
  --custom-image: url(https://i.imgur.com/g6Mpu0X.png);
}
[href*="characters/164471-"]:hover {
  --show-default: 0;
  --custom-image: url(https://i.imgur.com/mfaESma.gif);
}

/* Shinji Ikari */
[href*="characters/89-"] {
  --show-default: 0;
  --custom-image: url(https://i.imgur.com/vslhhXt.png);
}
[href*="characters/89-"]:hover {
  --show-default: 0;
  --custom-image: url(https://i.imgur.com/nIU2J3F.gif);
}

/* Ichi */
[href*="characters/80839-"] {
  --show-default: 0;
  --custom-image: url(https://i.imgur.com/A2KQim0.png);
}
[href*="characters/80839-"]:hover {
  --show-default: 0;
  --custom-image: url(https://i.imgur.com/gQopsbd.gif);
}

/* Mankichi Togawa */
[href*="characters/193546-"] {
  --show-default: 0;
  --custom-image: url(https://i.imgur.com/KXaiEqQ.png);
}
[href*="characters/193546-"]:hover {
  --show-default: 0;
  --custom-image: url(https://i.imgur.com/h5c6Yvu.gif);
}

/* Ken Takakura */
[href*="characters/196899-"] {
  --show-default: 0;
  --custom-image: url(https://i.imgur.com/0iV9yPK.png);
}
[href*="characters/196899-"]:hover {
  --show-default: 0;
  --custom-image: url(https://i.imgur.com/Dnh2mzQ.png);
}

/* Isaac Dian */
[href*="characters/3662-"] {
  --show-default: 0;
  --custom-image: url(https://i.imgur.com/QUYJqAK.png);
}
[href*="characters/3662-"]:hover {
  --show-default: 0;
  --custom-image: url(https://i.imgur.com/V0qUkUD.gif);
}

/* Raidou Kuzunoha */
[href*="characters/36699-"] {
  --show-default: 0;
  --custom-image: url(https://i.imgur.com/yiQsnXr.png);
}
[href*="characters/36699-"]:hover {
  --show-default: 0;
  --custom-image: url(https://i.imgur.com/fhE4q2P.gif);
}

/* JP */
[href*="characters/33973-"] {
  --show-default: 0;
  --custom-image: url(https://i.imgur.com/7BlgoaQ.png);
}
[href*="characters/33973-"]:hover {
  --show-default: 0;
  --custom-image: url(https://i.imgur.com/ydN5zuK.gif);
}

/* Starscourge Radahn */
[href*="characters/217039-"] {
  --show-default: 0;
  --custom-image: url(https://i.imgur.com/kRoELjn.png);
}
[href*="characters/217039-"]:hover {
  --show-default: 0;
  --custom-image: url(https://i.imgur.com/5hACNlE.gif);
}

/*https://i.imgur.com/9Q9Oeyb.gif OLD RADAHN GIF*/

/* Caim */
[href*="characters/109471-"] {
  --show-default: 0;
  --custom-image: url(https://i.imgur.com/wevxXjT.png);
}
[href*="characters/109471-"]:hover {
  --show-default: 0;
  --custom-image: url(https://i.imgur.com/v5xCtNS.gif);
}

/* Deishuu Kaiki */
[href*="characters/53641-"] {
  --show-default: 0;
  --custom-image: url(https://i.imgur.com/qUU9pKK.jpg);
}
[href*="characters/53641-"]:hover {
  --show-default: 0;
  --custom-image: url(https://i.imgur.com/1ZgP8Bv.gif);
}

/* Meme Oshino */
[href*="characters/22552-"] {
  --show-default: 0;
  --custom-image: url(https://i.imgur.com/yfz7NYG.png);
}
[href*="characters/22552-"]:hover {
  --show-default: 0;
  --custom-image: url(https://i.imgur.com/OhDvIl9.gif);
}

/* Boku */
[href*="characters/29593-"] {
  --show-default: 0;
  --custom-image: url(https://i.imgur.com/yByo9Di.png);
}
[href*="characters/29593-"]:hover {
  --show-default: 0;
  --custom-image: url(https://i.imgur.com/P3rMdu6.png);
}

/* Hitoshiki Zerozaki */
[href*="characters/34293-"] {
  --show-default: 0;
  --custom-image: url(https://i.imgur.com/WOrCHvg.png);
}
[href*="characters/34293-"]:hover {
  --show-default: 0;
  --custom-image: url(https://i.imgur.com/b3UJnqk.png);
}

/* Gaisuke Utsurugi */
[href*="characters/139919-"] {
  --show-default: 0;
  --custom-image: url(https://i.imgur.com/aQdtA5F.png);
}
[href*="characters/139919-"]:hover {
  --show-default: 0;
  --custom-image: url(https://i.imgur.com/zjNz76W.png);
}

/* Izumu Niounomiya */
[href*="characters/127932-"] {
  --show-default: 0;
  --custom-image: url(https://i.imgur.com/5gWep71.png);
}
[href*="characters/127932-"]:hover {
  --show-default: 0;
  --custom-image: url(https://i.imgur.com/9LUE6m7.png);
}

/* Takashi Saitou */
[href*="characters/153048-"] {
  --show-default: 0;
  --custom-image: url(https://i.imgur.com/hKTwOL3.png);
}
[href*="characters/153048-"]:hover {
  --show-default: 0;
  --custom-image: url(https://i.imgur.com/OUMlYv5.png);
}

/* FEM CHARS */

/* Kurisu Makise */
[href*="characters/34470-"] {
  --show-default: 0;
  --custom-image: url(https://i.imgur.com/DIKVQpJ.png);
}
[href*="characters/34470-"]:hover {
  --show-default: 0;
  --custom-image: url(https://i.imgur.com/3S8csJc.gif);
}

/* Reiko Natsume */
[href*="characters/13886-"] {
  --show-default: 0;
  --custom-image: url(https://i.imgur.com/Qwovt5q.png);
}
[href*="characters/13886-"]:hover {
  --show-default: 0;
  --custom-image: url(https://i.imgur.com/c5f7hJg.gif);
}

/* Urumi Kanzaki */
[href*="characters/455-"] {
  --show-default: 0;
  --custom-image: url(https://i.imgur.com/vYbDxcw.png);
}
[href*="characters/455-"]:hover {
  --show-default: 0;
  --custom-image: url(https://i.imgur.com/ghWx7TO.gif);
}

/* Faye Valentine */
[href*="characters/2-"] {
  --show-default: 0;
  --custom-image: url(https://i.imgur.com/DrpCi1o.png);
}
[href*="characters/2-"]:hover {
  --show-default: 0;
  --custom-image: url(https://i.imgur.com/BfTAHHE.gif);
}

/* Rin Kaga */
[href*="characters/12669-"] {
  --show-default: 0;
  --custom-image: url(https://i.imgur.com/rZbnaPc.png);
}
[href*="characters/12669-"]:hover {
  --show-default: 0;
  --custom-image: url(https://i.imgur.com/8VLrPPg.gif);
}

/* Touko Kuchiki */
[href*="characters/29926-"] {
  --show-default: 0;
  --custom-image: url(https://i.imgur.com/4rVnQy8.png);
}
[href*="characters/29926-"]:hover {
  --show-default: 0;
  --custom-image: url(https://i.imgur.com/e2LFkEg.png);
}

/* Ayase Kishimoto */
[href*="characters/16414-"] {
  --show-default: 0;
  --custom-image: url(https://i.imgur.com/8hNWIM3.png);
}
[href*="characters/16414-"]:hover {
  --show-default: 0;
  --custom-image: url(https://i.imgur.com/oqbHslK.gif);
}

/* Robin Nico */
[href*="characters/61-"] {
  --show-default: 0;
  --custom-image: url(https://i.imgur.com/6wagoDk.png);
}
[href*="characters/61-"]:hover {
  --show-default: 0;
  --custom-image: url(https://i.imgur.com/VgnPVW8.gif);
}

/* Perona */
[href*="characters/7467-"] {
  --show-default: 0;
  --custom-image: url(https://i.imgur.com/Gs6dHVt.png);
}
[href*="characters/7467-"]:hover {
  --show-default: 0;
  --custom-image: url(https://i.imgur.com/zOfLGO7.gif);
}

/* Momo Kawamoto */
[href*="characters/25275-"] {
  --show-default: 0;
  --custom-image: url(https://i.imgur.com/cP3RRls.png);
}
[href*="characters/25275-"]:hover {
  --show-default: 0;
  --custom-image: url(https://i.imgur.com/XKBsKuK.gif);
}

/* Hana Midorikawa */
[href*="characters/64847-"] {
  --show-default: 0;
  --custom-image: url(https://i.imgur.com/4bH8bJz.png);
}
[href*="characters/64847-"]:hover {
  --show-default: 0;
  --custom-image: url(https://i.imgur.com/bYsH033.gif);
}

/* Asuka Langley Souryuu */
[href*="characters/94-"] {
  --show-default: 0;
  --custom-image: url(https://i.imgur.com/a6QVqZw.png);
}
[href*="characters/94-"]:hover {
  --show-default: 0;
  --custom-image: url(https://i.imgur.com/TdNZ2Ej.gif);
}

/* Sapphire */
[href*="characters/22182-"] {
  --show-default: 0;
  --custom-image: url(https://i.imgur.com/qjrNZbA.png);
}
[href*="characters/22182-"]:hover {
  --show-default: 0;
  --custom-image: url(https://i.imgur.com/KhNyF5f.gif);
}

/* Chi Yamada */
[href*="characters/10765-"] {
  --show-default: 0;
  --custom-image: url(https://i.imgur.com/NkmHBk4.png);
}
[href*="characters/10765-"]:hover {
  --show-default: 0;
  --custom-image: url(https://i.imgur.com/aJsNMxz.gif);
}

/* Kozue Ayuhara */
[href*="characters/29453-"] {
  --show-default: 0;
  --custom-image: url(https://i.imgur.com/iG1smQ0.png);
}
[href*="characters/29453-"]:hover {
  --show-default: 0;
  --custom-image: url(https://i.imgur.com/SJ0yT0W.gif);
}

/* Momo Ayase */
[href*="characters/196898-"] {
  --show-default: 0;
  --custom-image: url(https://i.imgur.com/KFX0pOL.png);
}
[href*="characters/196898-"]:hover {
  --show-default: 0;
  --custom-image: url(https://i.imgur.com/FFMkVhK.png);
}

/* Seiko Ayase */
[href*="characters/196900-"] {
  --show-default: 0;
  --custom-image: url(https://i.imgur.com/0ZPLpPu.png);
}
[href*="characters/196900-"]:hover {
  --show-default: 0;
  --custom-image: url(https://i.imgur.com/mFMa7K3.png);
}

/* Maetel */
[href*="characters/6321-"] {
  --show-default: 0;
  --custom-image: url(https://i.imgur.com/qZX1CcU.png);
}
[href*="characters/6321-"]:hover {
  --show-default: 0;
  --custom-image: url(https://i.imgur.com/Jpr8FOt.gif);
}

/* Anya Forger */
[href*="characters/170256-"] {
  --show-default: 0;
  --custom-image: url(https://i.imgur.com/XCPjSEa.png);
}
[href*="characters/170256-"]:hover {
  --show-default: 0;
  --custom-image: url(https://i.imgur.com/FpjePhM.gif);
}

/* Nemissa */
[href*="characters/166412-"] {
  --show-default: 0;
  --custom-image: url(https://i.imgur.com/17RjIh7.png);
}
[href*="characters/166412-"]:hover {
  --show-default: 0;
  --custom-image: url(https://i.imgur.com/500M6D1.gif);
}

/* Motoko Kusanagi */
[href*="characters/1795-"] {
  --show-default: 0;
  --custom-image: url(https://i.imgur.com/b3eoHPZ.png);
}
[href*="characters/1795-"]:hover {
  --show-default: 0;
  --custom-image: url(https://i.imgur.com/Icg7xyp.gif);
}

/* Kona Furugoori */
[href*="characters/60157-"] {
  --show-default: 0;
  --custom-image: url(https://i.imgur.com/YKuvVBM.png);
}
[href*="characters/60157-"]:hover {
  --show-default: 0;
  --custom-image: url(https://i.imgur.com/jofOV84.gif);
}

/* Rei Reiho */
[href*="characters/212605-"] {
  --show-default: 0;
  --custom-image: url(https://i.imgur.com/eSBfzyb.png);
}
[href*="characters/212605-"]:hover {
  --show-default: 0;
  --custom-image: url(https://i.imgur.com/dk48ksS.gif);
}

/* Jeanne */
[href*="characters/94595-"] {
  --show-default: 0;
  --custom-image: url(https://i.imgur.com/bJwCIka.png);
}
[href*="characters/94595-"]:hover {
  --show-default: 0;
  --custom-image: url(https://i.imgur.com/K9o4RSJ.gif);
}

/* Kitten */
[href*="characters/150706-"] {
  --show-default: 0;
  --custom-image: url(https://i.imgur.com/mJYnDGb.png);
}
[href*="characters/150706-"]:hover {
  --show-default: 0;
  --custom-image: url(https://i.imgur.com/ha7Vocq.gif);
}

/* Y'shtola Rhul */
[href*="characters/210813-"] {
  --show-default: 0;
  --custom-image: url(https://i.imgur.com/90PDXks.png);
}
[href*="characters/210813-"]:hover {
  --show-default: 0;
  --custom-image: url(https://i.imgur.com/YRJpkKJ.gif);
}

/* Emilie De Rochefort */
[href*="characters/39028-"] {
  --show-default: 0;
  --custom-image: url(https://i.imgur.com/Bl97umT.png);
}
[href*="characters/39028-"]:hover {
  --show-default: 0;
  --custom-image: url(https://i.imgur.com/TvsOuBB.gif);
}

/* Kainé */
[href*="characters/157535-"] {
  --show-default: 0;
  --custom-image: url(https://i.imgur.com/fpo30ed.png);
}
[href*="characters/157535-"]:hover {
  --show-default: 0;
  --custom-image: url(https://i.imgur.com/dh7ry1y.gif);
}

/* Shinobu Oshino */
[href*="characters/23602-"] {
  --show-default: 0;
  --custom-image: url(https://i.imgur.com/4ymNcqM.png);
}
[href*="characters/23602-"]:hover {
  --show-default: 0;
  --custom-image: url(https://i.imgur.com/hSvmk9K.gif);
}

/* Mayoi Hachikuji */
[href*="characters/22052-"] {
  --show-default: 0;
  --custom-image: url(https://i.imgur.com/hjZqHsV.png);
}
[href*="characters/22052-"]:hover {
  --show-default: 0;
  --custom-image: url(https://i.imgur.com/k31zQSW.gif);
}

/* Suruga Kanbaru */
[href*="characters/22054-"] {
  --show-default: 0;
  --custom-image: url(https://i.imgur.com/sL51tk2.png);
}
[href*="characters/22054-"]:hover {
  --show-default: 0;
  --custom-image: url(https://i.imgur.com/47cjujy.gif);
}

/* Ougi Oshino */
[href*="characters/90393-"] {
  --show-default: 0;
  --custom-image: url(https://i.imgur.com/OWS0xSB.png);
}
[href*="characters/90393-"]:hover {
  --show-default: 0;
  --custom-image: url(https://i.imgur.com/KuAjeAh.gif);
}

/* Risuka Mizukura */
[href*="characters/93553-"] {
  --show-default: 0;
  --custom-image: url(https://i.imgur.com/j5WA294.png);
}
[href*="characters/93553-"]:hover {
  --show-default: 0;
  --custom-image: url(https://i.imgur.com/3fiinbO.png);
}

/* Jun Aikawa */
[href*="characters/29595-"] {
  --show-default: 0;
  --custom-image: url(https://i.imgur.com/qENmCFo.png);
}
[href*="characters/29595-"]:hover {
  --show-default: 0;
  --custom-image: url(https://i.imgur.com/pGYNgCE.gif);
}

/* Fran */
[href*="characters/32633-"] {
  --show-default: 0;
  --custom-image: url(https://i.imgur.com/WfE7Gr2.png);
}
[href*="characters/32633-"]:hover {
  --show-default: 0;
  --custom-image: url(https://i.imgur.com/xSyiddQ.gif);
}

/* Balthier */
[href*="characters/32628-"] {
  --show-default: 0;
  --custom-image: url(https://i.imgur.com/ZL7cI4f.png);
}
[href*="characters/32628-"]:hover {
  --show-default: 0;
  --custom-image: url(https://i.imgur.com/fyJ9LtV.gif);
}

/* Lightning */
[href*="characters/118835-"] {
  --show-default: 0;
  --custom-image: url(https://i.imgur.com/8qdJMKS.png);
}
[href*="characters/118835-"]:hover {
  --show-default: 0;
  --custom-image: url(https://i.imgur.com/uDTHn8n.gif);
}

/* Kageaki Minato */
[href*="characters/91703-"] {
  --show-default: 0;
  --custom-image: url(https://i.imgur.com/0WX0kkI.png);
}
[href*="characters/91703-"]:hover {
  --show-default: 0;
  --custom-image: url(https://i.imgur.com/DUFT2G9.gif);
}

/* Zenos yae Galvus */
[href*="characters/206134-"] {
  --show-default: 0;
  --custom-image: url(https://i.imgur.com/40FyvAd.png);
}
[href*="characters/206134-"]:hover {
  --show-default: 0;
  --custom-image: url(https://i.imgur.com/iBMm1he.gif);
}

/* Hope Estheim */
[href*="characters/171802-"] {
  --show-default: 0;
  --custom-image: url(https://i.imgur.com/0pfMj4R.png);
}
[href*="characters/171802-"]:hover {
  --show-default: 0;
  --custom-image: url(https://i.imgur.com/WPeZ4pY.png);
}

/* Roger Smith */
[href*="characters/2015-"] {
  --show-default: 0;
  --custom-image: url(https://i.imgur.com/dfuUuKs.png);
}
[href*="characters/2015-"]:hover {
  --show-default: 0;
  --custom-image: url(https://i.imgur.com/wNs5jAT.gif);
}

/* Soujuurou Shizuki */
[href*="characters/61129-"] {
  --show-default: 0;
  --custom-image: url(https://i.imgur.com/GdnyBFh.png);
}
[href*="characters/61129-"]:hover {
  --show-default: 0;
  --custom-image: url(https://i.imgur.com/PaFdhaI.gif);
}

/* Jean Otus */
[href*="characters/143758-"] {
  --show-default: 0;
  --custom-image: url(https://i.imgur.com/R4AeHmy.png);
}
[href*="characters/143758-"]:hover {
  --show-default: 0;
  --custom-image: url(https://i.imgur.com/sPWLrE4.gif);
}

/* Hei */
[href*="characters/2160-"] {
  --show-default: 0;
  --custom-image: url(https://i.imgur.com/k5BWXVV.png);
}
[href*="characters/2160-"]:hover {
  --show-default: 0;
  --custom-image: url(https://i.imgur.com/a7zCbsa.gif);
}

/* Tatsuya Suou */
[href*="characters/126856-"] {
  --show-default: 0;
  --custom-image: url(https://i.imgur.com/VP0sexc.png);
}
[href*="characters/126856-"]:hover {
  --show-default: 0;
  --custom-image: url(https://i.imgur.com/gZn1HEc.gif);
}

/* Frieren */
[href*="characters/184947-"] {
  --show-default: 0;
  --custom-image: url(https://i.imgur.com/dSywAbV.png);
}
[href*="characters/184947-"]:hover {
  --show-default: 0;
  --custom-image: url(https://i.imgur.com/rwUhG8E.gif);
}

/* Fujiko Mine */
[href*="characters/1047-"] {
  --show-default: 0;
  --custom-image: url(https://i.imgur.com/Yqdqd26.png);
}
[href*="characters/1047-"]:hover {
  --show-default: 0;
  --custom-image: url(https://i.imgur.com/VIFLEX8.gif);
}

/* Naoto Shirogane */
[href*="characters/16249-"] {
  --show-default: 0;
  --custom-image: url(https://i.imgur.com/oXcd9QD.png);
}
[href*="characters/16249-"]:hover {
  --show-default: 0;
  --custom-image: url(https://i.imgur.com/FPo3YXr.gif);
}

/* Maya Amano */
[href*="characters/126857-"] {
  --show-default: 0;
  --custom-image: url(https://i.imgur.com/kpIoBwW.png);
}
[href*="characters/126857-"]:hover {
  --show-default: 0;
  --custom-image: url(https://i.imgur.com/gKA8bx0.gif);
}

/* Eriko Kirishima */
[href*="characters/36546-"] {
  --show-default: 0;
  --custom-image: url(https://i.imgur.com/vmEW8yI.png);
}
[href*="characters/36546-"]:hover {
  --show-default: 0;
  --custom-image: url(https://i.imgur.com/80q7Iis.png);
}

/* Aoko Aozaki */
[href*="characters/11298-"] {
  --show-default: 0;
  --custom-image: url(https://i.imgur.com/qo21PNb.png);
}
[href*="characters/11298-"]:hover {
  --show-default: 0;
  --custom-image: url(https://i.imgur.com/e2cIGX7.gif);
}

/* Arcueid Brunestud */
[href*="characters/2213-"] {
  --show-default: 0;
  --custom-image: url(https://i.imgur.com/X8RQyvn.png);
}
[href*="characters/2213-"]:hover {
  --show-default: 0;
  --custom-image: url(https://i.imgur.com/of6MEbg.gif);
}

/* Ryouko Koiso */
[href*="characters/8567-"] {
  --show-default: 0;
  --custom-image: url(https://i.imgur.com/MmV2yWN.png);
}
[href*="characters/8567-"]:hover {
  --show-default: 0;
  --custom-image: url(https://i.imgur.com/1h7k6AR.png);
}

/* Deathtopia Virtuoso Suicide-Master */
[href*="characters/138576-"] {
  --show-default: 0;
  --custom-image: url(https://i.imgur.com/Rfvxs0E.png);
}
[href*="characters/138576-"]:hover {
  --show-default: 0;
  --custom-image: url(https://i.imgur.com/nROEu8f.png);
}

/* Juuzou Inui */
[href*="characters/142470-"] {
  --show-default: 0;
  --custom-image: url(https://i.imgur.com/VqaybgM.png);
}
[href*="characters/142470-"]:hover {
  --show-default: 0;
  --custom-image: url(https://i.imgur.com/0lHchEG.gif);
}

/* Chachamaru Ashikaga */
[href*="characters/91713-"] {
  --show-default: 0;
  --custom-image: url(https://i.imgur.com/y95v8bI.png);
}
[href*="characters/91713-"]:hover {
  --show-default: 0;
  --custom-image: url(https://i.imgur.com/2mNQYpG.png);
}

/* Hinae Arimura */
[href*="characters/144140-"] {
  --show-default: 0;
  --custom-image: url(https://i.imgur.com/CHkef26.png);
}
[href*="characters/144140-"]:hover {
  --show-default: 0;
  --custom-image: url(https://i.imgur.com/kBmXbJg.png);
}

/* Shuuichi Wakui */
[href*="characters/144149-"] {
  --show-default: 0;
  --custom-image: url(https://i.imgur.com/9M4RIPj.png);
}
[href*="characters/144149-"]:hover {
  --show-default: 0;
  --custom-image: url(https://i.imgur.com/Bf4VNGL.png);
}

/* Phantom */
[href*="characters/252574-"] {
  --show-default: 0;
  --custom-image: url(https://i.imgur.com/QCkiaUb.png);
}
[href*="characters/252574-"]:hover {
  --show-default: 0;
  --custom-image: url(https://i.imgur.com/yR2dtmZ.png);
}

/* Kumiko Yamaguchi */
[href*="characters/798-"] {
  --show-default: 0;
  --custom-image: url(https://i.imgur.com/RFu6w34.png);
}
[href*="characters/798-"]:hover {
  --show-default: 0;
  --custom-image: url(https://i.imgur.com/jSuktwk.png);
}

/* Buntarou Mori */
[href*="characters/35510-"] {
  --show-default: 0;
  --custom-image: url(https://i.imgur.com/azWVFF8.png);
}
[href*="characters/35510-"]:hover {
  --show-default: 0;
  --custom-image: url(https://i.imgur.com/qUnqzZL.png);
}

/* Anko Uguisu */
[href*="characters/182976-"] {
  --show-default: 0;
  --custom-image: url(https://i.imgur.com/sTW0FRN.png);
}
[href*="characters/182976-"]:hover {
  --show-default: 0;
  --custom-image: url(https://i.imgur.com/kWVSUbK.gif);
}

/* Nazuna Nanakusa */
[href*="characters/177826-"] {
  --show-default: 0;
  --custom-image: url(https://i.imgur.com/a17ich7.png);
}
[href*="characters/177826-"]:hover {
  --show-default: 0;
  --custom-image: url(https://i.imgur.com/V5gz4IL.gif);
}

/* Nyarlathotep */
[href*="characters/252681-"] {
  --show-default: 0;
  --custom-image: url(https://i.imgur.com/QIazH0w.png);
}
[href*="characters/252681-"]:hover {
  --show-default: 0;
  --custom-image: url(https://i.imgur.com/mkQ1ZpK.png);
}

/* Yasuda */
[href*="characters/3609-"] {
  --show-default: 0;
  --custom-image: url(https://i.imgur.com/0fnWM25.png);
}
[href*="characters/3609-"]:hover {
  --show-default: 0;
  --custom-image: url(https://i.imgur.com/g3Qydar.png);
}

/* Yotsuba Koiwai */
[href*="characters/3568-"] {
  --show-default: 0;
  --custom-image: url(https://i.imgur.com/biWP6oO.png);
}
[href*="characters/3568-"]:hover {
  --show-default: 0;
  --custom-image: url(https://i.imgur.com/9nHkzqt.png);
}

/* Asagi Ayase */
[href*="characters/9164-"] {
  --show-default: 0;
  --custom-image: url(https://i.imgur.com/dSxG2JJ.png);
}
[href*="characters/9164-"]:hover {
  --show-default: 0;
  --custom-image: url(https://i.imgur.com/r3tKSVM.png);
}

/* Nozomu Itoshiki */
[href*="characters/3169-"] {
  --show-default: 0;
  --custom-image: url(https://i.imgur.com/xFk38KA.png);
}
[href*="characters/3169-"]:hover {
  --show-default: 0;
  --custom-image: url(https://i.imgur.com/omkdhMG.gif);
}

/* Kaere Kimura */
[href*="characters/3768-"] {
  --show-default: 0;
  --custom-image: url(https://i.imgur.com/7ctsHae.png);
}
[href*="characters/3768-"]:hover {
  --show-default: 0;
  --custom-image: url(https://i.imgur.com/Jg2o5TF.gif);
}

/* Re-l Mayer */
[href*="characters/643-"] {
  --show-default: 0;
  --custom-image: url(https://i.imgur.com/SHOe0Yq.png);
}
[href*="characters/643-"]:hover {
  --show-default: 0;
  --custom-image: url(https://i.imgur.com/7xHhwnk.gif);
}

/* Bambi */
[href*="characters/16160-"] {
  --show-default: 0;
  --custom-image: url(https://i.imgur.com/oofJKOj.png);
}
[href*="characters/16160-"]:hover {
  --show-default: 0;
  --custom-image: url(https://i.imgur.com/n2F6L2g.png);
}

/* Kakeru Kurosawa */
[href*="characters/16454-"] {
  --show-default: 0;
  --custom-image: url(https://i.imgur.com/AfJUdIS.png);
}
[href*="characters/16454-"]:hover {
  --show-default: 0;
  --custom-image: url(https://i.imgur.com/siwNyW9.png);
}

/* Reki */
[href*="characters/1996-"] {
  --show-default: 0;
  --custom-image: url(https://i.imgur.com/oLnIMUd.png);
}
[href*="characters/1996-"]:hover {
  --show-default: 0;
  --custom-image: url(https://i.imgur.com/3XwcK17.png);
}

/* Aya Tokiwa */
[href*="characters/78361-"] {
  --show-default: 0;
  --custom-image: url(https://i.imgur.com/dedQCoA.png);
}
[href*="characters/78361-"]:hover {
  --show-default: 0;
  --custom-image: url(https://i.imgur.com/Tz4yTjp.png);
}

/* Toshizou Hijikata */
[href*="characters/138492-"] {
  --show-default: 0;
  --custom-image: url(https://i.imgur.com/AWs3K40.png);
}
[href*="characters/138492-"]:hover {
  --show-default: 0;
  --custom-image: url(https://i.imgur.com/GleX6Gd.gif);
}

/* Wen-li Yang */
[href*="characters/2780-"] {
  --show-default: 0;
  --custom-image: url(https://i.imgur.com/UwABwaA.png);
}
[href*="characters/2780-"]:hover {
  --show-default: 0;
  --custom-image: url(https://i.imgur.com/zlXKCeg.gif);
}

/* СЕЙЮ */

/* Hiroshi Kamiya */
[href*="people/118-hiroshi-kamiya"] {
  --show-default: 0;
  --custom-image: url(https://i.imgur.com/vllEZTR.png);
}

/* Daisuke Ono */
[href*="people/212-"] {
  --show-default: 0;
  --custom-image: url(https://i.imgur.com/3o8RGOk.png);
}

/* Mamoru Miyano */
[href*="people/65-"] {
  --show-default: 0;
  --custom-image: url(https://i.imgur.com/yxzTZGM.png);
}

/* Daisuke Namikawa */
[href*="people/87-"] {
  --show-default: 0;
  --custom-image: url(https://i.imgur.com/ZZGErup.png);
}

/* Kana Hanazawa */
[href*="people/185-"] {
  --show-default: 0;
  --custom-image: url(https://i.imgur.com/hbPY9cu.png);
}

/* Maaya Sakamoto */
[href*="people/90-"] {
  --show-default: 0;
  --custom-image: url(https://i.imgur.com/F9LO37R.png);
}

/* Yuuichi Nakamura */
[href*="people/513-"] {
  --show-default: 0;
  --custom-image: url(https://i.imgur.com/4RQVer9.png);
}

/* Tomokazu Sugita */
[href*="people/2-"] {
  --show-default: 0;
  --custom-image: url(https://i.imgur.com/dlRV6Xv.png);
}

/* Kenjirou Tsuda */
[href*="people/591-"] {
  --show-default: 0;
  --custom-image: url(https://i.imgur.com/cs0MhTx.png);
}

/* Shinichiro Miki */
[href*="people/22-"] {
  --show-default: 0;
  --custom-image: url(https://i.imgur.com/KHXJ0ve.png);
}

/* Takahiro Sakurai */
[href*="people/79-"] {
  --show-default: 0;
  --custom-image: url(https://i.imgur.com/y8lXSdV.png);
}

/* Connor Colquhoun */
[href*="people/56246-"] {
  --show-default: 0;
  --custom-image: url(https://i.imgur.com/pdb1nV3.png);
}
[href*="people/56246-"]:hover {
  --show-default: 0;
  --custom-image: url(https://i.imgur.com/HsATG1r.png);
}

/* Ikuru Kamijou */
[href*="people/48127-"] {
  --show-default: 0;
  --custom-image: url(https://i.imgur.com/v319JBd.png);
}

/* Kei Tomiyama */
[href*="people/870-"] {
  --show-default: 0;
  --custom-image: url(https://i.imgur.com/MHki08t.png);
}

/* Miyuki Sawashiro */
[href*="people/99-"] {
  --show-default: 0;
  --custom-image: url(https://i.imgur.com/5Bkp7rY.png);
}

/* Ami Koshimizu */
[href*="people/70-"] {
  --show-default: 0;
  --custom-image: url(https://i.imgur.com/klwbnsc.png);
}
[href*="people/70-"]:hover {
  --show-default: 0;
  --custom-image: url(https://i.imgur.com/o4Bbv7W.png);
}

/* Kouichi Yamadera */
[href*="people/11-"] {
  --show-default: 0;
  --custom-image: url(https://i.imgur.com/ZnUhcQk.png);
}

/* Garnt Maneetapho */
[href*="people/68045-"] {
  --show-default: 0;
  --custom-image: url(https://i.imgur.com/ZesrhK8.png);
}

/* РЕЖИССЕРЫ */

/* Noburou Oofuji */
[href*="people/36897-"] {
  --show-default: 0;
  --custom-image: url(https://i.imgur.com/e1HwRzQ.png);
}

/* Shinichiro Watanabe */
[href*="people/2009-"] {
  --show-default: 0;
  --custom-image: url(https://i.imgur.com/QFYhyaP.png);
}

/* Makoto Shinkai */
[href*="people/1117-"] {
  --show-default: 0;
  --custom-image: url(https://i.imgur.com/ztTtlna.png);
}

/* Takena Nagao */
[href*="people/14009-"] {
  --show-default: 0;
  --custom-image: url(https://i.imgur.com/07iF5wg.png);
}

/* Satoshi Kon */
[href*="people/4580-"] {
  --show-default: 0;
  --custom-image: url(https://i.imgur.com/7HDcoZL.png);
}

/* Yoji Kuri */
[href*="people/8545-"] {
  --show-default: 0;
  --custom-image: url(https://i.imgur.com/wRkRZJH.png);
}

/* Takashi Murakami */
[href*="people/7963-"] {
  --show-default: 0;
  --custom-image: url(https://i.imgur.com/ylF723L.png);
}

/* Keiichi Tanaami */
[href*="people/28807-"] {
  --show-default: 0;
  --custom-image: url(https://i.imgur.com/1i7WMk8.png);
}

/* Akiyuki Shinbou */
[href*="people/5089-"] {
  --show-default: 0;
  --custom-image: url(https://i.imgur.com/WYeJ6WD.png);
}

/* Masaaki Yuasa */
[href*="people/5068-"] {
  --show-default: 0;
  --custom-image: url(https://i.imgur.com/appI236.png);
}

/* Yasuomi Umetsu */
[href*="people/6583-"] {
  --show-default: 0;
  --custom-image: url(https://i.imgur.com/eDC4Ist.png);
}
[href*="people/6583-"]:hover {
  --show-default: 0;
  --custom-image: url(https://i.imgur.com/5U6FLX2.png);
}

/* Tomoyuki Itamura */
[href*="people/15639-"] {
  --show-default: 0;
  --custom-image: url(https://i.imgur.com/44412Og.png);
}

/* Seiichi Hayashi */
[href*="people/5926-"] {
  --show-default: 0;
  --custom-image: url(https://i.imgur.com/OdtyQx3.png);
}

  /* Hiroshi Nagahama */
[href*="people/4346-"] {
  --show-default: 0;
  --custom-image: url(https://i.imgur.com/5MsL6Kd.png);
}
  
/* МАНГАКИ */

/* ISIN NISIO */
[href*="people/5254-"] {
  --show-default: 0;
  --custom-image: url(https://i.imgur.com/4RXmCZA.png);
}

/* Hirohiko Araki */
[href*="people/2619-"] {
  --show-default: 0;
  --custom-image: url(https://i.imgur.com/FKQNIK9.png);
}

/* huke */
[href*="people/10145-"] {
  --show-default: 0;
  --custom-image: url(https://i.imgur.com/iQQSdCp.png);
}

/* 5pb. */
[href*="people/14749-"] {
  --show-default: 0;
  --custom-image: url(https://i.imgur.com/9hRFwPc.png);
}

/* Osamu Tezuka */
[href*="people/1938-"] {
  --show-default: 0;
  --custom-image: url(https://i.imgur.com/IV0fV0A.png);
}

/* Sanpei Shirato */
[href*="people/6586-"] {
  --show-default: 0;
  --custom-image: url(https://i.imgur.com/jlJAfeT.png);
}

/* Yoshitaka Amano */
[href*="people/2967-"] {
  --show-default: 0;
  --custom-image: url(https://i.imgur.com/Suj0vrN.png);
}

/* Hideo Kojima */
[href*="people/5732-"] {
  --show-default: 0;
  --custom-image: url(https://i.imgur.com/3sfxDMp.png);
}

/* Kazuma Kaneko */
[href*="people/33589-"] {
  --show-default: 0;
  --custom-image: url(https://i.imgur.com/uGMul5Y.png);
}

/* Shigenori Soejima */
[href*="people/12279-"] {
  --show-default: 0;
  --custom-image: url(https://i.imgur.com/ziELjim.png);
}

/* Ikki Kajiwara */
[href*="people/4017-"] {
  --show-default: 0;
  --custom-image: url(https://i.imgur.com/UN5MYGY.png);
}

/* Shoutarou Ishinomori */
[href*="people/2478-"] {
  --show-default: 0;
  --custom-image: url(https://i.imgur.com/pFCcTrk.png);
}

/* Take */
[href*="people/10875-"] {
  --show-default: 0;
  --custom-image: url(https://i.imgur.com/qheDqHY.png);
}

/* Kiyohiko Azuma */
[href*="people/1939-"] {
  --show-default: 0;
  --custom-image: url(https://i.imgur.com/bCQvi0T.png);
}

/* Yoshitoshi Abe */
[href*="people/1991-"] {
  --show-default: 0;
  --custom-image: url(https://i.imgur.com/WgsFJQ0.png);
}

/* Range Murata */
[href*="people/3445-"] {
  --show-default: 0;
  --custom-image: url(https://i.imgur.com/VNNs3ru.png);
}

/* Naoyuki Katou */
[href*="people/6987-"] {
  --show-default: 0;
  --custom-image: url(https://i.imgur.com/RB1x0JB.png);
}

/* ПРОЧИЕ ЛЮДИ */

/* Yoko Kanno */
[href*="people/508-"] {
  --show-default: 0;
  --custom-image: url(https://i.imgur.com/kJr4nz0.png);
}

/* Miyavi */
[href*="people/47711-"] {
  --show-default: 0;
  --custom-image: url(https://i.imgur.com/Tji0dNa.png);
}

/* Asian Kung-Fu Generation */
[href*="people/5251-"] {
  --show-default: 0;
  --custom-image: url(https://i.imgur.com/rpBvW7m.png);
}

/* Satoru Kousaki */
[href*="people/6555-"] {
  --show-default: 0;
  --custom-image: url(https://i.imgur.com/ITuEPLr.png);
}

/* Motoi Sakuraba */
[href*="people/5191-"] {
  --show-default: 0;
  --custom-image: url(https://i.imgur.com/kV515dL.png);
}

/* Daoko */
[href*="people/37098-"] {
  --show-default: 0;
  --custom-image: url(https://i.imgur.com/Xd9Dbs9.png);
}

/* Yasuyuki Okamura */
[href*="people/25727-"] {
  --show-default: 0;
  --custom-image: url(https://i.imgur.com/HwELT4I.png);
}

/* Chiyomaru Shikura */
[href*="people/19313-"] {
  --show-default: 0;
  --custom-image: url(https://i.imgur.com/Q5vT9mZ.png);
}

/* Kanye West */
[href*="people/21059-"] {
  --show-default: 0;
  --custom-image: url(https://i.imgur.com/oC2gk0p.png);
}

/* Akihiko Yoshida */
[href*="people/46007-"] {
  --show-default: 0;
  --custom-image: url(https://i.imgur.com/64rJiyQ.png);
}

/* pablo uchida */
[href*="people/48931-"] {
  --show-default: 0;
  --custom-image: url(https://i.imgur.com/YSeTdjs.png);
}

/* Hideki Naganuma */
[href*="people/8582-"] {
  --show-default: 0;
  --custom-image: url(https://i.imgur.com/2LZGhNj.png);
}

/* Boom Boom Satellites */
[href*="people/8901-"] {
  --show-default: 0;
  --custom-image: url(https://i.imgur.com/NZSEG8L.jpg);
}

/* Mariko Gotou */
[href*="people/31631-"] {
  --show-default: 0;
  --custom-image: url(https://i.imgur.com/0bSBJyp.png);
}

/* Ringo Shiina */
[href*="people/8213-"] {
  --show-default: 0;
  --custom-image: url(https://i.imgur.com/mLHhYul.png);
}

/* Boris */
[href*="people/40186-"] {
  --show-default: 0;
  --custom-image: url(https://i.imgur.com/nY7jBEp.png);
}

/* John Lennon */
[href*="people/37595-"] {
  --show-default: 0;
  --custom-image: url(https://i.imgur.com/tzpYhs9.png);
}

/* Achille-Claude Debussy */
[href*="people/21437-"] {
  --show-default: 0;
  --custom-image: url(https://i.imgur.com/D3oEfkE.png);
}

/* Atarashii Gakkou no Leaders */
[href*="people/71642-"] {
  --show-default: 0;
  --custom-image: url(https://i.imgur.com/k3NNafg.png);
}
