a[href$="e4KU3O2.png"] {
  pointer-events: none;
}

a[href$="IJxjXRy.png"] {
  pointer-events: none;
}

a[href$="RW7KmI2.png"] {
  pointer-events: none;
}

a[href$="iFP428G.png"] {
  pointer-events: none;
}

a[href$="VBE99G0.png"] {
  pointer-events: none;
}

a[href$="VggeYfQ.png"] {
  pointer-events: none;
}

a[href$="EgQ1ADI.png"] {
  pointer-events: none;
}

a[href$="qvGzNPT.png"] {
  pointer-events: none;
}

a[href$="27O28iT.png"] {
  pointer-events: none;
}

a[href$="rpVpNJL.png"] {
  pointer-events: none;
}

a[href$="BMAGWUW.png"] {
  pointer-events: none;
}

a[href$="BD9FTgD.png"] {
  pointer-events: none;
}

a[href$="SwDJujQ.png"] {
  pointer-events: none;
}

a[href$="cvNj6Jl.png"] {
  pointer-events: none;
}

a[href$="EcPrtEt.png"] {
  pointer-events: none;
}

a[href$="HXizQJX.png"] {
  pointer-events: none;
}

a[href$="qc804x5.png"] {
  pointer-events: none;
}

a[href$="pIvWoTp.png"] {
  pointer-events: none;
}

a[href$="qZPb1aK.png"] {
  pointer-events: none;
}

a[href$="IlFS2sI.png"] {
  pointer-events: none;
}

a[href$="uYaci1S.png"] {
  pointer-events: none;
}

a[href$="6FIKWYC.png"] {
  pointer-events: none;
}

a[href$="VB1J8rc.png"] {
  pointer-events: none;
}

