/* ARCANE */
.b-image[data-attrs *= "https://i.imgur.com/aDglXvK.png" ] {
  --overlay-image: url("https://i.imgur.com/6q8hvX1.png");
}

/* DARIA */
.b-image[data-attrs *= "https://i.imgur.com/HZF9jwb.png" ] {
  --overlay-image: url("https://i.imgur.com/NkOOUCU.png");
}

/* AVATAR */
.b-image[data-attrs *= "https://i.imgur.com/wbb0HFl.png" ] {
  --overlay-image: url("https://i.imgur.com/wbmI5Ws.png");
}

/* SAMURAI JACK */
.b-image[data-attrs *= "https://i.imgur.com/HymdWTe.png" ] {
  --overlay-image: url("https://i.imgur.com/xhR5pJY.png");
}

/* KIM POSSIBLE */
.b-image[data-attrs *= "https://i.imgur.com/OrCcra6.png" ] {
  --overlay-image: url("https://i.imgur.com/jI2bVGn.png");
}

/* FUTURAMA */
.b-image[data-attrs *= "https://i.imgur.com/BTQeNq0.png" ] {
  --overlay-image: url("https://i.imgur.com/9ketEft.png");
}

/* INVINCIBLE */
.b-image[data-attrs *= "https://i.imgur.com/pFHVL1F.png" ] {
  --overlay-image: url("https://i.imgur.com/GcUMTJH.png");
}

/* GRAVITY FALLS */
.b-image[data-attrs *= "https://i.imgur.com/Ph1sKDu.png" ] {
  --overlay-image: url("https://i.imgur.com/KcLMZKc.png");
}

/* HAZBIN HOTEL */
.b-image[data-attrs *= "https://i.imgur.com/rGaDlRs.png" ] {
  --overlay-image: url("https://i.imgur.com/FeKt9OG.png");
}

/* KORRA */
.b-image[data-attrs *= "https://i.imgur.com/uTeAgRg.png" ] {
  --overlay-image: url("https://i.imgur.com/P3x3W7V.png");
}

/* BOONDOCKS */
.b-image[data-attrs *= "https://i.imgur.com/pQ1AI9t.png" ] {
  --overlay-image: url("https://i.imgur.com/84kXbNW.png");
}

/* ADVENTURE TIME */
.b-image[data-attrs *= "https://i.imgur.com/drXEPtj.png" ] {
  --overlay-image: url("https://i.imgur.com/QKtFsSs.png");
}

/* JOHNNY BRAVO */
.b-image[data-attrs *= "https://i.imgur.com/afKDjpK.png" ] {
  --overlay-image: url("https://i.imgur.com/Ld95o4D.png");
}

/* LADYBUG */
.b-image[data-attrs *= "https://i.imgur.com/wFaySWh.png" ] {
  --overlay-image: url("https://i.imgur.com/M90BZKn.png");
}

/* KICK BUTTOWSKI */
.b-image[data-attrs *= "https://i.imgur.com/JeVrR80.png" ] {
  --overlay-image: url("https://i.imgur.com/UJeL60w.png");
}

/* WANDER OVER YONDER */
.b-image[data-attrs *= "https://i.imgur.com/Ml7hkpP.png" ] {
  --overlay-image: url("https://i.imgur.com/NmtKFRe.png");
}

/* PHINNEAS AND FERB */
.b-image[data-attrs *= "https://i.imgur.com/nthWTsA.png" ] {
  --overlay-image: url("https://i.imgur.com/TqGs37C.png");
}

/* HELLUVA BOSS */
.b-image[data-attrs *= "https://i.imgur.com/8qR1f5L.png" ] {
  --overlay-image: url("https://i.imgur.com/Oyg70dO.png");
}

/* COURAGE */
.b-image[data-attrs *= "https://i.imgur.com/AsJJfzA.png" ] {
  --overlay-image: url("https://i.imgur.com/ZlhCwT1.png");
}

/* KING OF THE HILL */
.b-image[data-attrs *= "https://i.imgur.com/OArhMdi.png" ] {
  --overlay-image: url("https://i.imgur.com/Nn2Ri5T.png");
}

/* EMPEROR'S NEW SCHOOL */
.b-image[data-attrs *= "https://i.imgur.com/YxEWE1x.png" ] {
  --overlay-image: url("https://i.imgur.com/bnpzu2n.png");
}

/* SIMPSONS */
.b-image[data-attrs *= "https://i.imgur.com/V7pNIDp.png" ] {
  --overlay-image: url("https://i.imgur.com/xECejmU.png");
}

/* SOUTH PARK */
.b-image[data-attrs *= "https://i.imgur.com/NJ9ca4e.png" ] {
  --overlay-image: url("https://i.imgur.com/ZYBKsR2.png");
}

/* WITCH */
.b-image[data-attrs *= "https://i.imgur.com/LQOqJHb.png" ] {
  --overlay-image: url("https://i.imgur.com/i7yxKsU.png");
}

/* JAKE LONG */
.b-image[data-attrs *= "https://i.imgur.com/HtxMpWN.png" ] {
  --overlay-image: url("https://i.imgur.com/u3AJw4b.png");
}

/* JACKIE CHAN */
.b-image[data-attrs *= "https://i.imgur.com/jUTsKhm.png" ] {
  --overlay-image: url("https://i.imgur.com/Y2MSrOq.png");
}

/* WINX */
.b-image[data-attrs *= "https://i.imgur.com/b1DyrYG.png" ] {
  --overlay-image: url("https://i.imgur.com/SViWPwk.png");
}

/* FAMILY GUY */
.b-image[data-attrs *= "https://i.imgur.com/FKrbEYE.png" ] {
  --overlay-image: url("https://i.imgur.com/Kq390Wx.png");
}

/* RICK AND MORTY */
.b-image[data-attrs *= "https://i.imgur.com/nSQrcwf.png" ] {
  --overlay-image: url("https://i.imgur.com/XQxctaa.png");
}

/* BEAVIS AND BUTT-HEAD */
.b-image[data-attrs *= "https://i.imgur.com/nNzL7Y5.png" ] {
  --overlay-image: url("https://i.imgur.com/ZIxhCoZ.png");
}

/* HARLEY QUINN */
.b-image[data-attrs *= "https://i.imgur.com/V2Ya3zQ.png" ] {
  --overlay-image: url("https://i.imgur.com/QzL6Oel.png");
}

/* BATMAN AS */
.b-image[data-attrs *= "https://i.imgur.com/XbloZ1K.png" ] {
  --overlay-image: url("https://i.imgur.com/QYjSGP1.png");
}

/* STAR WARS REBELS */
.b-image[data-attrs *= "https://i.imgur.com/W7AuWfu.png" ] {
  --overlay-image: url("https://i.imgur.com/7HFRSjE.png");
}

/* TRON UPRISING */
.b-image[data-attrs *= "https://i.imgur.com/gslq5tA.png" ] {
  --overlay-image: url("https://i.imgur.com/1Tcgtl2.png");
}

/* CASTLEVANIA */
.b-image[data-attrs *= "https://i.imgur.com/4ioIVHD.png" ] {
  --overlay-image: url("https://i.imgur.com/eJpd8W3.png");
}

/* X-MEN EVO */
.b-image[data-attrs *= "https://i.imgur.com/dgOOVjG.png" ] {
  --overlay-image: url("https://i.imgur.com/kjRF8Uq.png");
}

/* LOVE DEATH AND ROBOTS */
.b-image[data-attrs *= "https://i.imgur.com/pFekv1c.png" ] {
  --overlay-image: url("https://i.imgur.com/mvlHnpJ.png");
}

/* ARCHER */
.b-image[data-attrs *= "https://i.imgur.com/OxNcGRh.png" ] {
  --overlay-image: url("https://i.imgur.com/O65mmtM.png");
}

/* BATMAN CC */
.b-image[data-attrs *= "https://i.imgur.com/7ByS8ml.png" ] {
  --overlay-image: url("https://i.imgur.com/SMz3WdQ.png");
}

/* BLUE EYED SAMURAI */
.b-image[data-attrs *= "https://i.imgur.com/xY24mGZ.png" ] {
  --overlay-image: url("https://i.imgur.com/hrKrDN2.png");
}

/* HUNTIK */
.b-image[data-attrs *= "https://i.imgur.com/qSRKB91.png" ] {
  --overlay-image: url("https://i.imgur.com/tx6Z8rs.png");
}

/* PRIMAL */
.b-image[data-attrs *= "https://i.imgur.com/xt4GArV.png" ] {
  --overlay-image: url("https://i.imgur.com/TjJSf69.png");
}

/* YOUNG JUSTICE */
.b-image[data-attrs *= "https://i.imgur.com/r2IKM3f.png" ] {
  --overlay-image: url("https://i.imgur.com/87tfWK6.png");
}

/* VENTURE BROS */
.b-image[data-attrs *= "https://i.imgur.com/cUW8wKJ.png" ] {
  --overlay-image: url("https://i.imgur.com/RPGX5ID.png");
}

/* TEEN TITANS */
.b-image[data-attrs *= "https://i.imgur.com/lcI7egZ.png" ] {
  --overlay-image: url("https://i.imgur.com/HdbUFsJ.png");
}

/* CLONE HIGH */
.b-image[data-attrs *= "https://i.imgur.com/f2UTP6S.png" ] {
  --overlay-image: url("https://i.imgur.com/4pRomt4.png");
}

/* HARVEY BIRDMAN */
.b-image[data-attrs *= "https://i.imgur.com/BMuQPxt.png" ] {
  --overlay-image: url("https://i.imgur.com/pfLljNs.png");
}

/* TOTALY SPIES */
.b-image[data-attrs *= "https://i.imgur.com/XBiCxYE.png" ] {
  --overlay-image: url("https://i.imgur.com/4sGv1Ex.png");
}

/* INVADER ZIM */
.b-image[data-attrs *= "https://i.imgur.com/Y2PU9jH.png" ] {
  --overlay-image: url("https://i.imgur.com/2ANbCPU.png");
}

/* PANTHEON */
.b-image[data-attrs *= "https://i.imgur.com/ehywQhM.png" ] {
  --overlay-image: url("https://i.imgur.com/fpHutBw.png");
}

/* WAKFU */
.b-image[data-attrs *= "https://i.imgur.com/iSXfEgc.png" ] {
  --overlay-image: url("https://i.imgur.com/otFkKpv.png");
}

/* HILDA */
.b-image[data-attrs *= "https://i.imgur.com/0pz5kvu.png" ] {
  --overlay-image: url("https://i.imgur.com/cdRyZaC.png");
}

/* VOX MACHINA */
.b-image[data-attrs *= "https://i.imgur.com/dhP2IEf.png" ] {
  --overlay-image: url("https://i.imgur.com/xEMsMjX.png");
}

/* DARK CRYSTAL */
.b-image[data-attrs *= "https://i.imgur.com/KMeG6To.png" ] {
  --overlay-image: url("https://i.imgur.com/pdcrOGn.png");
}

/* CARMEN SANDIEGO */
.b-image[data-attrs *= "https://i.imgur.com/YN0GzjN.png" ] {
  --overlay-image: url("https://i.imgur.com/q43Znj9.png");
}
