/* FF1 */
.b-image[data-attrs *= "https://i.imgur.com/n8N3bSs.png" ] {
  --overlay-image: url("https://i.imgur.com/7xbzbgp.png");
}

/* FF2 */
.b-image[data-attrs *= "https://i.imgur.com/ldujDg3.png" ] {
  --overlay-image: url("https://i.imgur.com/1tbpWcL.png");
}

/* FF3 */
.b-image[data-attrs *= "https://i.imgur.com/2tBjsL3.png" ] {
  --overlay-image: url("https://i.imgur.com/kOacYW5.png");
}

/* FF4 */
.b-image[data-attrs *= "https://i.imgur.com/n0KF6LB.png" ] {
  --overlay-image: url("https://i.imgur.com/VACjRR4.png");
}

/* FF5 */
.b-image[data-attrs *= "https://i.imgur.com/eMCIMrA.png" ] {
  --overlay-image: url("https://i.imgur.com/H2IhJsO.png");
}

/* FF6 */
.b-image[data-attrs *= "https://i.imgur.com/wjLovbP.png" ] {
  --overlay-image: url("https://i.imgur.com/LRTy6N8.png");
}

/* FF7 */
.b-image[data-attrs *= "https://i.imgur.com/bqHbo8j.png" ] {
  --overlay-image: url("https://i.imgur.com/J83Ks3B.png");
}

/* FF8 */
.b-image[data-attrs *= "https://i.imgur.com/MQDYfwL.png" ] {
  --overlay-image: url("https://i.imgur.com/YKwMgZk.png");
}

/* FF9 */
.b-image[data-attrs *= "https://i.imgur.com/CqdyPou.png" ] {
  --overlay-image: url("https://i.imgur.com/GdHdUcY.png");
}

/* FF10 */
.b-image[data-attrs *= "https://i.imgur.com/1G52w28.png" ] {
  --overlay-image: url("https://i.imgur.com/TAEpTgb.png");
}

/* FF10-2 */
.b-image[data-attrs *= "https://i.imgur.com/kYdNRYx.png" ] {
  --overlay-image: url("https://i.imgur.com/ZmTyLtj.png");
}

/* FF11 */
.b-image[data-attrs *= "https://i.imgur.com/Bgdpiti.png" ] {
  --overlay-image: url("https://i.imgur.com/OShfQnb.png");
}

/* FF12 */
.b-image[data-attrs *= "https://i.imgur.com/nTLqeKr.png" ] {
  --overlay-image: url("https://i.imgur.com/HSHKPIl.png");
}

/* FF13 */
.b-image[data-attrs *= "https://i.imgur.com/5Vz16v2.png" ] {
  --overlay-image: url("https://i.imgur.com/7bIXJyc.png");
}

/* FF13-2 */
.b-image[data-attrs *= "https://i.imgur.com/ERErhL5.png" ] {
  --overlay-image: url("https://i.imgur.com/KeOE14V.png");
}

/* FF13-3 */
.b-image[data-attrs *= "https://i.imgur.com/17YJU02.png" ] {
  --overlay-image: url("https://i.imgur.com/cpCr5SM.png");
}

/* FF14 */
.b-image[data-attrs *= "https://i.imgur.com/ZBs27qI.png" ] {
  --overlay-image: url("https://i.imgur.com/lWIyoRn.png");
}

/* FF15 */
.b-image[data-attrs *= "https://i.imgur.com/csC3Ako.png" ] {
  --overlay-image: url("https://i.imgur.com/kbxWqBk.png");
}

/* FF16 */
.b-image[data-attrs *= "https://i.imgur.com/jiY000p.png" ] {
  --overlay-image: url("https://i.imgur.com/25IGo3W.png");
}

/* FFT0 */
.b-image[data-attrs *= "https://i.imgur.com/CNLeMPV.png" ] {
  --overlay-image: url("https://i.imgur.com/FuXBdpM.png");
}

/* Legend of Mana */
.b-image[data-attrs *= "https://i.imgur.com/oMhcZhR.png" ] {
  --overlay-image: url("https://i.imgur.com/noFzufm.png");
}

/* King's Field IV */
.b-image[data-attrs *= "https://i.imgur.com/c2Ii64G.png" ] {
  --overlay-image: url("https://i.imgur.com/TKGSxrq.png");
}

/* MGS3 */
.b-image[data-attrs *= "https://i.imgur.com/ljcncRE.png" ] {
  --overlay-image: url("https://i.imgur.com/KnkDpxy.png");
}

/* MGS PEACE WALKER */
.b-image[data-attrs *= "https://i.imgur.com/hUZxXs1.png" ] {
  --overlay-image: url("https://i.imgur.com/RCS5C8a.png");
}

/* MGS V */
.b-image[data-attrs *= "https://i.imgur.com/NUdAWCJ.png" ] {
  --overlay-image: url("https://i.imgur.com/U9bVAoi.png");
}

/* METAL GEAR */
.b-image[data-attrs *= "https://i.imgur.com/qlfzlS4.png" ] {
  --overlay-image: url("https://i.imgur.com/PmcYeEL.png");
}

/* METAL GEAR 2 */
.b-image[data-attrs *= "https://i.imgur.com/hJnq6lt.png" ] {
  --overlay-image: url("https://i.imgur.com/968B6Gq.png");
}

/* MGS */
.b-image[data-attrs *= "https://i.imgur.com/cn7guLH.png" ] {
  --overlay-image: url("https://i.imgur.com/LBIsyiU.png");
}

/* MGSTTS */
.b-image[data-attrs *= "https://i.imgur.com/8lORtGL.png" ] {
  --overlay-image: url("https://i.imgur.com/rxWtbOL.png");
}

/* MGS2 */
.b-image[data-attrs *= "https://i.imgur.com/nDQCdfo.png" ] {
  --overlay-image: url("https://i.imgur.com/HC9IKBo.png");
}

/* MGS4 */
.b-image[data-attrs *= "https://i.imgur.com/ZzyAa2a.png" ] {
  --overlay-image: url("https://i.imgur.com/N6Ypog3.png");
}

/* MGR */
.b-image[data-attrs *= "https://i.imgur.com/pPrSFMp.png" ] {
  --overlay-image: url("https://i.imgur.com/kq510eW.png");
}

/* MGA */
.b-image[data-attrs *= "https://i.imgur.com/vrUeqZY.png" ] {
  --overlay-image: url("https://i.imgur.com/P20226P.png");
}

/* MGA2 */
.b-image[data-attrs *= "https://i.imgur.com/i8nzzSy.png" ] {
  --overlay-image: url("https://i.imgur.com/SE9TW0w.png");
}

/* AC1 */
.b-image[data-attrs *= "https://i.imgur.com/dpwFVsY.png" ] {
  --overlay-image: url("https://i.imgur.com/OfwMVGs.png");
}

/* ACPP */
.b-image[data-attrs *= "https://i.imgur.com/AUvm4QB.png" ] {
  --overlay-image: url("https://i.imgur.com/7u4WqqA.png");
}

/* ACMOA */
.b-image[data-attrs *= "https://i.imgur.com/zjxKmVc.png" ] {
  --overlay-image: url("https://i.imgur.com/E86WdGq.png");
}

/* AC2 */
.b-image[data-attrs *= "https://i.imgur.com/5i7iIhR.png" ] {
  --overlay-image: url("https://i.imgur.com/RQDW5CX.png");
}

/* AC2AA */
.b-image[data-attrs *= "https://i.imgur.com/Tg7MdkN.png" ] {
  --overlay-image: url("https://i.imgur.com/ASwI17I.png");
}

/* AC3 */
.b-image[data-attrs *= "https://i.imgur.com/XbnrGeZ.png" ] {
  --overlay-image: url("https://i.imgur.com/L0q3QFP.png");
}

/* ACSL */
.b-image[data-attrs *= "https://i.imgur.com/IBkvG89.png" ] {
  --overlay-image: url("https://i.imgur.com/miJKCHH.png");
}

/* ACN */
.b-image[data-attrs *= "https://i.imgur.com/J1mulGi.png" ] {
  --overlay-image: url("https://i.imgur.com/VlIgZYS.png");
}

/* ACFF */
.b-image[data-attrs *= "https://i.imgur.com/0f7zIs6.png" ] {
  --overlay-image: url("https://i.imgur.com/W03kTVS.png");
}

/* ACNB */
.b-image[data-attrs *= "https://i.imgur.com/ZFTC5ev.png" ] {
  --overlay-image: url("https://i.imgur.com/cvMbvwr.png");
}

/* ACLR */
.b-image[data-attrs *= "https://i.imgur.com/G1az6xh.png" ] {
  --overlay-image: url("https://i.imgur.com/JvncCxp.png");
}

/* AC4 */
.b-image[data-attrs *= "https://i.imgur.com/Ozerj92.png" ] {
  --overlay-image: url("https://i.imgur.com/9rOO0BL.png");
}

/* AC4A */
.b-image[data-attrs *= "https://i.imgur.com/IvMR3I2.png" ] {
  --overlay-image: url("https://i.imgur.com/SrrzPNU.png");
}

/* ACV */
.b-image[data-attrs *= "https://i.imgur.com/wPzu94M.png" ] {
  --overlay-image: url("https://i.imgur.com/nk51DxE.png");
}

/* ACVD */
.b-image[data-attrs *= "https://i.imgur.com/JtNh7oM.png" ] {
  --overlay-image: url("https://i.imgur.com/UI8v8nU.png");
}

/* ACVI */
.b-image[data-attrs *= "https://i.imgur.com/8Lz6UUl.png" ] {
  --overlay-image: url("https://i.imgur.com/bNVVi8K.png");
}

/* TEKKEN 1 */
.b-image[data-attrs *= "https://i.imgur.com/UxoPRQS.png" ] {
  --overlay-image: url("https://i.imgur.com/9dM0ISp.png");
}

/* TEKKEN 2 */
.b-image[data-attrs *= "https://i.imgur.com/krFqzd4.png" ] {
  --overlay-image: url("https://i.imgur.com/cVuFTnp.png");
}

/* TEKKEN 3 */
.b-image[data-attrs *= "https://i.imgur.com/GkjEfrP.png" ] {
  --overlay-image: url("https://i.imgur.com/rkrR1G0.png");
}

/* TEKKEN 4 */
.b-image[data-attrs *= "https://i.imgur.com/PcwMgDg.png" ] {
  --overlay-image: url("https://i.imgur.com/DX4gZE5.png");
}

/* TEKKEN 5 */
.b-image[data-attrs *= "https://i.imgur.com/9cV1gQe.png" ] {
  --overlay-image: url("https://i.imgur.com/O1AAAlT.png");
}

/* TEKKEN 5 DR */
.b-image[data-attrs *= "https://i.imgur.com/bMxFQYJ.png" ] {
  --overlay-image: url("https://i.imgur.com/C0faOq5.png");
}

/* TEKKEN 6 */
.b-image[data-attrs *= "https://i.imgur.com/6wTKDAT.png" ] {
  --overlay-image: url("https://i.imgur.com/rITLRbD.png");
}

/* TEKKEN 7 */
.b-image[data-attrs *= "https://i.imgur.com/gE4JQuQ.png" ] {
  --overlay-image: url("https://i.imgur.com/4JdDm7Z.png");
}

/* TEKKEN 8 */
.b-image[data-attrs *= "https://i.imgur.com/hHBKcGf.png" ] {
  --overlay-image: url("https://i.imgur.com/J4LE7I2.png");
}

/* TEKKEN TTT */
.b-image[data-attrs *= "https://i.imgur.com/05N72Ob.png" ] {
  --overlay-image: url("https://i.imgur.com/7X0Etef.png");
}

/* TEKKEN TTT2 */
.b-image[data-attrs *= "https://i.imgur.com/HPV7g5m.png" ] {
  --overlay-image: url("https://i.imgur.com/b3jvnJb.png");
}

/* GOW */
.b-image[data-attrs *= "https://i.imgur.com/7ctzBKZ.png" ] {
  --overlay-image: url("https://i.imgur.com/ONXLqbg.png");
}

/* GOW2 */
.b-image[data-attrs *= "https://i.imgur.com/j73KYQF.png" ] {
  --overlay-image: url("https://i.imgur.com/0KqHiG2.png");
}

/* GOW3 */
.b-image[data-attrs *= "https://i.imgur.com/APk7vMM.png" ] {
  --overlay-image: url("https://i.imgur.com/k49Sl7g.png");
}

/* GOWA */
.b-image[data-attrs *= "https://i.imgur.com/GfO96U4.png" ] {
  --overlay-image: url("https://i.imgur.com/jqqi1XU.png");
}

/* GOWCOA */
.b-image[data-attrs *= "https://i.imgur.com/5nxOJBs.png" ] {
  --overlay-image: url("https://i.imgur.com/34welir.png");
}

/* GOWGOS */
.b-image[data-attrs *= "https://i.imgur.com/5IwYjDK.png" ] {
  --overlay-image: url("https://i.imgur.com/uSVBI20.png");
}

/* GOW2018 */
.b-image[data-attrs *= "https://i.imgur.com/lu8lD8B.png" ] {
  --overlay-image: url("https://i.imgur.com/VE5HVpz.png");
}

/* GOW RAGNAROK */
.b-image[data-attrs *= "https://i.imgur.com/IzIzLQV.png" ] {
  --overlay-image: url("https://i.imgur.com/lPPr4TU.png");
}

/* SYSTEM SHOCK */
.b-image[data-attrs *= "https://i.imgur.com/pqwPQTb.png" ] {
  --overlay-image: url("https://i.imgur.com/7UqwpUk.png");
}

/* SYSTEM SHOCK 2 */
.b-image[data-attrs *= "https://i.imgur.com/4Hlvaih.png" ] {
  --overlay-image: url("https://i.imgur.com/W3PM8ds.png");
}

/* SYSTEM SHOCK REMAKE */
.b-image[data-attrs *= "https://i.imgur.com/rAxkUED.png" ] {
  --overlay-image: url("https://i.imgur.com/9LOOyyH.png");
}

/* BIOSHOCK */
.b-image[data-attrs *= "https://i.imgur.com/FZs3O62.png" ] {
  --overlay-image: url("https://i.imgur.com/sqjBf9z.png");
}

/* BIOSHOCK 2 */
.b-image[data-attrs *= "https://i.imgur.com/IgdZaio.png" ] {
  --overlay-image: url("https://i.imgur.com/QzUWgnU.png");
}

/* BIOSHOCK INFINITE */
.b-image[data-attrs *= "https://i.imgur.com/JcBs6lQ.png" ] {
  --overlay-image: url("https://i.imgur.com/lwgI2Ho.png");
}

/* PREY NEUROSHOCK */
.b-image[data-attrs *= "https://i.imgur.com/wdrBWN0.png" ] {
  --overlay-image: url("https://i.imgur.com/xaK29kW.png");
}

/* CARTAGRA */
.b-image[data-attrs *= "https://i.imgur.com/luFvI7H.png" ] {
  --overlay-image: url("https://i.imgur.com/g5ZWzb9.png");
}

/* SHELL GIRL */
.b-image[data-attrs *= "https://i.imgur.com/5haaLP6.png" ] {
  --overlay-image: url("https://i.imgur.com/Ale2wny.png");
}

/* FALSE GIRL */
.b-image[data-attrs *= "https://i.imgur.com/KRC3TzN.png" ] {
  --overlay-image: url("https://i.imgur.com/hxJBf6w.png");
}

/* HEAVENLY GIRL */
.b-image[data-attrs *= "https://i.imgur.com/a4ypOUI.png" ] {
  --overlay-image: url("https://i.imgur.com/G5jU5n9.png");
}

/* DRAGON AGE ORIGINS */
.b-image[data-attrs *= "https://i.imgur.com/REE7zkd.png" ] {
  --overlay-image: url("https://i.imgur.com/tdYHVJi.png");
}

/* DRAKENGARD */
.b-image[data-attrs *= "https://i.imgur.com/AjJcIk0.png" ] {
  --overlay-image: url("https://i.imgur.com/NzRwpTY.png");
}

/* DRAKENGARD 2 */
.b-image[data-attrs *= "https://i.imgur.com/bzvn0l4.png" ] {
  --overlay-image: url("https://i.imgur.com/a6XhwHx.png");
}

/* DRAKENGARD 3 */
.b-image[data-attrs *= "https://i.imgur.com/xRMzLi0.png" ] {
  --overlay-image: url("https://i.imgur.com/HcTBuXB.png");
}

/* NIER REPLICANT */
.b-image[data-attrs *= "https://i.imgur.com/gcCT7GT.png" ] {
  --overlay-image: url("https://i.imgur.com/MUiHBkx.png");
}

/* NIER AUTOMATA */
.b-image[data-attrs *= "https://i.imgur.com/5yN6mz0.png" ] {
  --overlay-image: url("https://i.imgur.com/RigBDGA.png");
}

/* NIER REINCARNATION */
.b-image[data-attrs *= "https://i.imgur.com/R3ZhIKb.png" ] {
  --overlay-image: url("https://i.imgur.com/GJBjtGj.png");
}

/* DEMON'S SOULS */
.b-image[data-attrs *= "https://i.imgur.com/TIqxi5g.png" ] {
  --overlay-image: url("https://i.imgur.com/2mrizdv.png");
}

/* DARK SOULS */
.b-image[data-attrs *= "https://i.imgur.com/qKQhtgL.png" ] {
  --overlay-image: url("https://i.imgur.com/BBGvsCe.png");
}

/* DARK SOULS 2 */
.b-image[data-attrs *= "https://i.imgur.com/VO9wuh0.png" ] {
  --overlay-image: url("https://i.imgur.com/wEL9Cg5.png");
}

/* DARK SOULS 3 */
.b-image[data-attrs *= "https://i.imgur.com/9dhSZou.png" ] {
  --overlay-image: url("https://i.imgur.com/JTDmG0Q.png");
}

/* BLOODBORNE */
.b-image[data-attrs *= "https://i.imgur.com/AknsMIf.png" ] {
  --overlay-image: url("https://i.imgur.com/xTIvTkd.png");
}

/* SEKIRO */
.b-image[data-attrs *= "https://i.imgur.com/l4f6kP1.png" ] {
  --overlay-image: url("https://i.imgur.com/FFe4sTs.png");
}

/* ELDEN RING */
.b-image[data-attrs *= "https://i.imgur.com/eA1zJGA.png" ] {
  --overlay-image: url("https://i.imgur.com/WM8ueSN.png");
}

/* ELDEN RING NIGHTREIGN */
.b-image[data-attrs *= "https://i.imgur.com/gIaL3vN.png" ] {
  --overlay-image: url("https://i.imgur.com/cRjL2mG.png");
}

/* THE DUSKBLOODS */
.b-image[data-attrs *= "https://i.imgur.com/BtUXBAe.png" ] {
  --overlay-image: url("https://i.imgur.com/jgrDu6h.png");
}

/* CHAOS HEAD */
.b-image[data-attrs *= "https://i.imgur.com/OZpCHUV.png" ] {
  --overlay-image: url("https://i.imgur.com/veCWL59.png");
}

/* CHAOS HEAD LOVE CHU CHU */
.b-image[data-attrs *= "https://i.imgur.com/8sesfNi.png" ] {
  --overlay-image: url("https://i.imgur.com/i70SGjz.png");
}

/* CHAOS CHILD */
.b-image[data-attrs *= "https://i.imgur.com/EWuNXXd.png" ] {
  --overlay-image: url("https://i.imgur.com/QGEv2pc.png");
}

/* CHAOS CHILD LOVE CHU CHU */
.b-image[data-attrs *= "https://i.imgur.com/kBNUYyG.png" ] {
  --overlay-image: url("https://i.imgur.com/DOyQA8i.png");
}

/* STEINS GATE */
.b-image[data-attrs *= "https://i.imgur.com/6Gg1Li2.png" ] {
  --overlay-image: url("https://i.imgur.com/G1jdc8a.png");
}

/* STEINS GATE 0 */
.b-image[data-attrs *= "https://i.imgur.com/6xzlpun.png" ] {
  --overlay-image: url("https://i.imgur.com/Qgy3Lwb.png");
}

/* STEINS GATE LBP */
.b-image[data-attrs *= "https://i.imgur.com/ihKTQqm.png" ] {
  --overlay-image: url("https://i.imgur.com/7rZCWWy.png");
}

/* STEINS GATE DARLING */
.b-image[data-attrs *= "https://i.imgur.com/oMAv0jH.png" ] {
  --overlay-image: url("https://i.imgur.com/XBAcV0T.png");
}

/* ROBOTIC NOTES */
.b-image[data-attrs *= "https://i.imgur.com/gMZEHGj.png" ] {
  --overlay-image: url("https://i.imgur.com/xh22Ud4.png");
}

/* ROBOTIC NOTES DASH */
.b-image[data-attrs *= "https://i.imgur.com/g6HkYo7.png" ] {
  --overlay-image: url("https://i.imgur.com/CdXuelY.png");
}

/* OCCULTIC NINE */
.b-image[data-attrs *= "https://i.imgur.com/2uKi83C.png" ] {
  --overlay-image: url("https://i.imgur.com/fVbiiIm.png");
}

/* ANONYMOUS CODE */
.b-image[data-attrs *= "https://i.imgur.com/NT19VZN.png" ] {
  --overlay-image: url("https://i.imgur.com/u5sGpq5.png");
}

/* 13 SENTINELS */
.b-image[data-attrs *= "https://i.imgur.com/utg5iq3.png" ] {
  --overlay-image: url("https://i.imgur.com/N8EbrAy.png");
}

/* ANIMAL CROSSING NEW HORIZONS */
.b-image[data-attrs *= "https://i.imgur.com/XRFl4rb.png" ] {
  --overlay-image: url("https://i.imgur.com/sxghVO6.png");
}

/* AC BROTHERHOOD */
.b-image[data-attrs *= "https://i.imgur.com/QCjyAVb.png" ] {
  --overlay-image: url("https://i.imgur.com/ucd8Ibj.png");
}

/* BAD COMPANY */
.b-image[data-attrs *= "https://i.imgur.com/XhPpWdd.png" ] {
  --overlay-image: url("https://i.imgur.com/loa5sdV.png");
}

/* CRASH OF THE TITANS */
.b-image[data-attrs *= "https://i.imgur.com/ARKkDXL.png" ] {
  --overlay-image: url("https://i.imgur.com/tp8FKh8.png");
}

/* DARKEST DUNGEON */
.b-image[data-attrs *= "https://i.imgur.com/RNHZ0hp.png" ] {
  --overlay-image: url("https://i.imgur.com/u5c1Puc.png");
}

/* DEUS EX */
.b-image[data-attrs *= "https://i.imgur.com/2qMxTCV.png" ] {
  --overlay-image: url("https://i.imgur.com/BeH8Qtr.png");
}

/* DIABLO 2 */
.b-image[data-attrs *= "https://i.imgur.com/z8OixTI.png" ] {
  --overlay-image: url("https://cdn.imgchest.com/files/7lxcprrlzv7.png");
}

/* FALLOUT 2 */
.b-image[data-attrs *= "https://i.imgur.com/Ti7fkp0.png" ] {
  --overlay-image: url("https://i.imgur.com/kfmQJjY.png");
}

/* GOTHIC 2 */
.b-image[data-attrs *= "https://i.imgur.com/c4nckln.png" ] {
  --overlay-image: url("https://i.imgur.com/064XS2C.png");
}

/* GTA VICE CITY */
.b-image[data-attrs *= "https://i.imgur.com/oTl5R77.png" ] {
  --overlay-image: url("https://i.imgur.com/iMMHDKC.png");
}

/* GTA ONLINE */
.b-image[data-attrs *= "https://i.imgur.com/B1pE5RM.png" ] {
  --overlay-image: url("https://i.imgur.com/HNkDKpX.png");
}

/* GRAVITY RUSH 2 */
.b-image[data-attrs *= "https://i.imgur.com/FSY4YCl.png" ] {
  --overlay-image: url("https://i.imgur.com/Wm3yaYC.png");
}

/* HEROES 3 */
.b-image[data-attrs *= "https://i.imgur.com/doW9HlQ.png" ] {
  --overlay-image: url("https://i.imgur.com/wJGGhM7.png");
}

/* HOLLOW KNIGHT */
.b-image[data-attrs *= "https://i.imgur.com/uThHzUS.png" ] {
  --overlay-image: url("https://i.imgur.com/lTpPsCr.png");
}

/* LIFE IS STRANGE */
.b-image[data-attrs *= "https://i.imgur.com/60eyuST.png" ] {
  --overlay-image: url("https://i.imgur.com/JqZRmTq.png");
}

/* MASS EFFECT 3 */
.b-image[data-attrs *= "https://i.imgur.com/HTUEl7A.png" ] {
  --overlay-image: url("https://i.imgur.com/2siGsmq.png");
}

/* MAX PAYNE */
.b-image[data-attrs *= "https://i.imgur.com/bZKhmqv.png" ] {
  --overlay-image: url("https://i.imgur.com/8B7es2G.png");
}

/* NIOH */
.b-image[data-attrs *= "https://i.imgur.com/yFdGwp7.png" ] {
  --overlay-image: url("https://i.imgur.com/6gJh8UH.png");
}

/* OUTER WILDS */
.b-image[data-attrs *= "https://i.imgur.com/vxNsg0d.png" ] {
  --overlay-image: url("https://i.imgur.com/EBL0YNG.png");
}

/* OVERWATCH */
.b-image[data-attrs *= "https://i.imgur.com/6eB7ypd.png" ] {
  --overlay-image: url("https://i.imgur.com/JOjCGJQ.png");
}

/* PATAPON 3 */
.b-image[data-attrs *= "https://i.imgur.com/iS0qALD.png" ] {
  --overlay-image: url("https://i.imgur.com/yJMglS1.png");
}

/* PHOENIX WRIGHT ACE ATTORNEY TAT */
.b-image[data-attrs *= "https://i.imgur.com/zTGyGpj.png" ] {
  --overlay-image: url("https://i.imgur.com/Trirs7e.png");
}

/* TERRARIA */
.b-image[data-attrs *= "https://i.imgur.com/h7Xl84o.png" ] {
  --overlay-image: url("https://i.imgur.com/9zc5VHB.png");
}

/* OBLIVION */
.b-image[data-attrs *= "https://i.imgur.com/DNOn2wr.png" ] {
  --overlay-image: url("https://i.imgur.com/LZxyH1y.png");
}

/* TLOU */
.b-image[data-attrs *= "https://i.imgur.com/Q4XS1xB.png" ] {
  --overlay-image: url("https://i.imgur.com/8Xz0lW7.png");
}

/* ZELDA MAJORA'S MASK */
.b-image[data-attrs *= "https://i.imgur.com/v6IFzDC.png" ] {
  --overlay-image: url("https://i.imgur.com/2mDSSpc.png");
}

/* THE LONGEST JOURNEY */
.b-image[data-attrs *= "https://i.imgur.com/fUSUTPy.png" ] {
  --overlay-image: url("https://i.imgur.com/j7lXWjC.png");
}

/* WITCHER 3 */
.b-image[data-attrs *= "https://i.imgur.com/EzLxgTt.png" ] {
  --overlay-image: url("https://i.imgur.com/YqnfEMp.png");
}

/* WOLF AMONG US */
.b-image[data-attrs *= "https://i.imgur.com/PdWXUOb.png" ] {
  --overlay-image: url("https://i.imgur.com/R8AjppW.png");
}

/* UNCHARTED 4 */
.b-image[data-attrs *= "https://i.imgur.com/62QMm1R.png" ] {
  --overlay-image: url("https://i.imgur.com/3uXtOdK.png");
}

/* WOLFENSTEIN */
.b-image[data-attrs *= "https://i.imgur.com/Vu43fLq.png" ] {
  --overlay-image: url("https://i.imgur.com/nCUWx5o.png");
}

/* WORLD OF WARCRAFT */
.b-image[data-attrs *= "https://i.imgur.com/a88zmhD.png" ] {
  --overlay-image: url("https://i.imgur.com/tIMt2Z7.png");
}

/* SMT */
.b-image[data-attrs *= "https://i.imgur.com/s9JKNaG.png" ] {
  --overlay-image: url("https://i.imgur.com/Xuh49FP.png");
}

/* SMT2 */
.b-image[data-attrs *= "https://i.imgur.com/WbBMMxo.png" ] {
  --overlay-image: url("https://i.imgur.com/6xnX4kP.png");
}

/* SMT3 */
.b-image[data-attrs *= "https://i.imgur.com/PrAgFSY.png" ] {
  --overlay-image: url("https://i.imgur.com/Ko7U29G.png");
}

/* SMT4 */
.b-image[data-attrs *= "https://i.imgur.com/698BhGQ.png" ] {
  --overlay-image: url("https://i.imgur.com/s11rpwx.png");
}

/* SMT4A */
.b-image[data-attrs *= "https://i.imgur.com/C8VKkKe.png" ] {
  --overlay-image: url("https://i.imgur.com/Lj0qvK5.png");
}

/* SMT5 */
.b-image[data-attrs *= "https://i.imgur.com/HxQSUKt.png" ] {
  --overlay-image: url("https://i.imgur.com/yd7weX2.png");
}

/* SMTSJ */
.b-image[data-attrs *= "https://i.imgur.com/khIix68.png" ] {
  --overlay-image: url("https://i.imgur.com/VAFvIN5.png");
}

/* SMT NINE */
.b-image[data-attrs *= "https://i.imgur.com/MJiHIlV.png" ] {
  --overlay-image: url("https://i.imgur.com/K33dVi1.png");
}

/* SMT IMAGINE */
.b-image[data-attrs *= "https://i.imgur.com/2pfa4tZ.png" ] {
  --overlay-image: url("https://i.imgur.com/S1i5xff.png");
}

/* SMT DX2 */
.b-image[data-attrs *= "https://i.imgur.com/PkwtIJ5.png" ] {
  --overlay-image: url("https://i.imgur.com/SWqYu79.png");
}

/* SMT IF */
.b-image[data-attrs *= "https://i.imgur.com/dK4EfMN.png" ] {
  --overlay-image: url("https://i.imgur.com/LteZRWn.png");
}

/* PERSONA */
.b-image[data-attrs *= "https://i.imgur.com/sOboajA.png" ] {
  --overlay-image: url("https://i.imgur.com/Vqvi8nY.png");
}

/* PERSONA 2 IS */
.b-image[data-attrs *= "https://i.imgur.com/tWlOklt.png" ] {
  --overlay-image: url("https://i.imgur.com/UW8B74H.png");
}

/* PERSONA 2 EP */
.b-image[data-attrs *= "https://i.imgur.com/kYrtItT.png" ] {
  --overlay-image: url("https://i.imgur.com/xPDFztv.png");
}

/* PERSONA 3 */
.b-image[data-attrs *= "https://i.imgur.com/vcVa3YK.png" ] {
  --overlay-image: url("https://i.imgur.com/SZ5l2wp.png");
}

/* PERSONA 3 PORTABLE */
.b-image[data-attrs *= "https://i.imgur.com/4u4mLcv.png" ] {
  --overlay-image: url("https://i.imgur.com/TpWU99i.png");
}

/* PERSONA 3 D */
.b-image[data-attrs *= "https://i.imgur.com/HIYPIM8.png" ] {
  --overlay-image: url("https://i.imgur.com/oX5KPNT.png");
}

/* PERSONA 3 R */
.b-image[data-attrs *= "https://i.imgur.com/Y7m1LvJ.png" ] {
  --overlay-image: url("https://i.imgur.com/IYUOaoK.png");
}

/* PERSONA 4 */
.b-image[data-attrs *= "https://i.imgur.com/S1uqoYu.png" ] {
  --overlay-image: url("https://i.imgur.com/jxCPXtH.png");
}

/* PERSONA 4 D */
.b-image[data-attrs *= "https://i.imgur.com/2Ix24Le.png" ] {
  --overlay-image: url("https://i.imgur.com/HuDpoCX.png");
}

/* PERSONA 4 ARENA */
.b-image[data-attrs *= "https://i.imgur.com/1UYl78T.png" ] {
  --overlay-image: url("https://i.imgur.com/eREtC7S.png");
}

/* PERSONA 5 */
.b-image[data-attrs *= "https://i.imgur.com/BZAAvKO.png" ] {
  --overlay-image: url("https://i.imgur.com/NY0yIHP.png");
}

/* PERSONA 5 D */
.b-image[data-attrs *= "https://i.imgur.com/LFxXfl9.png" ] {
  --overlay-image: url("https://i.imgur.com/7asgWQW.png");
}

/* PERSONA 5 STRIKERS */
.b-image[data-attrs *= "https://i.imgur.com/P27JMw9.png" ] {
  --overlay-image: url("https://i.imgur.com/MP1W7Vw.png");
}

/* PERSONA 5 TACTICA */
.b-image[data-attrs *= "https://i.imgur.com/rT2rR79.png" ] {
  --overlay-image: url("https://i.imgur.com/icmMIii.png");
}

/* PERSONA 5 X */
.b-image[data-attrs *= "https://i.imgur.com/ucZ9dzR.png" ] {
  --overlay-image: url("https://i.imgur.com/D9JFAyf.png");
}

/* PERSONA Q */
.b-image[data-attrs *= "https://i.imgur.com/ZAKp1TD.png" ] {
  --overlay-image: url("https://i.imgur.com/E99METU.png");
}

/* PERSONA Q2 */
.b-image[data-attrs *= "https://i.imgur.com/WGQzRo6.png" ] {
  --overlay-image: url("https://i.imgur.com/Jlqaxmr.png");
}

/* DEVSUM */
.b-image[data-attrs *= "https://i.imgur.com/en5sd8Q.png" ] {
  --overlay-image: url("https://i.imgur.com/x4ssALo.png");
}

/* DEVSUM SH */
.b-image[data-attrs *= "https://i.imgur.com/xfJj6Ku.png" ] {
  --overlay-image: url("https://i.imgur.com/kRIf984.png");
}

/* DEVSUM SH2 */
.b-image[data-attrs *= "https://i.imgur.com/i5hY0HB.png" ] {
  --overlay-image: url("https://i.imgur.com/TxjG82P.png");
}

/* RAIDOU 1 */
.b-image[data-attrs *= "https://i.imgur.com/yQdE9vF.png" ] {
  --overlay-image: url("https://i.imgur.com/gEJ7Why.png");
}

/* RAIDOU 2 */
.b-image[data-attrs *= "https://i.imgur.com/vyWBF1i.png" ] {
  --overlay-image: url("https://i.imgur.com/lZ8niyy.png");
}

/* RAIDOU R */
.b-image[data-attrs *= "https://i.imgur.com/kGSSOyM.png" ] {
  --overlay-image: url("https://i.imgur.com/8PYtFMK.png");
}

/* DDS1 */
.b-image[data-attrs *= "https://i.imgur.com/AUBwiFD.png" ] {
  --overlay-image: url("https://i.imgur.com/JoWc8El.png");
}

/* DDS2 */
.b-image[data-attrs *= "https://i.imgur.com/TGXMlCk.png" ] {
  --overlay-image: url("https://i.imgur.com/fbKNX2F.png");
}

/* DESU */
.b-image[data-attrs *= "https://i.imgur.com/FLNf0vE.png" ] {
  --overlay-image: url("https://i.imgur.com/tM7xVDV.png");
}

/* DESU2 */
.b-image[data-attrs *= "https://i.imgur.com/yMI1DsJ.png" ] {
  --overlay-image: url("https://i.imgur.com/HNvRIrN.png");
}

/* DDS MT */
.b-image[data-attrs *= "https://i.imgur.com/hn2hFGM.png" ] {
  --overlay-image: url("https://i.imgur.com/q3WKuZ1.png");
}

/* DDS MT 2 */
.b-image[data-attrs *= "https://i.imgur.com/v9YjtIx.png" ] {
  --overlay-image: url("https://i.imgur.com/C8pZrus.png");
}

/* MAJIN 1 */
.b-image[data-attrs *= "https://i.imgur.com/TOMvJsR.png" ] {
  --overlay-image: url("https://i.imgur.com/A4hxHrT.png");
}

/* MAJIN 2 */
.b-image[data-attrs *= "https://i.imgur.com/Xd9KXDp.png" ] {
  --overlay-image: url("https://i.imgur.com/QWujfQB.png");
}

/* RONDE */
.b-image[data-attrs *= "https://i.imgur.com/vIwmSd4.png" ] {
  --overlay-image: url("https://i.imgur.com/3CbfsrR.png");
}

/* JACK BROS. */
.b-image[data-attrs *= "https://i.imgur.com/RbTzjGr.png" ] {
  --overlay-image: url("https://i.imgur.com/1yd8wku.png");
}

/* MAKEN */
.b-image[data-attrs *= "https://i.imgur.com/nOwNxVU.png" ] {
  --overlay-image: url("https://i.imgur.com/BDdBQbG.png");
}

/* CATHERINE */
.b-image[data-attrs *= "https://i.imgur.com/K1Hs4dZ.png" ] {
  --overlay-image: url("https://i.imgur.com/dWkjbJS.png");
}

/* METAPHOR */
.b-image[data-attrs *= "https://i.imgur.com/6NXPIDl.png" ] {
  --overlay-image: url("https://i.imgur.com/LzTlmEY.png");
}

/* TSUKUYOMI */
.b-image[data-attrs *= "https://i.imgur.com/lkRBiYz.png" ] {
  --overlay-image: url("https://i.imgur.com/1m4KH5e.png");
}

/* THE WALKING DEAD TTDE */
.b-image[data-attrs *= "https://i.imgur.com/Qgdtm15.png" ] {
  --overlay-image: url("https://i.imgur.com/iXgFz2q.png");
}

/* BEYOND GOOD & EVIL */
.b-image[data-attrs *= "https://i.imgur.com/OCwEQHv.png" ] {
  --overlay-image: url("https://i.imgur.com/vH9Tfdh.png");
}

/* BOKU NO NATSUYASUMI 2 */
.b-image[data-attrs *= "https://i.imgur.com/Jlcizqs.png" ] {
  --overlay-image: url("https://i.imgur.com/8zAHUy6.png");
}

/* FRONT MISSION GUN HAZARD */
.b-image[data-attrs *= "https://i.imgur.com/pOu87X8.png" ] {
  --overlay-image: url("https://i.imgur.com/nL74J5e.png");
}

/* ICO */
.b-image[data-attrs *= "https://i.imgur.com/H3bkW7C.png" ] {
  --overlay-image: url("https://i.imgur.com/t5WMKZR.png");
}

/* OFF */
.b-image[data-attrs *= "https://i.imgur.com/gpAdS3V.png" ] {
  --overlay-image: url("https://i.imgur.com/PYeu3OI.png");
}

/* RESIDENT EVIL 4 */
.b-image[data-attrs *= "https://i.imgur.com/HACqJQI.png" ] {
  --overlay-image: url("https://i.imgur.com/jDHjprw.png");
}

/* SILENT HILL 3 */
.b-image[data-attrs *= "https://i.imgur.com/sOipLfp.png" ] {
  --overlay-image: url("https://i.imgur.com/n7Reb4w.png");
}

/* XENOGEARS */
.b-image[data-attrs *= "https://i.imgur.com/0QzdMcg.png" ] {
  --overlay-image: url("https://i.imgur.com/qljOFxu.png");
}

/* XENOSAGA E3 */
.b-image[data-attrs *= "https://i.imgur.com/riSxUy8.png" ] {
  --overlay-image: url("https://i.imgur.com/lM0kIfe.png");
}

/* ALICE MADNESS RETURNS */
.b-image[data-attrs *= "https://i.imgur.com/f60AMrI.png" ] {
  --overlay-image: url("https://i.imgur.com/npuAALj.png");
}

/* APE ESCAPE 3 */
.b-image[data-attrs *= "https://i.imgur.com/1CiIMPN.png" ] {
  --overlay-image: url("https://i.imgur.com/x3r0vKt.png");
}

/* ARIA OF SORROW */
.b-image[data-attrs *= "https://i.imgur.com/evBb59m.png" ] {
  --overlay-image: url("https://i.imgur.com/0eU41yq.png");
}

/* DYNASTY WARRIORS 5 */
.b-image[data-attrs *= "https://i.imgur.com/uop2oH5.png" ] {
  --overlay-image: url("https://i.imgur.com/vAUtXW2.png");
}

/* PARASITE EVE 2 */
.b-image[data-attrs *= "https://i.imgur.com/9gfTEzM.png" ] {
  --overlay-image: url("https://i.imgur.com/uKjpfSE.png");
}

/* VAMP THE MASQ BLOODLINES */
.b-image[data-attrs *= "https://i.imgur.com/NVHQQzj.png" ] {
  --overlay-image: url("https://i.imgur.com/Ynj9sjp.png");
}

/* WORMS OPEN WARFARE 2 */
.b-image[data-attrs *= "https://i.imgur.com/XVGm052.png" ] {
  --overlay-image: url("https://i.imgur.com/HrmKCxu.png");
}
