/* FLAG COUNTER IMG BLOCK */
img[src*="flags_0"] {
  pointer-events: none;
  user-select: none;
}

/* ЦЕНТРИРОВАТЬ НАЗВАНИЯ */
.p-profiles-favorites .b-catalog_entry .cover .title {
  text-align: center;
}

/* СТАТУС */
.p-profiles header.head .misc {
  font-size: 0;
  visibility: hidden;
  position: relative;
  display: inline-block;
  width: 0;
  height: 0;
  padding: 0;
  margin: 0;
  border: none;
}
.p-profiles header.head .misc::after {
  content: "椎名林檎 — 弁解ドビュッシー";
  font-size: 11px;
  line-height: 12px;
  visibility: visible;
  position: relative;
  left: 1%;
  top: -14px;
  white-space: nowrap;
}

/* УБРАТЬ БАНЫ */
.p-profiles .profile-head .c-brief .avatar .profile-actions .ban {
  display: none;
  transition: 0.5s;
}

/* E-DESIGN BRIGHTNESS FIX */
img {
    -webkit-filter: brightness(1);
}
.b-image img {
  -webkit-filter: brightness(1);
          filter: brightness(1);
}

/* FEM CHARS CATEGORY */
@import url("https://raw.githubusercontent.com/Fender9/shikimori/refs/heads/main/2.%20FAVS/femchars_category.css");

/* ANIMATORS CATEGORY */
@import url("https://raw.githubusercontent.com/Fender9/shikimori/refs/heads/main/2.%20FAVS/animators_category.css");

/* MUSICIANS CATEGORY */
@import url("https://raw.githubusercontent.com/Fender9/shikimori/refs/heads/main/2.%20FAVS/musicians_category.css");

/* ЦЕНТРИРОВАНИЕ И ПЕРЕИМЕНОВАНИЕ САБХЕДЛАЙНОВ */
@import url("https://raw.githubusercontent.com/Fender9/shikimori/refs/heads/main/2.%20FAVS/subheadline-renames.css");

/* NICKNAME ANIM */
@import url("https://raw.githubusercontent.com/Fender9/shikimori/refs/heads/main/6.%20MISC/nickname_anim.css");

/* GLOW */
@import url("https://raw.githubusercontent.com/Fender9/shikimori/refs/heads/main/6.%20MISC/glow.css");

/* ОБЛОЖКИ */
@import url("https://css-club.web.app/css/custom_posters.min.css");
@import url("https://raw.githubusercontent.com/Fender9/shikimori/refs/heads/main/1.%20P-PROFILES/anime.css");
@import url("https://raw.githubusercontent.com/Fender9/shikimori/refs/heads/main/1.%20P-PROFILES/manga.css");
@import url("https://raw.githubusercontent.com/Fender9/shikimori/refs/heads/main/1.%20P-PROFILES/ranobe.css");
@import url("https://raw.githubusercontent.com/Fender9/shikimori/refs/heads/main/1.%20P-PROFILES/people.css");
@import url("https://raw.githubusercontent.com/Fender9/shikimori/refs/heads/main/1.%20P-PROFILES/fem_chars.css");
@import url("https://raw.githubusercontent.com/Fender9/shikimori/refs/heads/main/1.%20P-PROFILES/male_chars.css");

/* ЗАПАДНЫЕ ТАЙТЛЫ */
@import url("https://raw.githubusercontent.com/Fender9/shikimori/refs/heads/main/6.%20MISC/western.css");

/* ABSOLUTE PEAK OVERLAY*/
@import url("https://raw.githubusercontent.com/Fender9/shikimori/refs/heads/main/2.%20FAVS/abpeoverl.css");

/* GOLD CHARS AM*/
@import url("https://raw.githubusercontent.com/Fender9/shikimori/refs/heads/main/2.%20FAVS/favcharsam.css");

/* GOLD ★*/
@import url("https://raw.githubusercontent.com/Fender9/shikimori/refs/heads/main/2.%20FAVS/goldstar.css");

/* ИГРЫ ТОП 8*/
@import url("https://raw.githubusercontent.com/Fender9/shikimori/refs/heads/main/3.%20GAMES/favgames.css");

/* ИГРОВЫЕ ПЕРСЫ ДАБЛ */
@import url("https://raw.githubusercontent.com/Fender9/shikimori/refs/heads/main/3.%20GAMES/g-profiles.css");

/* МУЗЫКА ДАБЛ */
@import url("https://raw.githubusercontent.com/Fender9/shikimori/refs/heads/main/4.%20MUSIC/m-profiles.css");

/* ИГРЫ ДАБЛ */
@import url("https://raw.githubusercontent.com/Fender9/shikimori/refs/heads/main/3.%20GAMES/vg-hover.css");

/* КИНЧ ДАБЛ */
@import url("https://raw.githubusercontent.com/Fender9/shikimori/refs/heads/main/5.%20MOVIES/mov-profiles.css");

/* АНИМ. АКТИВНОСТЬ */
@import url("https://raw.githubusercontent.com/ed-main/ed-main.github.io/master/cssfiles/q05_animated_activity_graph.css");

/* ПАНЕЛЬ СЛЕВА */
@import url("https://raw.githubusercontent.com/Fender9/shikimori/refs/heads/main/6.%20MISC/pbd.css");

/* МЕЙН СТИЛЬ */
@import url("https://raw.githubusercontent.com/ed-main/ed-main.github.io/master/cssfiles/main_code_1.css");
@import url("https://raw.githubusercontent.com/ed-main/ed-main.github.io/master/cssfiles/main_code_2.css");
@import url("https://raw.githubusercontent.com/ed-main/ed-main.github.io/master/cssfiles/main_code_3.css");
@import url("https://raw.githubusercontent.com/ed-main/ed-main.github.io/master/cssfiles/main_code_4mob.css");
.l-footer:after {
  content: "*TiraRemy Purple*";
  display: none !important;
}
@media screen and (min-width: 1px) {
  .correct-mob-version {
    color: normal;
  }
}
.shikista {
  color: white;
}
@media screen and (min-width: 1px) {
  html:root {
    --white-color: 250, 250, 250;
    --light-color: 193, 193, 193;
    --dark-color: 171, 171, 171;
    --bright-color: 214, 0, 247;
    --dull-color: 125, 125, 125;
    --input-color: 184, 146, 196;
    --hover-bottoms-1: 128, 48, 171;
    --buttoms-color: 75, 40, 129;
    --hover-buttoms-2: 128, 48, 171;
    --very-high-rating: 209, 0, 108;
    --high-rating: 209, 0, 252;
    --average-rating: 122, 0, 252;
    --small-rating: 77, 10, 148;
    --time-filled: 119, 117, 199;
    --time-empty: 67, 15, 63;
    --anime-inprocess: 211, 124, 238;
    --anime-complete: 221, 175, 235;
    --manga-inprocess: 142, 37, 91;
    --manga-complete: 187, 62, 127;
    --hover-color: 221, 175, 235;
    --shadows-color: 117, 122, 159;
    --block-color: 68, 42, 76;
    --menu-back: 0, 0, 0;
    --popup-color: 124, 48, 217;
    --hundred: 1;
  }
}

/* НОРМАЛЬНЫЙ СПОЙЛЕР */
@import url("https://raw.githubusercontent.com/Fender9/shikimori/refs/heads/main/6.%20MISC/spoiler.css");

/* СКРЫТЬ ДОСТИЖЕНИЯ */
.p-profiles-show .achievements > .cc-2 {
    max-height: 0;
    overflow: hidden;
    transition: 0.5s;
}
/*.p-profiles-show .achievements:hover > div.cc-2 { max-height: 500px; }*/

/* АЛЬТ МЕНЮ САЙТА */
@import url("https://raw.githubusercontent.com/ed-main/ed-main.github.io/master/cssfiles/q08_alter_sitemenu.css");

/* АНИМАЦИЯ ОТКРЫТИЯ SUBMENU */
@import url("https://raw.githubusercontent.com/Fender9/shikimori/refs/heads/main/BACKUP/shikimori-submenu-code.css");
@import url("https://raw.githubusercontent.com/Fender9/shikimori/refs/heads/main/6.%20MISC/submenu.css");
