/* Sheena Ringo */
.b-image[data-attrs *= "https://i.imgur.com/N3Wq2iU.png" ] {
  --overlay-image: url("https://i.imgur.com/VCO63s9.png");
}

/* Boris */
.b-image[data-attrs *= "https://i.imgur.com/5KpBa5N.png" ] {
  --overlay-image: url("https://i.imgur.com/iUQUZdW.png");
}

/* Mariko Gotō */
.b-image[data-attrs *= "https://i.imgur.com/Rq0MdLD.png" ] {
  --overlay-image: url("https://i.imgur.com/DGpY3tZ.png");
}

/* Yasuyuki Okamura */
.b-image[data-attrs *= "https://i.imgur.com/pc6nod3.png" ] {
  --overlay-image: url("https://i.imgur.com/LfNpruj.png");
}

/* MIYAVI */
.b-image[data-attrs *= "https://i.imgur.com/9RNOqo9.png" ] {
  --overlay-image: url("https://i.imgur.com/peXdbHl.png");
}

/* Shikao Suga */
.b-image[data-attrs *= "https://i.imgur.com/BriuFjs.png" ] {
  --overlay-image: url("https://i.imgur.com/Bnqf6Vm.png");
}

/* ATARASHII GAKKO! */
.b-image[data-attrs *= "https://i.imgur.com/sjKxG1N.png" ] {
  --overlay-image: url("https://i.imgur.com/QaiFr4W.png");
}

/* DAOKO */
.b-image[data-attrs *= "https://i.imgur.com/7lLnzG2.png" ] {
  --overlay-image: url("https://i.imgur.com/5Q4KY2U.png");
}

/* BOOM BOOM SATELLITES */
.b-image[data-attrs *= "https://i.imgur.com/zGOBRmL.png" ] {
  --overlay-image: url("https://i.imgur.com/MGYjemI.png");
}

/* Tricot */
.b-image[data-attrs *= "https://i.imgur.com/OZCvfM1.png" ] {
  --overlay-image: url("https://i.imgur.com/GwuGFTo.png");
}

/* Atsushi Sakurai */
.b-image[data-attrs *= "https://i.imgur.com/0XouBxK.png" ] {
  --overlay-image: url("https://i.imgur.com/7waoGMC.png");
}

/* Yasushi Ishii */
.b-image[data-attrs *= "https://i.imgur.com/hYu1zb4.png" ] {
  --overlay-image: url("https://i.imgur.com/RLx8TOJ.png");
}

/* Fishmans */
.b-image[data-attrs *= "https://i.imgur.com/rBKFREJ.png" ] {
  --overlay-image: url("https://i.imgur.com/B7SkCC8.png");
}

/* Number Girl */
.b-image[data-attrs *= "https://i.imgur.com/GkYyGi9.png" ] {
  --overlay-image: url("https://i.imgur.com/87eGar6.png");
}

/* Shinsei Kamattechan */
.b-image[data-attrs *= "https://i.imgur.com/sY31HvB.png" ] {
  --overlay-image: url("https://i.imgur.com/JlVKBbz.png");
}

/* Daiki Tsuneta */
.b-image[data-attrs *= "https://i.imgur.com/SQeUSAA.png" ] {
  --overlay-image: url("https://i.imgur.com/4k5w8OL.png");
}

/* the pillows */
.b-image[data-attrs *= "https://i.imgur.com/7zJp7h0.png" ] {
  --overlay-image: url("https://i.imgur.com/aJR0bYr.png");
}

/* RHYMESTER */
.b-image[data-attrs *= "https://i.imgur.com/tvnaqol.png" ] {
  --overlay-image: url("https://i.imgur.com/JlkXmGH.png");
}

/* toe */
.b-image[data-attrs *= "https://i.imgur.com/hammD9c.png" ] {
  --overlay-image: url("https://i.imgur.com/SkTlB8Z.png");
}

/* Eikichi Yazawa */
.b-image[data-attrs *= "https://i.imgur.com/VSYc21Y.png" ] {
  --overlay-image: url("https://i.imgur.com/DIHXBHR.png");
}

/* Yellow Magic Orchestra */
.b-image[data-attrs *= "https://i.imgur.com/u8GaNmu.png" ] {
  --overlay-image: url("https://i.imgur.com/YKsTl7G.png");
}

/* Kazunobu Mineta */
.b-image[data-attrs *= "https://i.imgur.com/dsRZJsD.png" ] {
  --overlay-image: url("https://i.imgur.com/Otva9ry.png");
}

/* Otoboke Beaver */
.b-image[data-attrs *= "https://i.imgur.com/5byHrCG.png" ] {
  --overlay-image: url("https://i.imgur.com/nYwDWAH.png");
}

/* Keigo Oyamada / Cornelius */
.b-image[data-attrs *= "https://i.imgur.com/Lm22rRZ.png" ] {
  --overlay-image: url("https://i.imgur.com/0LBoaKs.png");
}

/* YUKI */
.b-image[data-attrs *= "https://i.imgur.com/8pshhhw.png" ] {
  --overlay-image: url("https://i.imgur.com/yQE5igg.png");
}

/* Perfume */
.b-image[data-attrs *= "https://i.imgur.com/hDj0Mkf.png" ] {
  --overlay-image: url("https://i.imgur.com/R1pxinY.png");
}

/* Glim Spanky */
.b-image[data-attrs *= "https://i.imgur.com/nfmNf1S.png" ] {
  --overlay-image: url("https://i.imgur.com/nx8a6hV.png");
}

/* downy */
.b-image[data-attrs *= "https://i.imgur.com/r5DePpB.png" ] {
  --overlay-image: url("https://i.imgur.com/ykm1TiL.png");
}

/* 0.8Syooogeki */
.b-image[data-attrs *= "https://i.imgur.com/BegVjdE.png" ] {
  --overlay-image: url("https://i.imgur.com/wGCSOOW.png");
}

/* WAKUSEI ABNORMAL */
.b-image[data-attrs *= "https://i.imgur.com/DKALwfy.png" ] {
  --overlay-image: url("https://i.imgur.com/S4xEcQe.png");
}

/* CQ */
.b-image[data-attrs *= "https://i.imgur.com/Pe9lFKV.png" ] {
  --overlay-image: url("https://i.imgur.com/jfcrx2b.png");
}

/* ano */
.b-image[data-attrs *= "https://i.imgur.com/IA17lur.png" ] {
  --overlay-image: url("https://i.imgur.com/zNJrwHw.png");
}

/* betcover!! */
.b-image[data-attrs *= "https://i.imgur.com/3xByN08.png" ] {
  --overlay-image: url("https://i.imgur.com/WNofVOw.png");
}

/* Chiaki Sato */
.b-image[data-attrs *= "https://i.imgur.com/MK46nmN.png" ] {
  --overlay-image: url("https://i.imgur.com/0OcxI8s.png");
}

/* Coaltar of the Deepers */
.b-image[data-attrs *= "https://i.imgur.com/qpRBBGb.png" ] {
  --overlay-image: url("https://i.imgur.com/QoqWPTH.png");
}

/* exist trace */
.b-image[data-attrs *= "https://i.imgur.com/098gcLS.png" ] {
  --overlay-image: url("https://i.imgur.com/NyyLhfF.png");
}

/* haisuinonasa */
.b-image[data-attrs *= "https://i.imgur.com/wHmjwwW.png" ] {
  --overlay-image: url("https://i.imgur.com/wk7TNGd.png");
}

/* Hanabie. */
.b-image[data-attrs *= "https://i.imgur.com/m9ITb8N.png" ] {
  --overlay-image: url("https://i.imgur.com/lBVrprf.png");
}

/* jizue */
.b-image[data-attrs *= "https://i.imgur.com/CsNMrBv.png" ] {
  --overlay-image: url("https://i.imgur.com/CAuOhaY.png");
}

/* LITE */
.b-image[data-attrs *= "https://i.imgur.com/nA5PcwM.png" ] {
  --overlay-image: url("https://i.imgur.com/RBjuZ6R.png");
}

/* Maki Asakawa */
.b-image[data-attrs *= "https://i.imgur.com/O3GM0xb.png" ] {
  --overlay-image: url("https://i.imgur.com/quLFeNo.png");
}

/* MEG */
.b-image[data-attrs *= "https://i.imgur.com/YwlEmEa.png" ] {
  --overlay-image: url("https://i.imgur.com/CJL146b.png");
}

/* Melt-Banana */
.b-image[data-attrs *= "https://i.imgur.com/YUNlyT1.png" ] {
  --overlay-image: url("https://i.imgur.com/qwTEgFi.png");
}

/* NITRO MICROPHONE UNDERGROUND */
.b-image[data-attrs *= "https://i.imgur.com/RDQQCp2.png" ] {
  --overlay-image: url("https://i.imgur.com/xmYdk4f.png");
}

/* Shinichi Osawa */
.b-image[data-attrs *= "https://i.imgur.com/9HGm6us.png" ] {
  --overlay-image: url("https://i.imgur.com/8j0D8nG.png");
}

/* SOIL&"PIMP"SESSIONS */
.b-image[data-attrs *= "https://i.imgur.com/hU0zCuv.png" ] {
  --overlay-image: url("https://i.imgur.com/o2YCDyw.png");
}

/* Yusuke Chiba */
.b-image[data-attrs *= "https://i.imgur.com/901EPXn.png" ] {
  --overlay-image: url("https://i.imgur.com/B2kVCe7.png");
}

/* TECHNOBOYS PULCRAFT GREEN-FUND */
.b-image[data-attrs *= "https://i.imgur.com/bxdwq7L.png" ] {
  --overlay-image: url("https://i.imgur.com/TUSVsKO.png");
}

/* TeddyLoid */
.b-image[data-attrs *= "https://i.imgur.com/jDUVDGu.png" ] {
  --overlay-image: url("https://i.imgur.com/zDEdgLt.png");
}

/* VELTPUNCH */
.b-image[data-attrs *= "https://i.imgur.com/dvTINWU.png" ] {
  --overlay-image: url("https://i.imgur.com/lICNjNf.png");
}

/* Kyono */
.b-image[data-attrs *= "https://i.imgur.com/xdVpUfu.png" ] {
  --overlay-image: url("https://i.imgur.com/1Bp6Yta.png");
}

/* Yura Yura Teikoku */
.b-image[data-attrs *= "https://i.imgur.com/fc4BcS4.png" ] {
  --overlay-image: url("https://i.imgur.com/J1owD3W.png");
}

/* Lilniina */
.b-image[data-attrs *= "https://i.imgur.com/DLFutTX.png" ] {
  --overlay-image: url("https://i.imgur.com/OkdERab.png");
}

/* mouse on the keys */
.b-image[data-attrs *= "https://i.imgur.com/XIGXpX0.png" ] {
  --overlay-image: url("https://i.imgur.com/IWarssT.png");
}

/* te' */
.b-image[data-attrs *= "https://i.imgur.com/zUmLtCh.png" ] {
  --overlay-image: url("https://i.imgur.com/tup6C2f.png");
}

/* World's End Girlfriend */
.b-image[data-attrs *= "https://i.imgur.com/dGjfDK8.png" ] {
  --overlay-image: url("https://i.imgur.com/iLWj9A9.png");
}

/* Missile Girl Scoot */
.b-image[data-attrs *= "https://i.imgur.com/DmOSlU5.png" ] {
  --overlay-image: url("https://i.imgur.com/txYaGt0.png");
}

/* akaikurage */
.b-image[data-attrs *= "https://i.imgur.com/8vX0i9a.png" ] {
  --overlay-image: url("https://i.imgur.com/f6QWLwS.png");
}

/* doddodo */
.b-image[data-attrs *= "https://i.imgur.com/SldKHTX.png" ] {
  --overlay-image: url("https://i.imgur.com/q6WBhIO.png");
}

/* CITROBAL */
.b-image[data-attrs *= "https://i.imgur.com/6xgZQbT.png" ] {
  --overlay-image: url("https://i.imgur.com/AZRnqnu.png");
}

/* Gateballers */
.b-image[data-attrs *= "https://i.imgur.com/SZx0QDz.png" ] {
  --overlay-image: url("https://i.imgur.com/DJdO2mk.png");
}
