/* Sheena Ringo */
.b-image[data-attrs *= "https://i.imgur.com/N3Wq2iU.png" ] {
  --overlay-image: url("https://i.imgur.com/s5LVUai.png");
}

/* Boris */
.b-image[data-attrs *= "https://i.imgur.com/jxqVbJe.png" ] {
  --overlay-image: url("https://i.imgur.com/iUQUZdW.png");
}

/* Mariko Gotō */
.b-image[data-attrs *= "https://i.imgur.com/Rq0MdLD.png" ] {
  --overlay-image: url("https://i.imgur.com/BcCSXZZ.png");
}

/* Yasuyuki Okamura */
.b-image[data-attrs *= "https://i.imgur.com/pc6nod3.png" ] {
  --overlay-image: url("https://i.imgur.com/llhX10D.png");
}

/* MIYAVI */
.b-image[data-attrs *= "https://i.imgur.com/9RNOqo9.png" ] {
  --overlay-image: url("https://i.imgur.com/IDwIQdC.png");
}

/* Shikao Suga */
.b-image[data-attrs *= "https://i.imgur.com/hvW633O.png" ] {
  --overlay-image: url("https://i.imgur.com/QvFkped.png");
}

/* ATARASHII GAKKO! */
.b-image[data-attrs *= "https://i.imgur.com/sjKxG1N.png" ] {
  --overlay-image: url("https://i.imgur.com/QaiFr4W.png");
}

/* DAOKO */
.b-image[data-attrs *= "https://i.imgur.com/7lLnzG2.png" ] {
  --overlay-image: url("https://i.imgur.com/5Q4KY2U.png");
}

/* BOOM BOOM SATELLITES */
.b-image[data-attrs *= "https://i.imgur.com/zGOBRmL.png" ] {
  --overlay-image: url("https://i.imgur.com/MGYjemI.png");
}

/* Tricot */
.b-image[data-attrs *= "https://i.imgur.com/xrtnbag.png" ] {
  --overlay-image: url("https://i.imgur.com/9TpcqCH.png");
}

/* Atsushi Sakurai */
.b-image[data-attrs *= "https://i.imgur.com/DIvKqWh.png" ] {
  --overlay-image: url("https://i.imgur.com/0vXpQT3.png");
}

/* Yasushi Ishii */
.b-image[data-attrs *= "https://i.imgur.com/hYu1zb4.png" ] {
  --overlay-image: url("https://i.imgur.com/RLx8TOJ.png");
}

/* Fishmans */
.b-image[data-attrs *= "https://i.imgur.com/rBKFREJ.png" ] {
  --overlay-image: url("https://i.imgur.com/B7SkCC8.png");
}

/* Number Girl */
.b-image[data-attrs *= "https://i.imgur.com/GkYyGi9.png" ] {
  --overlay-image: url("https://i.imgur.com/9eH33pr.png");
}

/* Shinsei Kamattechan */
.b-image[data-attrs *= "https://i.imgur.com/TR0QWkP.png" ] {
  --overlay-image: url("https://i.imgur.com/aNvMhEC.png");
}

/* Daiki Tsuneta */
.b-image[data-attrs *= "https://i.imgur.com/nWJACcQ.png" ] {
  --overlay-image: url("https://i.imgur.com/A8BCxZG.png");
}

/* the pillows */
.b-image[data-attrs *= "https://i.imgur.com/Hcfi1aF.png" ] {
  --overlay-image: url("https://i.imgur.com/aJR0bYr.png");
}

/* RHYMESTER */
.b-image[data-attrs *= "https://i.imgur.com/ecnHeQn.png" ] {
  --overlay-image: url("https://i.imgur.com/vUeYpav.png");
}

/* toe */
.b-image[data-attrs *= "https://i.imgur.com/hammD9c.png" ] {
  --overlay-image: url("https://i.imgur.com/SkTlB8Z.png");
}

/* Eikichi Yazawa */
.b-image[data-attrs *= "https://i.imgur.com/akqtHlb.png" ] {
  --overlay-image: url("https://i.imgur.com/XVORBA6.png");
}

/* Yellow Magic Orchestra */
.b-image[data-attrs *= "https://i.imgur.com/VtglMJp.png" ] {
  --overlay-image: url("https://i.imgur.com/DSaQmFy.png");
}

/* Kazunobu Mineta */
.b-image[data-attrs *= "https://i.imgur.com/suduAwt.png" ] {
  --overlay-image: url("https://i.imgur.com/i8bs2RI.png");
}

/* Otoboke Beaver */
.b-image[data-attrs *= "https://i.imgur.com/5byHrCG.png" ] {
  --overlay-image: url("https://i.imgur.com/nYwDWAH.png");
}

/* Keigo Oyamada / Cornelius */
.b-image[data-attrs *= "https://i.imgur.com/Lm22rRZ.png" ] {
  --overlay-image: url("https://i.imgur.com/Opq9QBK.png");
}

/* YUKI */
.b-image[data-attrs *= "https://i.imgur.com/vRk4uQp.png" ] {
  --overlay-image: url("https://i.imgur.com/5Albfv1.png");
}

/* Perfume */
.b-image[data-attrs *= "https://i.imgur.com/S1JQXFO.png" ] {
  --overlay-image: url("https://i.imgur.com/aRlJXu2.png");
}

/* Glim Spanky */
.b-image[data-attrs *= "https://i.imgur.com/Atpu9Y8.png" ] {
  --overlay-image: url("https://i.imgur.com/9ihxVWF.png");
}

/* downy */
.b-image[data-attrs *= "https://i.imgur.com/r5DePpB.png" ] {
  --overlay-image: url("https://i.imgur.com/ykm1TiL.png");
}

/* 0.8Syooogeki */
.b-image[data-attrs *= "https://i.imgur.com/BegVjdE.png" ] {
  --overlay-image: url("https://i.imgur.com/Y9tldeY.png");
}

/* WAKUSEI ABNORMAL */
.b-image[data-attrs *= "https://i.imgur.com/o7yCWz7.png" ] {
  --overlay-image: url("https://i.imgur.com/tTkF4G9.png");
}

/* CQ */
.b-image[data-attrs *= "https://i.imgur.com/Pe9lFKV.png" ] {
  --overlay-image: url("https://i.imgur.com/jfcrx2b.png");
}

/* ano */
.b-image[data-attrs *= "https://i.imgur.com/ruYOKSU.png" ] {
  --overlay-image: url("https://i.imgur.com/qwEkC7q.png");
}

/* betcover!! */
.b-image[data-attrs *= "https://i.imgur.com/3xByN08.png" ] {
  --overlay-image: url("https://i.imgur.com/WNofVOw.png");
}

/* Chiaki Sato */
.b-image[data-attrs *= "https://i.imgur.com/X1DcxC2.png" ] {
  --overlay-image: url("https://i.imgur.com/DPRFOhQ.png");
}

/* Coaltar of the Deepers */
.b-image[data-attrs *= "https://i.imgur.com/qpRBBGb.png" ] {
  --overlay-image: url("https://i.imgur.com/RoTckUE.png");
}

/* exist trace */
.b-image[data-attrs *= "https://i.imgur.com/W5dGUwq.png" ] {
  --overlay-image: url("https://i.imgur.com/NyyLhfF.png");
}

/* haisuinonasa */
.b-image[data-attrs *= "https://i.imgur.com/wHmjwwW.png" ] {
  --overlay-image: url("https://i.imgur.com/8zajZlJ.png");
}

/* Hanabie. */
.b-image[data-attrs *= "https://i.imgur.com/8x6G4L3.png" ] {
  --overlay-image: url("https://i.imgur.com/nIAWoyz.png");
}

/* jizue */
.b-image[data-attrs *= "https://i.imgur.com/307L0TF.png" ] {
  --overlay-image: url("https://i.imgur.com/ztiw3GJ.png");
}

/* LITE */
.b-image[data-attrs *= "https://i.imgur.com/EAMPOs8.png" ] {
  --overlay-image: url("https://i.imgur.com/RBjuZ6R.png");
}

/* Maki Asakawa */
.b-image[data-attrs *= "https://i.imgur.com/O3GM0xb.png" ] {
  --overlay-image: url("https://i.imgur.com/quLFeNo.png");
}

/* MEG */
.b-image[data-attrs *= "https://i.imgur.com/aLXxR38.png" ] {
  --overlay-image: url("https://i.imgur.com/k4DYHkM.png");
}

/* Melt-Banana */
.b-image[data-attrs *= "https://i.imgur.com/YUNlyT1.png" ] {
  --overlay-image: url("https://i.imgur.com/5G8LkDO.png");
}

/* NITRO MICROPHONE UNDERGROUND */
.b-image[data-attrs *= "https://i.imgur.com/RDQQCp2.png" ] {
  --overlay-image: url("https://i.imgur.com/xmYdk4f.png");
}

/* Shinichi Osawa */
.b-image[data-attrs *= "https://i.imgur.com/9HGm6us.png" ] {
  --overlay-image: url("https://i.imgur.com/8j0D8nG.png");
}

/* SOIL&"PIMP"SESSIONS */
.b-image[data-attrs *= "https://i.imgur.com/hU0zCuv.png" ] {
  --overlay-image: url("https://i.imgur.com/iQe8jpR.png");
}

/* Yusuke Chiba */
.b-image[data-attrs *= "https://i.imgur.com/901EPXn.png" ] {
  --overlay-image: url("https://i.imgur.com/B2kVCe7.png");
}

/* TECHNOBOYS PULCRAFT GREEN-FUND */
.b-image[data-attrs *= "https://i.imgur.com/4x6dsoE.png" ] {
  --overlay-image: url("https://i.imgur.com/20iJVRC.png");
}

/* TeddyLoid */
.b-image[data-attrs *= "https://i.imgur.com/jDUVDGu.png" ] {
  --overlay-image: url("https://i.imgur.com/Uk2g2bA.png");
}

/* VELTPUNCH */
.b-image[data-attrs *= "https://i.imgur.com/L2QlY25.png" ] {
  --overlay-image: url("https://i.imgur.com/mir9lKo.png");
}

/* Kyono */
.b-image[data-attrs *= "https://i.imgur.com/xdVpUfu.png" ] {
  --overlay-image: url("https://i.imgur.com/1Bp6Yta.png");
}

/* Yura Yura Teikoku */
.b-image[data-attrs *= "https://i.imgur.com/fc4BcS4.png" ] {
  --overlay-image: url("https://i.imgur.com/J1owD3W.png");
}

/* Lilniina */
.b-image[data-attrs *= "https://i.imgur.com/G6gnFyE.png" ] {
  --overlay-image: url("https://i.imgur.com/56qW5pp.png");
}

/* mouse on the keys */
.b-image[data-attrs *= "https://i.imgur.com/XIGXpX0.png" ] {
  --overlay-image: url("https://i.imgur.com/IWarssT.png");
}

/* te' */
.b-image[data-attrs *= "https://i.imgur.com/zUmLtCh.png" ] {
  --overlay-image: url("https://i.imgur.com/tup6C2f.png");
}

/* World's End Girlfriend */
.b-image[data-attrs *= "https://i.imgur.com/dGjfDK8.png" ] {
  --overlay-image: url("https://i.imgur.com/iLWj9A9.png");
}

/* Missile Girl Scoot */
.b-image[data-attrs *= "https://i.imgur.com/H1Hfblj.png" ] {
  --overlay-image: url("https://i.imgur.com/tOIDytb.png");
}

/* akaikurage */
.b-image[data-attrs *= "https://i.imgur.com/Gesroiy.png" ] {
  --overlay-image: url("https://i.imgur.com/1TkSfI1.png");
}

/* doddodo */
.b-image[data-attrs *= "https://i.imgur.com/a4mRPon.png" ] {
  --overlay-image: url("https://i.imgur.com/JEgv4Ne.png");
}

/* CITROBAL */
.b-image[data-attrs *= "https://i.imgur.com/OuyCfu9.png" ] {
  --overlay-image: url("https://i.imgur.com/51eRwoT.png");
}

/* Gateballers */
.b-image[data-attrs *= "https://i.imgur.com/jWs1MkA.png" ] {
  --overlay-image: url("https://i.imgur.com/DJdO2mk.png");
}

/* fra-foa */
.b-image[data-attrs *= "https://i.imgur.com/UpKsaKX.png" ] {
  --overlay-image: url("https://i.imgur.com/4Jptv5X.png");
}

/* Kikuo */
.b-image[data-attrs *= "https://i.imgur.com/YcitFXr.png" ] {
  --overlay-image: url("https://i.imgur.com/agq46N7.png");
}

/* Kazuhiro Watanabe */
.b-image[data-attrs *= "https://i.imgur.com/b0PNXer.png" ] {
  --overlay-image: url("https://i.imgur.com/taPwiQ9.png");
}

/* Asriel */
.b-image[data-attrs *= "https://i.imgur.com/d7E0oaM.png" ] {
  --overlay-image: url("https://i.imgur.com/ILMIAEz.png");
}

/* Anna Tsuchya */
.b-image[data-attrs *= "https://i.imgur.com/qEUgoT6.png" ] {
  --overlay-image: url("https://i.imgur.com/54qTKuT.png");
}

/* Mana Malice Mizer */
.b-image[data-attrs *= "https://i.imgur.com/YBddUus.png" ] {
  --overlay-image: url("https://i.imgur.com/DqZERhb.png");
}

/* MUCC */
.b-image[data-attrs *= "https://i.imgur.com/QX6snMU.png" ] {
  --overlay-image: url("https://i.imgur.com/Am59ruR.png");
}

/* tommyheavenly6 */
.b-image[data-attrs *= "https://i.imgur.com/uCokwt9.png" ] {
  --overlay-image: url("https://i.imgur.com/ftj5XRT.png");
}

/* sukekiyo */
.b-image[data-attrs *= "https://i.imgur.com/oJqz8so.png" ] {
  --overlay-image: url("https://i.imgur.com/R5gqMKh.png");
}

/*  */
.b-image[data-attrs *= "" ] {
  --overlay-image: url("");
}
