/* KAGEAKI */
[href*="shikimori.rip/characters/91703-"] {
  --show-default: 0;
  --custom-image: url(https://randart.ru/art/TiraRemy/minato-kageaki/);
}
[href*="shikimori.fi/characters/91703-"] {
  --show-default: 0;
  --custom-image: url(https://randart.ru/art/TiraRemy/minato-kageaki/);
}
/* ZEROZAKI */
[href*="shikimori.rip/characters/34293-"] {
  --show-default: 0;
  --custom-image: url(https://randart.ru/art/TiraRemy/hitoshiki-zerozaki/);
}
[href*="shikimori.fi/characters/34293-"] {
  --show-default: 0;
  --custom-image: url(https://randart.ru/art/TiraRemy/hitoshiki-zerozaki/);
}
/* CAIM */
[href*="shikimori.rip/characters/109471-"] {
  --show-default: 0;
  --custom-image: url(https://randart.ru/art/TiraRemy/caim/);
}
[href*="shikimori.fi/characters/109471-"] {
  --show-default: 0;
  --custom-image: url(https://randart.ru/art/TiraRemy/caim/);
}
/* SOUJIROU */
[href*="shikimori.rip/characters/61129-"] {
  --show-default: 0;
  --custom-image: url(https://randart.ru/art/TiraRemy/soujuurou/);
}
[href*="shikimori.fi/characters/61129-"] {
  --show-default: 0;
  --custom-image: url(https://randart.ru/art/TiraRemy/soujuurou/);
}
/* SHINOBU */
[href*="shikimori.rip/characters/23602-"] {
  --show-default: 0;
  --custom-image: url(https://randart.ru/art/TiraRemy/oshino-shinobu/);
}
[href*="shikimori.fi/characters/23602-"] {
  --show-default: 0;
  --custom-image: url(https://randart.ru/art/TiraRemy/oshino-shinobu/);
}
/* KURISU */
[href*="shikimori.rip/characters/34470-"] {
  --show-default: 0;
  --custom-image: url(https://randart.ru/art/TiraRemy/kurisu-makise/);
}
[href*="shikimori.fi/characters/34470-"] {
  --show-default: 0;
  --custom-image: url(https://randart.ru/art/TiraRemy/kurisu-makise/);
}
/* JUN */
[href*="shikimori.rip/characters/29595-"] {
  --show-default: 0;
  --custom-image: url(https://randart.ru/art/TiraRemy/aikawa-jun/);
}
[href*="shikimori.fi/characters/29595-"] {
  --show-default: 0;
  --custom-image: url(https://randart.ru/art/TiraRemy/aikawa-jun/);
}
/* MAYA */
[href*="shikimori.rip/characters/126857-"] {
  --show-default: 0;
  --custom-image: url(https://randart.ru/art/TiraRemy/maya-amano/);
}
[href*="shikimori.fi/characters/126857-"] {
  --show-default: 0;
  --custom-image: url(https://randart.ru/art/TiraRemy/maya-amano/);
}
