/* RANOBE */
/* Monogatari Series: Second Season */
[href*="ranobe/z23751-"] {
  --show-default: 0;
  --custom-image: url(https://i.imgur.com/1Mif0xo.png);
}
[href*="ranobe/z23751-"]:hover {
  --show-default: 0;
  --custom-image: url(https://i.imgur.com/D6GaknC.png);
}

/* Zaregoto Series */
[href*="ranobe/9726-"] {
  --show-default: 0;
  --custom-image: url(https://i.imgur.com/TSEQ79s.png);
}
[href*="ranobe/9726-"]:hover {
  --show-default: 0;
  --custom-image: url(https://i.imgur.com/AdW6z5c.png);
}

/* Ookami to Koushinryou */
[href*="ranobe/9115-"] {
  --show-default: 0;
  --custom-image: url(https://i.imgur.com/UYOr1eV.png);
}
[href*="ranobe/9115-"]:hover {
  --show-default: 0;
  --custom-image: url(https://i.imgur.com/D3TOpEx.png);
}

/* Devil Summoner: Kuzunoha Raidou vs Shibito Ekishi */
[href*="ranobe/76973-"] {
  --show-default: 0;
  --custom-image: url(https://i.imgur.com/tFPkQrQ.png);
}
[href*="ranobe/76973-"]:hover {
  --show-default: 0;
  --custom-image: url(https://i.imgur.com/5bDWMuo.png);
}

/* Mahoutsukai no Yoru */
[href*="ranobe/26027-"] {
  --show-default: 0;
  --custom-image: url(https://i.imgur.com/zp7SQW5.png);
}
[href*="ranobe/26027-"]:hover {
  --show-default: 0;
  --custom-image: url(https://i.imgur.com/WPwHyJx.png);
}

/* Sekai Series */
[href*="ranobe/21115-"] {
  --show-default: 0;
  --custom-image: url(https://i.imgur.com/7RKT9M2.png);
}
[href*="ranobe/21115-"]:hover {
  --show-default: 0;
  --custom-image: url(https://i.imgur.com/boLR8HG.png);
}

/* Ginga Eiyuu Densetsu */
[href*="ranobe/6978-"] {
  --show-default: 0;
  --custom-image: url(https://i.imgur.com/KmoYcvl.png);
}
[href*="ranobe/6978-"]:hover {
  --show-default: 0;
  --custom-image: url(https://i.imgur.com/X7yGuBn.png);
}

/* Phenomeno */
[href*="ranobe/45347-"] {
  --show-default: 0;
  --custom-image: url(https://i.imgur.com/uQNhuzm.png);
}
[href*="ranobe/45347-"]:hover {
  --show-default: 0;
  --custom-image: url(https://i.imgur.com/UnkUiYl.png);
}

/* Jingai Makyou */
[href*="ranobe/59709-"] {
  --show-default: 0;
  --custom-image: url(https://i.imgur.com/H0cizJR.png);
}
[href*="ranobe/59709-"]:hover {
  --show-default: 0;
  --custom-image: url(https://i.imgur.com/ofHCNts.png);
}

/* Boukyaku Tantei */
[href*="ranobe/94175-"] {
  --show-default: 0;
  --custom-image: url(https://i.imgur.com/F5CkiHW.png);
}
[href*="ranobe/94175-"]:hover {
  --show-default: 0;
  --custom-image: url(https://i.imgur.com/RMABCUl.png);
}

/* Cop Craft */
[href*="ranobe/23958-"] {
  --show-default: 0;
  --custom-image: url(https://i.imgur.com/088y0Hv.png);
}
[href*="ranobe/23958-"]:hover {
  --show-default: 0;
  --custom-image: url(https://i.imgur.com/EXYfX7V.png);
}

/* Hathaway's Flash */
[href*="ranobe/5206-"] {
  --show-default: 0;
  --custom-image: url(https://i.imgur.com/VtWelcf.png);
}
[href*="ranobe/5206-"]:hover {
  --show-default: 0;
  --custom-image: url(https://i.imgur.com/Y6jaZNW.png);
}

/* S&M */
[href*="ranobe/169425-"] {
  --show-default: 0;
  --custom-image: url(https://i.imgur.com/b0Ustb9.png);
}
[href*="ranobe/169425-"]:hover {
  --show-default: 0;
  --custom-image: url(https://i.imgur.com/zhsNEWR.png);
}

/* Densetsu */
[href*="ranobe/187831-"] {
  --show-default: 0;
  --custom-image: url(https://i.imgur.com/m0LAu74.png);
}
[href*="ranobe/187831-"]:hover {
  --show-default: 0;
  --custom-image: url(https://i.imgur.com/m0LAu74.png);
}

/* Decoration Disorder Disconnection */
[href*="ranobe/15486-"] {
  --show-default: 0;
  --custom-image: url(https://i.imgur.com/NZLPvsq.png);
}
[href*="ranobe/15486-"]:hover {
  --show-default: 0;
  --custom-image: url(https://i.imgur.com/0jEyNaq.png);
}

/* Shin Honkaku Mahou Shoujo Risuka */
[href*="ranobe/15200-"] {
  --show-default: 0;
  --custom-image: url(https://i.imgur.com/cxVto2P.png);
}
[href*="ranobe/15200-"]:hover {
  --show-default: 0;
  --custom-image: url(https://i.imgur.com/yHOd1fV.png);
}

/* Vampire Hunter D */
[href*="ranobe/1360-"] {
  --show-default: 0;
  --custom-image: url(https://i.imgur.com/MoaLfWu.png);
}
[href*="ranobe/1360-"]:hover {
  --show-default: 0;
  --custom-image: url(https://i.imgur.com/rDrGmek.png);
}

/* Juuni Kokuki */
[href*="ranobe/3807-"] {
  --show-default: 0;
  --custom-image: url(https://i.imgur.com/LkWKVq6.png);
}
[href*="ranobe/3807-"]:hover {
  --show-default: 0;
  --custom-image: url(https://i.imgur.com/I9bVnHD.png);
}

/* Ningen Series */
[href*="ranobe/18162-"] {
  --show-default: 0;
  --custom-image: url(https://i.imgur.com/fNHAbAQ.png);
}
[href*="ranobe/18162-"]:hover {
  --show-default: 0;
  --custom-image: url(https://i.imgur.com/5HLZhB1.png);
}

/* Saikyou Series */
[href*="ranobe/87518-"] {
  --show-default: 0;
  --custom-image: url(https://i.imgur.com/SJPeQ5F.png);
}
[href*="ranobe/87518-"]:hover {
  --show-default: 0;
  --custom-image: url(https://i.imgur.com/8p1VTr7.png);
}

/* Shibou Yuugi de Meshi wo Kuu. */
[href*="ranobe/160251-"] {
  --show-default: 0;
  --custom-image: url(https://i.imgur.com/B9vO317.png);
}
[href*="ranobe/160251-"]:hover {
  --show-default: 0;
  --custom-image: url(https://i.imgur.com/BqjhNAF.png);
}

/*  */
[href*="ranobe/-"] {
  --show-default: 0;
  --custom-image: url();
}
[href*="ranobe/-"]:hover {
  --show-default: 0;
  --custom-image: url();
}
