/* RANOBE */
/* Monogatari Series: Second Season */
[href*="ranobe/z23751-"] {
  --show-default: 0;
  --custom-image: url(https://i.imgur.com/1Mif0xo.png);
}
[href*="ranobe/z23751-"]:hover {
  --show-default: 0;
  --custom-image: url(https://i.imgur.com/D6GaknC.png);
}

/* Zaregoto Series */
[href*="ranobe/9726-"] {
  --show-default: 0;
  --custom-image: url(https://i.imgur.com/TSEQ79s.png);
}
[href*="ranobe/9726-"]:hover {
  --show-default: 0;
  --custom-image: url(https://i.imgur.com/AdW6z5c.png);
}

/* Ookami to Koushinryou */
[href*="ranobe/9115-"] {
  --show-default: 0;
  --custom-image: url(https://i.imgur.com/UYOr1eV.png);
}
[href*="ranobe/9115-"]:hover {
  --show-default: 0;
  --custom-image: url(https://i.imgur.com/D3TOpEx.png);
}

/* Devil Summoner: Kuzunoha Raidou vs Shibito Ekishi */
[href*="ranobe/76973-"] {
  --show-default: 0;
  --custom-image: url(https://i.imgur.com/tFPkQrQ.png);
}
[href*="ranobe/76973-"]:hover {
  --show-default: 0;
  --custom-image: url(https://i.imgur.com/5bDWMuo.png);
}

/* Mahoutsukai no Yoru */
[href*="ranobe/26027-"] {
  --show-default: 0;
  --custom-image: url(https://i.imgur.com/zp7SQW5.png);
}
[href*="ranobe/26027-"]:hover {
  --show-default: 0;
  --custom-image: url(https://i.imgur.com/WPwHyJx.png);
}

/* Sekai Series */
[href*="ranobe/21115-"] {
  --show-default: 0;
  --custom-image: url(https://i.imgur.com/7RKT9M2.png);
}
[href*="ranobe/21115-"]:hover {
  --show-default: 0;
  --custom-image: url(https://i.imgur.com/boLR8HG.png);
}

/* Ginga Eiyuu Densetsu */
[href*="ranobe/6978-"] {
  --show-default: 0;
  --custom-image: url(https://i.imgur.com/KmoYcvl.png);
}
[href*="ranobe/6978-"]:hover {
  --show-default: 0;
  --custom-image: url(https://i.imgur.com/X7yGuBn.png);
}

/* Phenomeno */
[href*="ranobe/45347-"] {
  --show-default: 0;
  --custom-image: url(https://i.imgur.com/uQNhuzm.png);
}
[href*="ranobe/45347-"]:hover {
  --show-default: 0;
  --custom-image: url(https://i.imgur.com/UnkUiYl.png);
}

/* Jingai Makyou */
[href*="ranobe/59709-"] {
  --show-default: 0;
  --custom-image: url(https://i.imgur.com/H0cizJR.png);
}
[href*="ranobe/59709-"]:hover {
  --show-default: 0;
  --custom-image: url(https://i.imgur.com/ofHCNts.png);
}

/* Boukyaku Tantei */
[href*="ranobe/94175-"] {
  --show-default: 0;
  --custom-image: url(https://i.imgur.com/F5CkiHW.png);
}
[href*="ranobe/94175-"]:hover {
  --show-default: 0;
  --custom-image: url(https://i.imgur.com/RMABCUl.png);
}

/* Cop Craft */
[href*="ranobe/23958-"] {
  --show-default: 0;
  --custom-image: url(https://i.imgur.com/088y0Hv.png);
}
[href*="ranobe/23958-"]:hover {
  --show-default: 0;
  --custom-image: url(https://i.imgur.com/x7x8gBW.png);
}

/* Hathaway's Flash */
[href*="ranobe/5206-"] {
  --show-default: 0;
  --custom-image: url(https://i.imgur.com/VtWelcf.png);
}
[href*="ranobe/5206-"]:hover {
  --show-default: 0;
  --custom-image: url(https://i.imgur.com/Y6jaZNW.png);
}

/*  */
[href*="ranobe/-"] {
  --show-default: 0;
  --custom-image: url();
}
[href*="ranobe/-"]:hover {
  --show-default: 0;
  --custom-image: url();
}
