/* FORCE POINTER SWITCHER */
html body .l-page .use-tabs[data-div] [data-dynamic="switcher"],
html body .l-page .use-tabs[data-div] [data-dynamic="switcher"] *,
html body .l-page .use-tabs[data-div] [data-switcher],
html body .l-page .use-tabs[data-div] [data-switcher] * {
  cursor: var(--cursor-pointer) 0 0, pointer !important;
}
/* POINTER BUTTON */
html body [role="button"],
html body [role="button"] *,
html body [data-switcher],
html body [data-switcher] *,
html body [data-dynamic="switcher"],
html body [data-dynamic="switcher"] * {
  cursor: var(--cursor-pointer) 0 0, pointer !important;
}
/* TEXT CURSOR */
html body input[type="text"],
html body input[type="search"],
html body input[type="email"],
html body input[type="password"],
html body input[type="tel"],
html body input[type="url"],
html body input[type="number"],
html body textarea,
html body [contenteditable="true"],
html body [contenteditable] {
  cursor: var(--cursor-text) 0 0, text !important;
}
/* Настройки */
:root {
  /* Курсор по умолчанию */
  --cursor-default: url("https://i.imgur.com/i1ONKct.png");
  /* Курсор при наведении */
  --cursor-pointer: url("https://i.imgur.com/A5GjejX.png");
  /* Курсор текст */
  --cursor-text: url("https://i.imgur.com/5TrbOW6.png");
}
