/* RIP ONLY */
body[data-locale="en"] .boolean.optional.user_preferences_hide_shiki_comments label[for="user_preferences_hide_shiki_comments"].checkbox {
    font-size: 0;
}
body[data-locale="en"] .boolean.optional.user_preferences_hide_shiki_comments label[for="user_preferences_hide_shiki_comments"].checkbox::after {
    content: "RIP Only";
    font-size: 14px;
    color: var(--dark-color);
}
/* VN LIST */
body[data-locale="en"] .b-stats_bar.visual_novel .stat_name[data-type="planned"] a { font-size: 0; }
body[data-locale="en"] .b-stats_bar.visual_novel .stat_name[data-type="planned"] a::before {
    content: "Planned to play";
    font-size: 11px;
    color: var(--dark-color);
}
body[data-locale="en"] .b-stats_bar.visual_novel .stat_name[data-type="watching,rewatching"] a { font-size: 0; }
body[data-locale="en"] .b-stats_bar.visual_novel .stat_name[data-type="watching,rewatching"] a::before {
    content: "Playing";
    font-size: 11px;
    color: var(--dark-color);
}
body[data-locale="en"] .b-stats_bar.visual_novel .stat_name[data-type="completed"] a { font-size: 0; }
body[data-locale="en"] .b-stats_bar.visual_novel .stat_name[data-type="completed"] a::before {
    content: "Completed";
    font-size: 11px;
    color: var(--dark-color);
}
body[data-locale="en"] .b-stats_bar.visual_novel .stat_name a .size {
    font-size: 11px;
    color: var(--dark-color);
    margin-left: 5px;
}
body[data-locale="en"] .b-stats_bar.visual_novel a.title {
    font-size: 0;
}
body[data-locale="en"] .b-stats_bar.visual_novel a.title::before {
    content: "Visual Novel List";
    font-size: 15px;
    color: var(--white-color);
}
/* SUBMENUS */
body[data-locale="en"] .submenu a.icon-visual_novel_list .text {
    font-size: 0;
}
body[data-locale="en"] .submenu a.icon-visual_novel_list .text::before {
    content: "VN List";
    font-size: 13px;
    color: var(--white-color);
    position: relative;
    top: 0.25rem;       /* 4px / 16 */
    left: 0.1875rem;    /* 3px / 16 */
}
body[data-locale="en"] .lifetime.b-stats_bar .title .label {
    font-size: 0;
}
body[data-locale="en"] .lifetime.b-stats_bar .title .label::before {
    content: "Time spent on media";
    font-size: 15px;
    color: var(--dark-color);
}
/* FAVORITES */
body[data-locale="en"]#profiles_favorites .subheadline:has(+.cc-favourites>.c-anime)::after {
  content: "ANIME";
  font-size: 16px;
  vertical-align: top;
  display: block !important;
  text-align: center;
  width: 100%;
}
body[data-locale="en"]#profiles_favorites .subheadline:has(+.cc-favourites>.c-manga.entry-104)::after {
  content: "MANGA";
  font-size: 16px;
  vertical-align: top;
  display: block !important;
  text-align: center;
  width: 100%;
}

body[data-locale="en"]#profiles_favorites .subheadline:has(+.cc-favourites>.c-manga.entry-9726)::after {
  content: "NOVELS";
  font-size: 16px;
  vertical-align: top;
  display: block !important;
  text-align: center;
  width: 100%;
}

body[data-locale="en"]#profiles_favorites .subheadline:has(+.cc-favourites>.c-visual_novel)::after {
  content: "VISUAL NOVELS";
  font-size: 16px;
  vertical-align: top;
  display: block !important;
  text-align: center;
  width: 100%;
}

body[data-locale="en"]#profiles_favorites .subheadline:has(+.cc-favourites>.c-person.entry-118)::after {
  content: "SEIYU";
  font-size: 16px;
  vertical-align: top;
  display: block !important;
  text-align: center;
  width: 100%;
}

body[data-locale="en"]#profiles_favorites .subheadline:has(+.cc-favourites>.c-person.entry-2009)::after {
  content: "DIRECTORS";
  font-size: 16px;
  vertical-align: top;
  display: block !important;
  text-align: center;
  width: 100%;
}

body[data-locale="en"]#profiles_favorites .subheadline:has(+.cc-favourites>.c-person.entry-8213)::after {
  content: "AUTEURS";
  font-size: 16px;
  vertical-align: top;
  display: block !important;
  text-align: center;
  width: 100%;
}

body[data-locale="en"]#profiles_favorites .subheadline:has(+.cc-favourites>.c-person.entry-2967)::after {
  content: "ARTISTS / ILLUSTRATORS";
  font-size: 16px;
  vertical-align: top;
  display: block !important;
  text-align: center;
  width: 100%;
}

body[data-locale="en"]#profiles_favorites .block > .cc-favourites:has(.c-person.entry-8213)::before {
  content: "MUSICIANS / PRODUCERS / SOUND DIRECTORS";
  display: block !important;
  padding-top: 2px;
}

body[data-locale="en"]#profiles_favorites .block > .cc-favourites:has(.c-person.entry-5089)::before {
  content: "ANIMATORS";
  display: block !important;
  padding-top: 2px;
}

body[data-locale="en"]#profiles_favorites .cc-favourites:has(>.c-character)::before {
  content: "FEMALE CHARACTERS";
  display: block !important;
  padding-top: 2px;
}

body[data-locale="en"]#profiles_favorites .subheadline:has(+.cc-favourites>.c-character)::after {
  content: "MALE CHARACTERS";
  font-size: 16px;
  vertical-align: top;
  display: block !important;
  text-align: center;
  width: 100%;
}
