/* Sheena Ringo / Tokyo Jihen */
a[href$="N3Wq2iU.png"] {
  pointer-events: none;
}

/* Boris */
a[href$="5KpBa5N.png"] {
  pointer-events: none;
}

/* Mariko Gotō / Midori */
a[href$="Rq0MdLD.png"] {
  pointer-events: none;
}

/* Yasuyuki Okamura */
a[href$="pc6nod3.png"] {
  pointer-events: none;
}

/* MIYAVI */
a[href$="9RNOqo9.png"] {
  pointer-events: none;
}

/* Shikao Suga */
a[href$="BriuFjs.png"] {
  pointer-events: none;
}

/* ATARASHII GAKKO! */
a[href$="sjKxG1N.png"] {
  pointer-events: none;
}

/* DAOKO */
a[href$="7lLnzG2.png"] {
  pointer-events: none;
}

/* BOOM BOOM SATELLITES */
a[href$="zGOBRmL.png"] {
  pointer-events: none;
}

/* Tricot */
a[href$="OZCvfM1.png"] {
  pointer-events: none;
}

/* Atsushi Sakurai / BUCK-TICK */
a[href$="0XouBxK.png"] {
  pointer-events: none;
}

/* Yasushi Ishii */
a[href$="hYu1zb4.png"] {
  pointer-events: none;
}

/* Fishmans */
a[href$="rBKFREJ.png"] {
  pointer-events: none;
}

/* Number Girl */
a[href$="GkYyGi9.png"] {
  pointer-events: none;
}

/* Shinsei Kamattechan */
a[href$="sY31HvB.png"] {
  pointer-events: none;
}

/* Daiki Tsuneta */
a[href$="6fqYbsc.png"] {
  pointer-events: none;
}

/* the pillows */
a[href$="7zJp7h0.png"] {
  pointer-events: none;
}

/* RHYMESTER */
a[href$="tvnaqol.png"] {
  pointer-events: none;
}

/* toe */
a[href$="eRJW6VQ.png"] {
  pointer-events: none;
}

/* Eikichi Yazawa */
a[href$="VSYc21Y.png"] {
  pointer-events: none;
}

/* Yellow Magic Orchestra */
a[href$="u8GaNmu.png"] {
  pointer-events: none;
}

/* Kazunobu Mineta / GING NANG BOYZ */
a[href$="3tvkYCW.png"] {
  pointer-events: none;
}

/* Kinoko Teikoku */
a[href$="0OcxI8s.png"] {
  pointer-events: none;
}

/* Otoboke Beaver */
a[href$="5byHrCG.png"] {
  pointer-events: none;
}

/* Keigo Oyamada / Cornelius */
a[href$="Lm22rRZ.png"] {
  pointer-events: none;
}

/*  */
a[href$=""] {
  pointer-events: none;
}
